@import "_custom/common";
@import "_custom/components/btn-shadow";

// Create sprite using Compass
@import "compass/utilities/sprites";
 
// Required for correct operation, must be named same as the sprite
$flash-essentials-spacing: 40px; 

@import "training/adobe/flash/flash-essentials/*.png";  

.flash-essentials-course {
    $map: sprite-map("training/adobe/flash/flash-essentials/*.png", $spacing: $flash-essentials-spacing); /*empty comment*/ 
    $sprite-width: 200px;
    $sprite-height: 739px;

    .fl-essentials-framed {  
        @include flash-essentials-sprite(fl-essentials-framed); 
        @include responsive-sprite($map, fl-essentials-framed, $sprite-width, $sprite-height, 5.8%);
        min-width: 55px;
        min-height: 55px;
    } 

    .course-classrom { 
        @include flash-essentials-sprite(course-classrom); 
        @include responsive-sprite($map, course-classrom, $sprite-width, $sprite-height, 5.8%);
        width: 77%; 
        padding-bottom: 42%;
        border: 1px solid #000;
        margin-top: 5px;
        margin-left: 12px;
    }
 
    .pdf {
        @include flash-essentials-sprite(pdf); 
        @include responsive-sprite($map, pdf, $sprite-width, $sprite-height, 5.8%);
        min-width: 32px;
        min-height: 32px;
        top: -3px;
    }

    .course-custom-training-logo {
        // Don't forget to change the name of the image for every page
        @include flash-essentials-sprite(custom-training); 
        @include responsive-sprite($map, custom-training, $sprite-width, $sprite-height, 100%);

 
        @media screen and (min-width: 420px) and (max-width: 639px) { 
           @include responsive-sprite($map, custom-training, $sprite-width, $sprite-height, 65%);
        }

        border: 1px solid #686F74; 
    }

    .fl-banners {
        @include flash-essentials-sprite(fl-banners); 
        @include responsive-sprite($map, fl-banners, $sprite-width, $sprite-height, 5.8%);
        margin-left: 15px;
        min-width: 65px;
        min-height: 63px; 
    }

    .fl-actionscript {
        @include flash-essentials-sprite(fl-actionscript); 
        @include responsive-sprite($map, fl-actionscript, $sprite-width, $sprite-height, 5.8%);
        margin-left: 15px;
        min-width: 65px;
        min-height: 63px;    
    }

    .eg-essentials {
        @include flash-essentials-sprite(eg-essentials); 
        @include responsive-sprite($map, eg-essentials, $sprite-width, $sprite-height, 5.8%);
        margin-bottom: 0 !important;
        margin-left: 15px;
        min-width: 45px;
        min-height: 71px;    
    }

    @include btn-shadow($flash-color);
}