@import "_custom/common";
@import "_custom/components/btn-shadow";

// Create sprite using Compass
@import "compass/utilities/sprites";
 
// Required for correct operation, must be named same as the sprite
$flash-web-banners-spacing: 40px; 

@import "training/adobe/flash/flash-web-banners/*.png";  

.flash-web-banners-course {
    $map: $flash-web-banners-sprites;

    .fl-banners {  
        @include flash-web-banners-sprite(fl-banners); 
        @include responsive-sprite($map, fl-banners, 5.8%);
        min-width: 76px;
        min-height: 55px;
    } 

    .course-classrom { 
        @include flash-web-banners-sprite(course-classrom); 
        @include responsive-sprite($map, course-classrom, 5.8%);
        width: 77%; 
        padding-bottom: 42%;
        border: 1px solid #000;
        margin-top: 5px;
        margin-left: 12px;
    }
 
    .pdf {
        @include flash-web-banners-sprite(pdf); 
        @include responsive-sprite($map, pdf, 5.8%);
        min-width: 32px;
        min-height: 32px;
        top: -3px;
    }

    .course-custom-training-logo {
         
        @include flash-web-banners-sprite(custom-training); 
        @include responsive-sprite($map, custom-training, 100%);

 
        @media screen and (min-width: 420px) and (max-width: 639px) { 
           @include responsive-sprite($map, custom-training, 65%);
        }

        border: 1px solid #686F74; 
    }

    .eg-essentials {
        @include flash-web-banners-sprite(eg-essentials); 
        @include responsive-sprite($map, eg-essentials, 5.8%);
        margin-bottom: 0 !important;
        margin-left: 20px;
        min-width: 45px;
        min-height: 71px;    
    }

    .fl-essentials {
        @include flash-web-banners-sprite(fl-essentials); 
        @include responsive-sprite($map, fl-essentials, 5.8%);
        margin-left: 20px;
        min-width: 48px;
        min-height: 61px;    
    }
     .testimonials {
        height: auto;
    }
    @include btn-shadow($flash-color);
}