@import "_custom/common";
@import "_custom/components/btn-shadow";

// Create sprite using Compass
@import "compass/utilities/sprites";
 
// Required for correct operation, must be named same as the sprite
$edge-animate-essentials-spacing: 40px; 

@import "training/web-design-development/edge-animate/edge-animate-essentials/*.png";  

.edge-animate-essentials-course {
    $map: $edge-animate-essentials-sprites;

    .eg-essentials-framed {  
        @include edge-animate-essentials-sprite(eg-essentials-framed); 
        @include responsive-sprite($map, eg-essentials-framed , 5.8%);
        min-width: 55px;
        min-height: 55px;
    } 

    .course-classrom { 
        @include edge-animate-essentials-sprite(course-classrom); 
        @include responsive-sprite($map, course-classrom , 5.8%);
        width: 77%; 
        padding-bottom: 42%;
        border: 1px solid #000;
        margin-top: 5px;
        margin-left: 12px;
    }
 
    .pdf {
        @include edge-animate-essentials-sprite(pdf); 
        @include responsive-sprite($map, pdf , 5.8%);
        min-width: 32px;
        min-height: 32px;
        top: -3px;
    }

    .course-custom-training-logo {
         
        @include edge-animate-essentials-sprite(custom-training); 
        @include responsive-sprite($map, custom-training , 100%);

 
        @media screen and (min-width: 420px) and (max-width: 639px) { 
           @include responsive-sprite($map, custom-training , 65%);
        }

        border: 1px solid #686F74; 
    }

    @mixin package-training-logo {
        margin: -5px 15px 15px;
        min-width: 36px;
        min-height: 36px;
    }   

    .dps-package {
        @include edge-animate-essentials-sprite(dps-package); 
        @include responsive-sprite($map, dps-package , 5.8%);

        @include package-training-logo; 
    }

    .eg-essentials {
        @include edge-animate-essentials-sprite(eg-essentials); 
        @include responsive-sprite($map, eg-essentials , 5.8%);

        @include package-training-logo; 
    }
    .testimonials {
        height: 15em;
    }

    @include btn-shadow($edge-animate-color);
}