
%banner-height {
    min-height: $base-line-height * 3;
}

.header-banner{
    @extend %banner-height;

    background-color: #6c6c6c;
    color: #fff;
    border-bottom: #383838 ($base-line-height / 2) solid;
}

.book-now-col {
    @extend %banner-height;
}

.header-banner-container {
    position: relative;
    overflow: visible;
    z-index: 1;
}

.cdt-logo {
    @extend %banner-height;
}

.book-now {
    float: right;
    margin-right: -2.5em;
    height: 100%;
}

.years-in-bussiness{
    position: absolute;
    z-index: 1000;
}
