
/*http://blog.teamtreehouse.com/the-ecstasy-and-agony-of-compass-sprite-generation-part-1*/

// Create sprite using Compass
@import "compass/utilities/sprites";
@import "header-footer/*.png";
 
$header-footer-spacing: 20px;

$cdt-logo-height: header-footer-sprite-height(cdt-logo);
$cdt-logo-width: header-footer-sprite-width(cdt-logo);

$aatc-logo-height: header-footer-sprite-height(aatc-logo);
$aatc-logo-width: header-footer-sprite-width(aatc-logo);

$book-now-height: header-footer-sprite-height(book-now);
$book-now-width: header-footer-sprite-width(book-now);

$years-in-business-height: header-footer-sprite-height(years-in-business);
$years-in-business-width: header-footer-sprite-width(years-in-business);

$banner-content-height: $book-now-height;
$banner-height-with-border: cdt-allign-to-number($banner-content-height, $base-line-height);

$banner-border-height: ($banner-height-with-border - $banner-content-height + $base-line-height);

.header-logos {
    .cdt-logo { 
        @include header-footer-sprite(cdt-logo); 

        height: $cdt-logo-height; 
        width: $cdt-logo-width;
        margin: (($banner-content-height - $cdt-logo-height) /2) 10px;
    }

    .aatc-logo { 
        @include header-footer-sprite(aatc-logo); 

        height: $aatc-logo-height; 
        width: $aatc-logo-width; 
        margin: (($banner-content-height - $aatc-logo-height) /2) 10px;
    }

    .book-now { 
        @include header-footer-sprite(book-now); 
        
        float: right;
        height: $book-now-height; 
        width: $book-now-width; 

        @media #{$medium-up} {
            margin-right: $years-in-business-width;
        }        
    }

    .years-in-business { 
        @include header-footer-sprite(years-in-business);

        height: $years-in-business-height; 
        width: $years-in-business-width; 
        position: absolute;
        z-index: 1000;
        right: 0;
    }

    .footer-logos-1    { @include header-footer-sprite(footer-logos-1);   }
    .footer-logos-2    { @include header-footer-sprite(footer-logos-2);   }
    .footer-logos-3    { @include header-footer-sprite(footer-logos-3);   }
    .footer-logos-4    { @include header-footer-sprite(footer-logos-4);   }
    .footer-logos-5    { @include header-footer-sprite(footer-logos-5);   }

    .training-text {
        @extend %t-medium;
        @extend %t-regular;
        margin: (($banner-content-height - ($base-line-height * 2)) / 2) 0;
        padding: 0;
        display: none;

        @include breakpoint($cdt-custom-md-screen-width) {
            display: inherit;
            @include adjust-font-size-to($base-font-size);
        }
    }
}

.header-banner{
    background-color: #6c6c6c;
    color: #fff;
    //border-bottom: #4F4E4E solid ($banner-height-with-border - $banner-content-height + $base-line-height);
}
.contain-to-grid ul.right li.contact-no a {
    padding-left: 0;
    padding-right: 0;
    font-size: $base-font-size;
}



.header-banner-container {
    position: relative;
    overflow: visible;
    z-index: 99999;
}

body > div.mega-menu > div > div > ul > li > a > p {
    font-size: 12px !important;
    padding-top: 2px !important;
    color: #FFFFFF !important;
    @media #{$medium-up} {
		text-align: center;
	}
}

body > div.mega-menu > div > div > ul > li > a > p.two-line-menu {
    padding-top: 6px !important;
    color: #FFFFFF !important;
    @media #{$medium-up} {
		text-align: center;
	}
}

.addthis_horizontal_follow_toolbox {
    padding-top: 10px !important;
}
    
.book-pay-img {
	
	@media #{$large-up} {  
		padding: 30px 80px 0 80px;
	}

	
	@media #{$medium-only} { 
		padding: 30px 35px 0 35px;
	}
	
	@media #{$small-only} { 
		padding: 15px;
	}

}







