// Create sprite using Compass
@import "compass/utilities/sprites";
 
// Required for correct operation, must be named same as the sprite
$online-courses-category-spacing: 40px; 

@import "training/online-marketing/online-courses/online-courses-category/*.png"; 
.online-courses-category {
    $map: $online-courses-category-sprites;

    .online-social-media-course {
        @include online-courses-category-sprite(online-social-media-course); 
        @include responsive-sprite($map, online-social-media-course , 5.8%);
        margin-left: 15px;
        min-width: 56px;
        min-height: 55px;
    }

    .internet-marketing-logo {
        @include online-courses-category-sprite(internet-marketing-logo); 
        @include responsive-sprite($map, internet-marketing-logo , 5.8%);
        margin-left: 15px;

        min-width: 38px;
        min-height: 45px;    
    }

    .conversion-optimisation { 
        @include online-courses-category-sprite(conversion-optimisation); 
        @include responsive-sprite($map, conversion-optimisation, 5.8%);
        margin-left: 15px;

        min-width: 38px;
        min-height: 45px;    
    }

    .ppc {
        @include online-courses-category-sprite(ppc); 
        @include responsive-sprite($map, ppc, 5.8%);
        margin-left: 15px;

        min-width: 38px;
        min-height: 45px;    
    }

    .seo {
        @include online-courses-category-sprite(seo); 
        @include responsive-sprite($map, seo , 5.8%);
        margin-left: 15px;

        min-width: 38px;
        min-height: 44px;    
    }

    .social-media-logo {
        @include online-courses-category-sprite(social-media-logo); 
        @include responsive-sprite($map, social-media-logo, 5.8%);
        margin-left: 15px;

        min-width: 38px;
        min-height: 44px;    
    } 

    .web-analytics {
        @include online-courses-category-sprite(web-analytics); 
        @include responsive-sprite($map, web-analytics, 5.8%);
        margin-left: 15px;

        min-width: 38px;
        min-height: 44px;    
    } 
} 
