// Create sprite using Compass
@import "compass/utilities/sprites";
 
// Required for correct operation, must be named same as the sprite
$dreamweaver-category-spacing: 40px; 

@import "training/web-design-development/dreamweaver/dreamweaver-category/*.png"; 
.dreamweaver-category {
    $map: sprite-map("training/web-design-development/dreamweaver/dreamweaver-category/*.png", $spacing: $dreamweaver-category-spacing); /*empty comment*/ 
    $sprite-width: 185px;
    $sprite-height: 794px;

    .dw-essentials-framed { 
        @include dreamweaver-category-sprite(dw-essentials-framed); 
        @include responsive-sprite($map, dw-essentials-framed, $sprite-width, $sprite-height, 5.8%);
        min-width: 56px;
        min-height: 58px;
    } 

    .category-custom-training {
         
        @include dreamweaver-category-sprite(custom-training); 
        @include responsive-sprite($map, custom-training, $sprite-width, $sprite-height, 100%);

        @media screen and (min-width: 420px) and (max-width: 639px) { 
            @include responsive-sprite($map, custom-training, $sprite-width, $sprite-height, 65%);
        }
        
        border: 1px solid #686F74; 
    }

    .dw-essentials {
        @include dreamweaver-category-sprite(dw-essentials); 
        @include responsive-sprite($map, dw-essentials, $sprite-width, $sprite-height, 5%);
        margin-left: 15px;

        min-width: 38px;
        min-height: 41px;    
    }

    .html-css { 
        @include dreamweaver-category-sprite(html-css); 
        @include responsive-sprite($map, html-css, $sprite-width, $sprite-height, 5%);
        margin-left: 15px;

        min-width: 38px;
        min-height: 44px;    
    }

    .html-ess {
        @include dreamweaver-category-sprite(html-ess); 
        @include responsive-sprite($map, html-ess, $sprite-width, $sprite-height, 5.8%);
        margin: 2px 0 0 15px;
        min-width: 37px;
        min-height: 38px;
    } 
    
    .mu-essentials {
        @include dreamweaver-category-sprite(mu-essentials); 
        @include responsive-sprite($map, mu-essentials, $sprite-width, $sprite-height, 5%);
        margin-left: 15px;

        min-width: 40px;
        min-height: 42px;
    }

    @mixin package-training-logo {
        margin: -8px 15px 15px 15px;
        min-width: 27px;
        min-height: 42px;
    }   

    .html5-package {        
        @include dreamweaver-category-sprite(html5-package); 
        @include responsive-sprite($map, html5-package, $sprite-width, $sprite-height, 3%);

        @include package-training-logo; 
    }

    .dreamweaver-package {        
        @include dreamweaver-category-sprite(dreamweaver-package); 
        @include responsive-sprite($map, dreamweaver-package, $sprite-width, $sprite-height, 3%);

        @include package-training-logo; 
    }

    .css3-package {        
        @include dreamweaver-category-sprite(css3-package); 
        @include responsive-sprite($map, css3-package, $sprite-width, $sprite-height, 1%);

        @include package-training-logo; 
    }
} 
