@import "_custom/common";
@import "_custom/components/btn-shadow";

// Create sprite using Compass
@import "compass/utilities/sprites";
 
// Required for correct operation, must be named same as the sprite
$dreamweaver-essentials-spacing: 40px; 

@import "training/web-design-development/dreamweaver/dreamweaver-essentials/*.png";  

.dreamweaver-essentials-course {
    $map: $dreamweaver-essentials-sprites;

    .dw-essentials-framed {  
        @include dreamweaver-essentials-sprite(dw-essentials-framed); 
        @include responsive-sprite($map, dw-essentials-framed , 5.8%);
        min-width: 55px;
        min-height: 55px;
    } 

    .course-classrom { 
        @include dreamweaver-essentials-sprite(course-classrom); 
        @include responsive-sprite($map, course-classrom , 5.8%);
        width: 77%; 
        padding-bottom: 42%;
        border: 1px solid #000;
        margin-top: 5px;
        margin-left: 12px;
    }
 
    .pdf {
        @include dreamweaver-essentials-sprite(pdf); 
        @include responsive-sprite($map, pdf , 5.8%);
        min-width: 32px;
        min-height: 32px;
        top: -3px;
    }

    .course-custom-training-logo {
         
        @include dreamweaver-essentials-sprite(custom-training); 
        @include responsive-sprite($map, custom-training , 100%);
 
 
        @media screen and (min-width: 420px) and (max-width: 639px) { 
           @include responsive-sprite($map, custom-training , 65%);
        }

        border: 1px solid #686F74; 
    }

    .html5css {
        @include dreamweaver-essentials-sprite(html5css); 
        @include responsive-sprite($map, html5css , 5.8%);
        margin-left: 15px;
        min-width: 50px;
        min-height: 50px;    
    }

    .html-css {
        @include dreamweaver-essentials-sprite(html-css); 
        @include responsive-sprite($map, html-css , 5.8%);
        margin-left: 15px;
        min-width: 50px;
        min-height: 50px;    
    }

    .html-ess {
        @include dreamweaver-essentials-sprite(html-ess); 
        @include responsive-sprite($map, html-ess , 5.8%);
        margin-left: 15px;
        min-width: 50px;
        min-height: 50px;    
    }

    @mixin package-training-logo {
        margin: -8px 15px 15px 15px;
        min-width: 27px;
        min-height: 42px;
    }   

    .css3-package {
        @include dreamweaver-essentials-sprite(css3-package); 
        @include responsive-sprite($map, css3-package , 5.8%);

        @include package-training-logo;  
    }

    .dreamweaver-package {
        @include dreamweaver-essentials-sprite(dreamweaver-package); 
        @include responsive-sprite($map, dreamweaver-package , 5.8%);

        @include package-training-logo; 
    }

    .html5-package {
        @include dreamweaver-essentials-sprite(html5-package); 
        @include responsive-sprite($map, html5-package , 5.8%);

        @include package-training-logo; 
    }

    @include btn-shadow(darken($dreamweaver-color, 10%));
}