@import "_custom/common";
@import "_custom/components/btn-shadow";

// Create sprite using Compass
@import "compass/utilities/sprites";
 
// Required for correct operation, must be named same as the sprite
$captivate-essentials-spacing: 40px; 

@import "training/captivate/captivate-essentials/*.png";  

.captivate-essentials-course {
    $map: sprite-map("training/captivate/captivate-essentials/*.png", $spacing: $captivate-essentials-spacing); /*empty comment*/ 
    $sprite-width: 200px;
    $sprite-height: 558px;

    .cp-ess {  
        @include captivate-essentials-sprite(cp-ess); 
        @include responsive-sprite($map, cp-ess, $sprite-width, $sprite-height, 5.8%);
        min-width: 55px;
        min-height: 55px;
    } 

    .course-classrom { 
        @include captivate-essentials-sprite(course-classrom); 
        @include responsive-sprite($map, course-classrom, $sprite-width, $sprite-height, 5.8%);
        width: 77%; 
        padding-bottom: 42%;
        border: 1px solid #000;
        margin-top: 5px;
        margin-left: 12px;
    }
 
    .pdf {
        @include captivate-essentials-sprite(pdf); 
        @include responsive-sprite($map, pdf, $sprite-width, $sprite-height, 5.8%);
        min-width: 32px;
        min-height: 32px;
        top: -3px;
    }

    .course-custom-training-logo {
        // Don't forget to change the name of the image for every page
        @include captivate-essentials-sprite(custom-training); 
        @include responsive-sprite($map, custom-training, $sprite-width, $sprite-height, 100%);

 
        @media screen and (min-width: 420px) and (max-width: 639px) { 
           @include responsive-sprite($map, custom-training, $sprite-width, $sprite-height, 65%);
        }

        border: 1px solid #686F74; 
    }

    .cp-adv {
        @include captivate-essentials-sprite(cp-adv); 
        @include responsive-sprite($map, cp-adv, $sprite-width, $sprite-height, 5.8%);
        margin-left: 8px;
        min-width: 63px;
        min-height: 63px;
    }

    @include btn-shadow($captivate-color);
}