// Importing fonts from google

@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700);
/*=================== Reponsive CSS for Homepage =================== */
body {
    font-family: Raleway, Helvetica, sans-serif;
}
.top-buffer {
    padding: 0.5em 0;
}
/* Background Colors */
.header-bg {
    padding: 0;
    margin: 0;
    background-color: #6c6c6c;
    background-image: url("../img/grey-background.png");
    background-repeat: repeat-x;
}
.social-media-bg {
    background-color: #2089D3;
}
.footer-bg {
    background-color: #343534;
}
/* Header Left */
.header-logo {
    height: 86px;
}
.header-logo img {
    padding-right: 15px;
}
.header {
    height: 86px;
}
/* Header Text */
.header-text {
    color: #FFF;
    font-size: 1em;
    font-weight: 500;
    height: 86px;
    padding-top: 1.0em;
}
/* Header Right */
.book-now {
    padding: 0 5px 0 0;
    margin: 0;
    float: left;
}
.header-right {
    padding: 0;
    height: 86px;
}
.header-right img {
    float: right;
}
/* Breadcrumb */
.breadcrumb {
    padding: 5px 5px 5px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    font-size: 12px;
}
.breadcrumb .active a {
    color: #333333;
}
/* Social Blue Bar */
.social-text h1{
    font-size: 1em;
    color: #FFF;
    margin-top: 10px;
    margin-bottom: 10px;
}
.social-icon {
    padding: 0.5em 0.5em 0 0;
}
/* Homepage Accordion */
.panel-default {
    border-color: #FFF;
}
/* Landing page banner - carousel slider - start */
.carousel-indicators {
    bottom: 3px;
    margin-bottom: 3px;
}
.carousel-control {
    width: 10%;
    font-size: 200px;
}
.background, 
.item {
    min-width: 100%;
}
.carousel-inner {
    max-height: 350px;
}
/* Courses images on the banner */
.courses-promo {
    top: 10px;
}
.courses-promo .lead {
    padding-bottom: 10px;
}
.thumbnail {
    background-color: transparent;
    border: none;
}
/* Welcome - first slide */
.carousel-caption-welcome-header {
    font-size: 35px;
    font-weight: 700;
}
.why-train-with-us {
    top: 50px; 
}
.carousel-caption-welcome-header,
.carousel-caption .lead {
    margin: 0;
}
.carousel-caption .btn {
    margin-bottom: 25px;
}
/* Learn - second to last slides */
.learn-img {
    max-width: 70px;
    max-height: 40px;
}
/* Course content - second to last slides */
.course-img-caption p {
    margin-top: -20px;
}
@media ( max-width: 1199px) {
    .carousel-caption-welcome-header{
        font-size: 25px;
    }
    .carousel-caption .lead {
        font-size: 18px;
    }	
    .courses-promo {
        top: 5px;
        right: 10% !important;
        left: 10% !important;
    }	
    .course-img-caption p {
        font-size: 12px;
    }
    .learn-img {
        max-width: 50px;
        max-height: 30px;
    }	
    .carousel-control {
        font-size: 150px;
    }
}

@media (max-width: 991px) {		
    .why-train-with-us {
        top: 2px;
    }	
    .course-img-caption {
        display: none;
    }		
    .carousel-caption-welcome-header{
        font-size: 21px;
    }	
    .why-train-with-us p {
        font-size: 10px; 
    }
}

@media (max-width: 767px) {
    .carousel-caption {
        padding-top: 5px;
        top: 7px;
    }	
    .carousel-caption .lead {
        font-size: 12px;
    }	
    .carousel-control {
        font-size: 90px;
    }
}

@media (max-width: 479px) {
    .why-train-with-us {
        top: 30px;
    }	
    .carousel-caption-welcome-header,
    .carousel-caption p {
        display: none;
    }	
    .carousel-control-img {
        height: 20px;
        width: 20px;
    }	
    .carousel-control {
        font-size: 60px;
    }
}
/* Landing page banner - carousel slider - end */

/* Footer CSS */
li {
    color: #FFF;
}
.footer li > a {
    color: #fff;
}
.footer li > a:hover {
    color: #2089D3;
}
.footer h3 {
    color: #FFF;
    font-size: 1.1em;
}
/* Homepage Navigation */
.home-nav {
    padding: 0;
    margin: 0;
}
.navbar-toggle {
    color: white;
    font-weight: bold;
    border-color: white;
}
.navbar-toggle:hover {
    background-color: #ddd;
    color: #2089D3;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar {
    position: inherit;
    min-height: 45px !important;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
/* Dropdown menu - start */
.dropdown-menu {
    font-size: 12px;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #9C9B9B;
}
/*
// Alternative styling - blue color when selected
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
color: #ddd;
text-decoration: none;
background-color: #2089D3;
}
*/.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/* Dropdown menu - end */

/* Accordion Content CSS */
#main-content #multiAccordion div.section-info {
    float: left;
    margin: 0;
}
a h3 {
    color: #3c3b3b;
    font-size: 1em;
    margin: 1em 0;
}
img.course-icon {
    margin: 0;
    padding: 0;
}
.courses-heading-container.col-xs-9 {
    padding: 0;
}
.home-accordion .panel-body div.col-lg-3 {
    padding-bottom: 2.5em;   
}
.home-accordion .panel-body .col-lg-3 p.col-xs-12 {
    font-size: 0.95em;   
}
.navbar {
    position: inherit;
    min-height: 45px !important;
}
.courses-heading-container a h3 {
    margin-top: 8px;
}