@import "_custom/common";
@import "_custom/components/btn-shadow";

// Create sprite using Compass
@import "compass/utilities/sprites";
 
// Required for correct operation, must be named same as the sprite
$acrobat-essentials-spacing: 40px; 

@import "training/adobe/acrobat/acrobat-essentials/*.png";  

.acrobat-essentials-course {
    $map: sprite-map("training/adobe/acrobat/acrobat-essentials/*.png", $spacing: $acrobat-essentials-spacing); /*empty comment*/ 
    $sprite-width: 200px;
    $sprite-height: 566px;

    .acrobat-essentials-framed {  
        @include acrobat-essentials-sprite(acrobat-essentials-framed); 
        @include responsive-sprite($map, acrobat-essentials-framed, $sprite-width, $sprite-height, 5.8%);
        min-width: 55px;
        min-height: 55px;
    } 

    .course-classrom { 
        @include acrobat-essentials-sprite(course-classrom); 
        @include responsive-sprite($map, course-classrom, $sprite-width, $sprite-height, 5.8%);
        width: 77%; 
        padding-bottom: 42%;
        border: 1px solid #000;
        margin-top: 5px;
        margin-left: 12px;
    }
 
    .pdf {
        @include acrobat-essentials-sprite(pdf); 
        @include responsive-sprite($map, pdf, $sprite-width, $sprite-height, 5.8%);
        min-width: 32px;
        min-height: 32px;
        top: -3px;
    }

    .course-custom-training-logo {
        @include acrobat-essentials-sprite(custom-training); 
        @include responsive-sprite($map, custom-training, $sprite-width, $sprite-height, 100%);

 
        @media screen and (min-width: 420px) and (max-width: 639px) { 
           @include responsive-sprite($map, custom-training, $sprite-width, $sprite-height, 65%);
        }

        border: 1px solid #686F74; 
    }

    .acrobat-pdfforms {
        @include acrobat-essentials-sprite(acrobat-pdfforms); 
        @include responsive-sprite($map, acrobat-pdfforms, $sprite-width, $sprite-height, 5.8%);

        margin-left: 12px;
        min-width: 65px;
        min-height: 84px; 
    }

    @include btn-shadow($acrobat-color);
}