@import "_custom/common";
@import "_custom/components/btn-shadow";

// Create sprite using Compass
@import "compass/utilities/sprites";
 
// Required for correct operation, must be named same as the sprite
$acrobat-pdfforms-spacing: 40px; 

@import "training/adobe/acrobat/acrobat-pdfforms/*.png";  

.acrobat-pdfforms-course {
    $map: sprite-map("training/adobe/acrobat/acrobat-pdfforms/*.png", $spacing: $acrobat-pdfforms-spacing); /*empty comment*/ 
    $sprite-width: 200px;
    $sprite-height: 566px;

    .acrobat-pdfforms {  
        @include acrobat-pdfforms-sprite(acrobat-pdfforms); 
        @include responsive-sprite($map, acrobat-pdfforms, $sprite-width, $sprite-height, 5.8%);
        margin-top: 16px !important;
        min-width: 55px;
        min-height: 55px;
    } 

    .course-classrom { 
        @include acrobat-pdfforms-sprite(course-classrom); 
        @include responsive-sprite($map, course-classrom, $sprite-width, $sprite-height, 5.8%);
        width: 77%; 
        padding-bottom: 42%;
        border: 1px solid #000;
        margin-top: 5px;
        margin-left: 12px;
    }
 
    .pdf {
        @include acrobat-pdfforms-sprite(pdf); 
        @include responsive-sprite($map, pdf, $sprite-width, $sprite-height, 5.8%);
        min-width: 32px;
        min-height: 32px;
        top: -3px;
    }

    .course-custom-training-logo {
         
        @include acrobat-pdfforms-sprite(custom-training); 
        @include responsive-sprite($map, custom-training, $sprite-width, $sprite-height, 100%);

 
        @media screen and (min-width: 420px) and (max-width: 639px) { 
           @include responsive-sprite($map, custom-training, $sprite-width, $sprite-height, 65%);
        }

        border: 1px solid #686F74; 
    }

    .acrobat-essentials {
        @include acrobat-pdfforms-sprite(acrobat-essentials); 
        @include responsive-sprite($map, acrobat-essentials, $sprite-width, $sprite-height, 5.8%);

        margin-left: 20px;
        min-width: 52px;
        min-height: 54px;
    }

    @include btn-shadow($acrobat-color);
}