@import "../../../components/training/category";
 
.acrobat-category {
    @include category($acrobat-color);

    // Media queries are not supported on older IE, to use borders on medium 
    // screens and up - define width in a way all browsers understand
    .tight-header-1 {
        @media #{$medium-up} {
            width: 440px;
        }
    }

    .tight-header-2 {
        @media #{$medium-up} {
            width: 306px;
        }
    } 

    .testimonials {
        height: 13em;
    }

    .course-item .course-item-description {
        height: 17em;
    }
} 
