// Create sprite using Compass
@import "compass/utilities/sprites";
 
// Required for correct operation, must be named same as the sprite
$acrobat-category-spacing: 40px; 

@import "training/adobe/acrobat/acrobat-category/*.png"; 
.acrobat-category {
    $map: $acrobat-category-sprites;

    .acrobat-essentials-framed { 
        @include acrobat-category-sprite(acrobat-essentials-framed); 
        @include responsive-sprite($map, acrobat-essentials-framed, 5.8%);
        min-width: 56px;
        min-height: 55px;
    } 

    .category-custom-training {
        @include acrobat-category-sprite(category-custom-training); 
        @include responsive-sprite($map, category-custom-training, 100%);

        @media screen and (min-width: 420px) and (max-width: 639px) { 
            @include responsive-sprite($map, category-custom-training, 65%);
        }
        
        border: 1px solid #686F74; 
    }

    .acrobat-essentials {
        @include acrobat-category-sprite(acrobat-essentials); 
        @include responsive-sprite($map, acrobat-essentials, 5%);
        margin-left: 15px;

        min-width: 38px;
        min-height: 45px;    
    }

    .acrobat-pdfforms {
        @include acrobat-category-sprite(acrobat-pdfforms); 
        @include responsive-sprite($map, acrobat-pdfforms, 5%);
        margin-left: 15px;
        margin-top: -5px;
        
        min-width: 38px;
        min-height: 50px;
    }
} 
