// Create sprite using Compass
@import "compass/utilities/sprites";
 
// Required for correct operation, must be named same as the sprite
$book-spacing: 40px; 

@import "shopping-cart/book/*.png"; 

.cdt-book {
    $map: $book-sprites;

    .acrobat-essentials {
        @include book-sprite(acrobat-essentials); 
        @include responsive-sprite($map, acrobat-essentials, 5.8%);
        margin-left: 15px;
        margin-top: 10px;

        min-width: 40px;
        min-height: 40px;    
    }

    .ae-essentials {
        @include book-sprite(ae-essentials); 
        @include responsive-sprite($map, ae-essentials, 5.8%);
        margin-left: 15px;
        margin-top: 10px;

        min-width: 40px;
        min-height: 40px;    
    }

    .custom-training-logo {
        @include book-sprite(custom-training); 
        @include responsive-sprite($map, custom-training, 100%);

 
        @media screen and (min-width: 420px) and (max-width: 639px) { 
           @include responsive-sprite($map, custom-training, 65%);
        }

        border: 1px solid #686F74; 
    }

    .book-and-pay {
        @include book-sprite(book-and-pay); 
        @include responsive-sprite($map, book-and-pay, 100%);

 
        @media screen and (min-width: 420px) and (max-width: 639px) { 
           @include responsive-sprite($map, book-and-pay, 65%);
        }

        margin-bottom: 16px;
    }

    .booking-step-1 {
        @include book-sprite(booking-step-1); 
        @include responsive-sprite($map, booking-step-1, 100%);
        margin-bottom: $margin-bottom-default;
    }

    .cp-ess {
        @include book-sprite(cp-ess); 
        @include responsive-sprite($map, cp-ess, 5.8%);
        margin-left: 15px;
        margin-top: 10px;

        min-width: 40px;
        min-height: 40px;    
    }

    .dw-essentials {
        @include book-sprite(dw-essentials); 
        @include responsive-sprite($map, dw-essentials, 5.8%);
        margin-left: 15px;
        margin-top: 10px;

        min-width: 40px;
        min-height: 40px;    
    }

    .eg-essentials {
        @include book-sprite(eg-essentials); 
        @include responsive-sprite($map, eg-essentials, 5.8%);
        margin-left: 15px;
        margin-top: 10px;

        min-width: 40px;
        min-height: 40px;    
    }

    .finalcut-ess {
        @include book-sprite(finalcut-ess); 
        @include responsive-sprite($map, finalcut-ess, 5.8%);
        margin-left: 15px;
        margin-top: 10px;

        min-width: 40px;
        min-height: 40px;    
    }

    .fl-essentials {
        @include book-sprite(fl-essentials); 
        @include responsive-sprite($map, fl-essentials, 5.8%);
        margin-left: 15px;
        margin-top: 10px;

        min-width: 40px;
        min-height: 40px;    
    }

    .ga-essentials {
        @include book-sprite(ga-essentials); 
        @include responsive-sprite($map, ga-essentials, 5.8%);
        margin-left: 2px;
        margin-top: 10px;
        min-width: 57px;
        min-height: 48px;
    }

    .html-css {
        @include book-sprite(html-css); 
        @include responsive-sprite($map, html-css, 5.8%);
        margin-left: 15px;
        margin-top: 10px;

        min-width: 40px;
        min-height: 40px;    
    }

    .html-ess {
        @include book-sprite(html-ess); 
        @include responsive-sprite($map, html-ess, 5.8%);
        margin-left: 15px;
        margin-top: 10px;

        min-width: 40px;
        min-height: 40px;    
    }

    .html5css {
        @include book-sprite(html5css); 
        @include responsive-sprite($map, html5css, 5.8%);
        margin-left: 15px;
        margin-top: 10px;

        min-width: 40px;
        min-height: 40px;    
    }

    .id-dps-pkg {
        @include book-sprite(id-dps-pkg); 
        @include responsive-sprite($map, id-dps-pkg, 5.8%);
        margin-left: 15px;
        margin-top: 10px;

        min-width: 40px;
        min-height: 40px;    
    }

    .id-epub {
        @include book-sprite(id-epub); 
        @include responsive-sprite($map, id-epub, 5.8%);
        margin-left: 15px;
        margin-top: 10px;

        min-width: 40px;
        min-height: 40px;    
    }

    .id-essentials {
        @include book-sprite(id-essentials); 
        @include responsive-sprite($map, id-essentials, 5.8%);
        margin-left: 15px;
        margin-top: 10px;

        min-width: 40px;
        min-height: 40px;    
    }

    .id-interactivity {
        @include book-sprite(id-interactivity); 
        @include responsive-sprite($map, id-interactivity, 5.8%);
        margin-left: 2px;
        margin-top: 10px;
        min-width: 61px;
        min-height: 53px;
    }

    .il-essentials {
        @include book-sprite(il-essentials); 
        @include responsive-sprite($map, il-essentials, 5.8%);
        margin-left: 15px;
        margin-top: 10px;

        min-width: 40px;
        min-height: 40px;    
    }

    .internet-marketing-logo {
        @include book-sprite(internet-marketing-logo); 
        @include responsive-sprite($map, internet-marketing-logo, 5.8%);
        margin-left: 15px;
        margin-top: 10px;

        min-width: 40px;
        min-height: 40px;    
    }

    .js-essentials {
        @include book-sprite(js-essentials); 
        @include responsive-sprite($map, js-essentials, 5.8%);
        margin-left: 15px;
        margin-top: 10px;

        min-width: 40px;
        min-height: 40px;    
    }

    .linkedin-essentials {
        @include book-sprite(linkedin-essentials); 
        @include responsive-sprite($map, linkedin-essentials, 5.8%);
        margin-left: 15px;
        margin-top: 10px;

        min-width: 40px;
        min-height: 40px;    
    }

    .mu-essentials {
        @include book-sprite(mu-essentials); 
        @include responsive-sprite($map, mu-essentials, 5.8%);
        margin-left: 15px;
        margin-top: 10px;

        min-width: 40px;
        min-height: 40px;    
    }

    .pr-essentials {
        @include book-sprite(pr-essentials); 
        @include responsive-sprite($map, pr-essentials, 5.8%);
        margin-left: 15px;
        margin-top: 10px;

        min-width: 40px;
        min-height: 40px;    
    }

    .ps-essentials {
        @include book-sprite(ps-essentials); 
        @include responsive-sprite($map, ps-essentials, 5.8%);
        margin-left: 15px;
        margin-top: 10px;

        min-width: 40px;
        min-height: 40px;    
    }

    .seo-ess {
        @include book-sprite(seo-ess); 
        @include responsive-sprite($map, seo-ess, 5.8%);
        margin-left: 15px;
        margin-top: 10px;

        min-width: 40px;
        min-height: 40px;    
    }

    .wp-essentials {
        @include book-sprite(wp-essentials); 
        @include responsive-sprite($map, wp-essentials, 5.8%);
        margin-left: 15px;
        margin-top: 10px;

        min-width: 40px;
        min-height: 40px;    
    }

    .logo-package-design {
        @include book-sprite(logo-package-design); 
        @include responsive-sprite($map, logo-package-design, 5.8%);
        margin-left: 15px;
        margin-top: 10px;

        min-width: 40px;
        min-height: 40px;    
    }

    .logo-package-web {
        @include book-sprite(logo-package-web); 
        @include responsive-sprite($map, logo-package-web, 5.8%);
        margin-left: 15px;
        margin-top: 10px;

        min-width: 40px;
        min-height: 40px;    
    }

    .diag-dps-logo {
        @include book-sprite(diag-dps-logo); 
        @include responsive-sprite($map, diag-dps-logo, 5.8%);
        margin-left: 15px;
        margin-top: 10px;

        min-width: 40px;
        min-height: 40px;    
    }
} 
