@import "_custom/common";
@import "_custom/components/btn-shadow";

// Create sprite using Compass
@import "compass/utilities/sprites";
 
// Required for correct operation, must be named same as the sprite
$wordpress-essentials-spacing: 40px; 

@import "training/web-design-development/wordpress/wordpress-essentials/*.png";  

.wordpress-essentials-course {
    $map: $wordpress-essentials-sprites;

    .wp-essentials-framed {  
        @include wordpress-essentials-sprite(wp-essentials-framed); 
        @include responsive-sprite($map, wp-essentials-framed , 5.8%);
        min-width: 55px;
        min-height: 55px;
    } 

    .course-classrom { 
        @include wordpress-essentials-sprite(course-classrom); 
        @include responsive-sprite($map, course-classrom , 5.8%);
        width: 77%; 
        padding-bottom: 42%;
        border: 1px solid #000;
        margin-top: 5px;
        margin-left: 12px;
    }
 
    .pdf {
        @include wordpress-essentials-sprite(pdf); 
        @include responsive-sprite($map, pdf , 5.8%);
        min-width: 32px;
        min-height: 32px;
        top: -3px;
    }

    .course-custom-training-logo {
         
        @include wordpress-essentials-sprite(custom-training); 
        @include responsive-sprite($map, custom-training , 100%);

 
        @media screen and (min-width: 420px) and (max-width: 639px) { 
           @include responsive-sprite($map, custom-training , 65%);
        }

        border: 1px solid #686F74; 
    }

    .wp-advanced {
        @include wordpress-essentials-sprite(wp-advanced); 
        @include responsive-sprite($map, wp-advanced , 5.8%);
        margin-left: 15px;
        margin-top: -13px;
        min-width: 65px;
        min-height: 63px; 
    }

    .html-css {
        @include wordpress-essentials-sprite(html-css); 
        @include responsive-sprite($map, html-css , 5.8%);
        margin-left: 20px;
        min-width: 50px;
        min-height: 50px; 
    }

    .html-ess {
        @include wordpress-essentials-sprite(html-ess); 
        @include responsive-sprite($map, html-ess , 5.8%);
        margin-left: 20px;
        min-width: 50px;
        min-height: 50px; 
    }

    @include btn-shadow($wordpress-color);
}