// Create sprite using Compass
@import "compass/utilities/sprites";
 
// Required for correct operation, must be named same as the sprite
$wordpress-category-spacing: 40px; 

@import "training/web-design-development/wordpress/wordpress-category/*.png"; 
.wordpress-category {
    $map: $wordpress-category-sprites;

    .wp-essentials { 
        @include wordpress-category-sprite(wp-essentials); 
        @include responsive-sprite($map, wp-essentials , 5.8%);
        margin-left: 15px;

        min-width: 47px;
        min-height: 47px;
    } 

    .category-custom-training {
         
        @include wordpress-category-sprite(custom-training); 
        @include responsive-sprite($map, custom-training , 100%);

        @media screen and (min-width: 420px) and (max-width: 639px) { 
            @include responsive-sprite($map, custom-training , 65%);
        }
        
        border: 1px solid #686F74; 
    }

    .wp-advanced {
        @include wordpress-category-sprite(wp-advanced); 
        @include responsive-sprite($map, wp-advanced , 5%);
        margin-top: -10px;

        min-width: 56px;
        min-height: 55px;   
    }
     .wp-consult {
        @include wordpress-category-sprite(wp-consult); 
        @include responsive-sprite($map, wp-consult , 95%);
    } 
    .wp-whatsnew {
        @include wordpress-category-sprite(wp-whatsnew); 
        @include responsive-sprite($map, wp-whatsnew , 5%);
        margin: -7px -7px 0 12px;
        min-width: 54px;
        min-height: 52px;
    }
} 
