<link href="/stylesheets/participants.css" rel="stylesheet" />
<div class="row large-view">
    <div class="columns medium-8 small-centered shop-steps">
        <img src="/images-dist/shopping-cart/booking-step2.png" alt="Class Details" class="booking-step">
    </div>
    <div class="columns medium-5 book-details-sidebar">
        <div class="shop-product-large clear">
            <div class="details">
                <h1>{tag_name}</h1>
                <ul>
                    <li class="price">Price:
                        <strong>{tag_saleprice} + GST</strong>
                    </li>
                    <li class="price">Location:</li>
                    <li class="price">{tag_grouping}</li>
                    <li class="price">{tag_attributes}</li>
                    <li id="Capture-Details" class="price">{tag_capturedetails, Participant(s) Name(s)}</li>
                    <li id="Product-Quantity" class="quantity">{tag_addtocartinputfield}
                        <br />{tag_buynow,<img alt="" src="/images/book/book-now.png" />}</li>
                    <li class="booking-page-alert">You may encounter issues with earlier versions of Internet Explorer. Please phone 1300 441 891 to book.</li>
                </ul>
                <div class="description">
                    <br />
                </div>
            </div>
        </div>
    </div>
    <div class="columns medium-7 sc-sidebar">
        <div class="small-11 columns small-centered book-pay-now"><img alt="" src="/images-dist/shopping-cart/book-and-pay-boxes-h-black.png">
        </div>
        <div class="columns small-12 book-pay-text">Book now and pay later (we can send you a tax invoice and you can pay by EFT or cheque at a later date) OR Book now and pay by credit card (see above).</div>
        <div class="chk-lst columns small-12 training-check-shop">
            <h3>Training Checklist</h3>
            <ol>
                <li>Our training centres have <strong>computers all set to go</strong>
                    <br>(but if you want to bring your laptop, you can)</li>
                <li><strong>Choice of Mac or PCs</strong> in Sydney and Melbourne</li>
                <li><strong>Adobe Authorised Certificate</strong>
                </li>
                <li><strong>1 Year</strong> Email AND Telephone Support</li>
                <li><strong>Resit</strong> your course for free within 6 Months</li>
                <li><strong>Adobe Certified Instructors</strong>
                </li>
                <li>Courseware to take away + <strong>bonus eBooks</strong> for some courses</li>
            </ol>
            <h3>Public Holiday Calendar</h3>
            <img src="/images-dist/shopping-cart/calendar.png" alt "Public Holiday Calendar">
        </div>
    </div>
   <script>window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"><\/script>');</script><script src="/js/participants.js"></script><script>jQuery(function() {
    jQuery("select[name=AddToCart_Grouping]").on("change", function() {
        CDT.participants.init();
    });
});</script></div>