<link href="/stylesheets/participants.css" rel="stylesheet" />
<div class="row large-view">
    <div class="columns medium-8 small-centered">
        <img src="/images-dist/shopping-cart/booking-step2.png" alt="Class Details" class="booking-step">
    </div>
    <div class="columns medium-4">
        <div class="shop-product-large clear">
			<div class="details">
				<h1>{tag_name}</h1>
                <ul>
                <li class="price">Price:
                    <strong>{tag_saleprice} + GST</strong>
                </li>
                <li class="price">Location:</li>
                <li class="price">{tag_grouping}</li>
                <li class="price">{tag_attributes}</li>
                <li id="Capture-Details" class="price">{tag_capturedetails, Participant(s) Name(s)}</li>
                <li id="Product-Quantity" class="quantity">{tag_addtocartinputfield}
                    <br />{tag_buynow,<img alt="" src="/images/book/book-now.png" />}</li>
                <li class="booking-page-alert">You may encounter issues with earlier versions of Internet Explorer. Please phone 1300 441 891 to book.</li>
            </ul>
                <div class="description">
                    <br />
                </div>
            </div>
        </div>
    </div>
    <div class="columns medium-8">
        <div class="calendar">
                <div class="info-text">
                    <p>Courses can be booked online and paid by credit card immediately, or alternatively, book online now and you can choose the option for us to send you a tax invoice and you can pay by EFT or cheque at a later date.</p>
                </div>
                <div>
                    <img alt="" src="/images-dist/shopping-cart/calendar.jpg" style="border: 0px none;" />
                </div>
		</div>
    </div>
<script>
window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"><\/script>');
</script>
<script src="/js/participants.js"></script>
<script>
jQuery(function() {
	jQuery("select[name=AddToCart_Grouping]").on("change", function() {
		CDT.participants.init();
	});
});
</script>
</div>

