@import "../../../components/training/category";
 
// Create sprite using Compass
@import "compass/utilities/sprites";

$indesign-category-spacing: 40px;

@import "training/adobe/indesign/indesign-category/*.png"; 
 
$map: sprite-map("training/adobe/indesign/indesign-category/*.png", $spacing: $indesign-category-spacing); /*empty comment*/ 
$sprite-width: 185px;
$sprite-height: 1226px;

$id-essentials-framed-height: indesign-category-sprite-height(id-essentials-framed);

$indesign-color: #C42A7C;

.indesign-category {
    @include category($id-essentials-framed-height, $map, $sprite-width, $sprite-height, $indesign-color);

    .tight-header-1 {
        width: 440px;
    }

    .tight-header-2 {
        width: 283px;
    }
} 
