.columns{
    margin-right: -15px ;
    margin-left: -15px ;
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
}

.upper-side, 
.lower-aside-section {
    width: 30% !important;
    margin-left: 20px !important;
}

