.hide-old-ie, .id-essentials-framed, .custom-training-logo, .id-essentials, .id-lite, .id-advanced, .id-longdocuments,
.id-interactivity, .id-accessibility, .id-epub, .package-indesign-ess, .package-illustrator-ess, .package-photoshop-ess {
    display: none;
}

.indesign-category .custom-training .prefer-custom-training-text, 
.indesign-course .custom-training .prefer-custom-training-text {
    top: -130px; 
}

.indesign-category .tight-header-1 {
    width: 440px;
}

.indesign-category .tight-header-2 {
    width: 283px;
}

.indesign-category .category-description-section {
    padding-right: 16px;
    margin-bottom: 0;
}

.indesign-category .courses-row {
    margin-top: -80px;
}

.indesign-category .side-pannel {
    margin-top: -120px; 
}
