// Create sprite using Compass
@import "compass/utilities/sprites";

// Required for correct operation, must be named same as the sprite
$indesign-category-spacing: 40px;

@import "training/adobe/indesign/indesign-category/*.png"; 
.indesign-category {
    $map: $indesign-category-sprites;

    .id-essentials-framed { 
        @include indesign-category-sprite(id-essentials-framed); 
        @include responsive-sprite($map, id-essentials-framed, 5.8%);
        min-width: 55px;
        min-height: 58px;
    } 

    .custom-training-logo {
         
        @include indesign-category-sprite(custom-training); 
        @include responsive-sprite($map, custom-training, 100%);

        @media screen and (min-width: 420px) and (max-width: 639px) { 
            @include responsive-sprite($map, custom-training, 65%);
        }
        
        border: 1px solid #686F74; 
    }

    .id-essentials {
        @include indesign-category-sprite(id-essentials); 
        @include responsive-sprite($map, id-essentials, 5%);
        margin-left: 15px;

        min-width: 38px;
        min-height: 45px;    
    }

    .id-lite {
        @include indesign-category-sprite(id-lite); 
        @include responsive-sprite($map, id-lite, 5%);
        margin-left: 15px;

        min-width: 38px;
        min-height: 44px;    
    }

    .id-advanced {
        @include indesign-category-sprite(id-advanced); 
        @include responsive-sprite($map, id-advanced, 5.8%);
        margin: -7px 0 0 2px;

        min-width: 49px;
        min-height: 48px;    
    }

    .id-longdocuments {
        @include indesign-category-sprite(id-longdocuments); 
        @include responsive-sprite($map, id-longdocuments, 6%);
        margin: 0 -10px 0 5px;

        min-width: 66px;
        min-height: 47px; 

        @media screen and (min-width: 640px) and (max-width: 669px) {
            margin-top: 10px;
        }   
    }

     Title is too long, minimise gap 
    .indesign-long-docs-title {
        padding-left: 5px !important;
    }

    .id-interactivity {
        @include indesign-category-sprite(id-interactivity); 
        @include responsive-sprite($map, id-interactivity, 6%);
        margin: -12px -8px 0 5px;

        min-width: 65px;
        min-height: 56px;    
    }

    .id-accessibility {
        @include indesign-category-sprite(id-accessibility); 
        @include responsive-sprite($map, id-accessibility, 6%);
        margin: 3px -4px 0 15px;

        min-width: 59px;
        min-height: 41px;    
    }

    .id-epub {
        @include indesign-category-sprite(id-epub); 
        @include responsive-sprite($map, id-epub, 6%);
        min-width: 55px;
        min-height: 72px;    
        float: right;
        margin-left: 10px;
    }

    .package-indesign-ess {
        @include indesign-category-sprite(id-essentials); 
        @include responsive-sprite($map, id-essentials, 5%);
        min-width: 47px;
        min-height: 45px;    
    } 

    .package-illustrator-ess {
        @include indesign-category-sprite(il-ess); 
        @include responsive-sprite($map, il-ess, 5%);
        min-width: 47px;
        min-height: 45px;    
    }

    .package-photoshop-ess {
        @include indesign-category-sprite(ps-ess); 
        @include responsive-sprite($map, ps-ess, 5%);
        min-width: 47px;
        min-height: 45px;    
    }
} 
