/* Hide all sprites */
.id-essentials-framed, .custom-training-logo, .id-essentials, .id-lite, .id-advanced, .id-longdocuments,
.id-interactivity, .id-accessibility, .id-epub, .package-indesign-ess, .package-illustrator-ess, .package-photoshop-ess {
    display: none;
}

/* Push up the custom training to compensate for no image */
.indesign-category {
    p {
        margin-bottom: 24px;
    }

    .custom-training .prefer-custom-training-text {
    top: -130px; 
    }

    .category-description-section {
        padding-right: 16px;
        margin-bottom: 0;
    }

    .courses-row {
        margin-top: -80px;
    }

    .side-pannel {
        margin-top: -120px; 
    }
}