@import "../../../components/training/category";

// Create sprite using Compass
@import "compass/utilities/sprites";
@import "training/adobe/indesign/indesign-category/*.png";
 
$indesign-category-spacing: $sprite-spacing;

$map: sprite-map("training/adobe/indesign/indesign-category/*.png", $sprite-spacing: $indesign-category-spacing); /*empty comment*/ 
$sprite-width: 185px;
$sprite-height: 826px;

$id-essentials-framed-height: indesign-category-sprite-height(id-essentials-framed);

$indesign-color: #f442a9;

.indesign-category {
    @include category($id-essentials-framed-height, $map, $sprite-width, $sprite-height, $indesign-color);
} 

.id-essentials-framed { 
    @include indesign-category-sprite(id-essentials-framed); 
    @include responsive-sprite($map, id-essentials-framed, $sprite-width, $sprite-height, 6%);
    min-width: 55px;
    min-height: 55px;
}

.custom-training-logo {
    @include indesign-category-sprite(custom-training);  
}

.id-essentials {
    @include indesign-category-sprite(id-essentials); 
    @include responsive-sprite($map, id-essentials, $sprite-width, $sprite-height, 5%);
    @include move-logo-horizontally(15px);

    min-width: 47px;
    min-height: 47px;    
}

.id-lite {
    @include indesign-category-sprite(id-lite); 
    @include responsive-sprite($map, id-lite, $sprite-width, $sprite-height, 5%);
    @include move-logo-vertically(-5px);
    @include move-logo-horizontally(15px);

    min-width: 47px;
    min-height: 49px;    
}

.id-advanced {
    @include indesign-category-sprite(id-advanced); 
    @include responsive-sprite($map, id-advanced, $sprite-width, $sprite-height, 6%);
    @include move-logo-vertically(-9px);
    @include move-logo-horizontally(2px);

    min-width: 55px;
    min-height: 52px;    
}

.id-longdocuments {
    @include indesign-category-sprite(id-longdocuments); 
    @include responsive-sprite($map, id-longdocuments, $sprite-width, $sprite-height, 6%);
    @include move-logo-vertically(-6px);
    @include move-logo-horizontally(6px);

    min-width: 55px;
    min-height: 51px;    
}

/* Title is too long, minimise gap */
.indesign-long-docs-title {
    padding-left: 5px !important;
}

.id-interactivity {
    @include indesign-category-sprite(id-interactivity); 
    @include responsive-sprite($map, id-interactivity, $sprite-width, $sprite-height, 6%);
    @include move-logo-vertically(-9px);
    @include move-logo-horizontally(5px);

    min-width: 55px;
    min-height: 51px;    
}

.id-accessibility {
    @include indesign-category-sprite(id-accessibility); 
    @include responsive-sprite($map, id-accessibility, $sprite-width, $sprite-height, 6%);
    @include move-logo-vertically(4px);
    @include move-logo-horizontally(15px);

    min-width: 55px;
    min-height: 35px;    
}

.id-epub {
    @include indesign-category-sprite(id-epub); 
    @include responsive-sprite($map, id-epub, $sprite-width, $sprite-height, 6%);
    min-width: 55px;
    min-height: 72px;    
    float: right;
    margin-left: 10px;
}

.package-indesign-ess {
    @include indesign-category-sprite(id-essentials); 
    @include responsive-sprite($map, id-essentials, $sprite-width, $sprite-height, 5%);
    min-width: 47px;
    min-height: 45px;    
}

.package-illustrator-ess {
    @include indesign-category-sprite(il-ess); 
    @include responsive-sprite($map, il-ess, $sprite-width, $sprite-height, 5%);
    min-width: 47px;
    min-height: 45px;    
}

.package-photoshop-ess {
    @include indesign-category-sprite(ps-ess); 
    @include responsive-sprite($map, ps-ess, $sprite-width, $sprite-height, 5%);
    min-width: 47px;
    min-height: 45px;    
}