@import "_custom/common";
@import "_custom/components/btn-shadow";

// Create sprite using Compass
@import "compass/utilities/sprites";
 
// Required for correct operation, must be named same as the sprite
$indesign-lite-spacing: 40px; 

@import "training/adobe/indesign/indesign-lite/*.png";  

.indesign-lite-course {
    $map: $indesign-lite-sprites;

    .id-lite {  
        @include indesign-lite-sprite(id-lite); 
        @include responsive-sprite($map, id-lite, 5.8%);
        min-width: 55px;
        min-height: 55px;
    } 

    .course-classrom { 
        @include indesign-lite-sprite(course-classrom); 
        @include responsive-sprite($map, course-classrom, 5.8%);
        width: 77%; 
        padding-bottom: 42%;
        border: 1px solid #000;
        margin-top: 5px;
        margin-left: 12px;
    }
 
    .pdf {
        @include indesign-lite-sprite(pdf); 
        @include responsive-sprite($map, pdf, 5.8%);
        min-width: 32px;
        min-height: 32px;
        top: -3px;
    }

    .indesign-cc-cs6 {
        @include indesign-lite-sprite(indesign-cc-cs6); 
        @include responsive-sprite($map, indesign-cc-cs6, 5.8%);
        min-width: 115px;
        min-height: 93px; 
        float: right;
        margin-right: -15px;
        margin-top: -10px;
    }

    .course-custom-training-logo {
         
        @include indesign-lite-sprite(custom-training); 
        @include responsive-sprite($map, custom-training, 100%);

 
        @media screen and (min-width: 420px) and (max-width: 639px) { 
           @include responsive-sprite($map, custom-training, 65%);
        }

        border: 1px solid #686F74; 
    }

    .il-lite {
        @include indesign-lite-sprite(il-lite); 
        @include responsive-sprite($map, il-lite, 5.8%);
        margin-left: 20px;
        min-width: 52px;
        min-height: 52px;
    }

    .ps-lite {
        @include indesign-lite-sprite(ps-lite); 
        @include responsive-sprite($map, ps-lite, 5.8%);
        margin-left: 20px;
        min-width: 52px;
        min-height: 52px;
    }

    .id-essentials {
        @include indesign-lite-sprite(id-essentials); 
        @include responsive-sprite($map, id-essentials, 5.8%);
        margin-left: 20px;
        min-width: 50px;
        min-height: 50px;    
    }

    @include btn-shadow($indesign-color);
}