@import "_custom/common";
@import "_custom/components/btn-shadow";

// Create sprite using Compass
@import "compass/utilities/sprites";
 
// Required for correct operation, must be named same as the sprite
$indesign-interactivity-spacing: 40px; 

@import "training/adobe/indesign/indesign-interactivity/*.png";  

.indesign-interactivity-course {
    $map: sprite-map("training/adobe/indesign/indesign-interactivity/*.png", $spacing: $indesign-interactivity-spacing); /*empty comment*/ 
    $sprite-width: 200px;
    $sprite-height: 843px;

    .id-interactivity {  
        @include indesign-interactivity-sprite(id-interactivity); 
        @include responsive-sprite($map, id-interactivity, $sprite-width, $sprite-height, 5.8%);
        margin-top: 12px !important;
        min-width: 93px;
        min-height: 83px;
    } 

    .course-classrom { 
        @include indesign-interactivity-sprite(course-classrom); 
        @include responsive-sprite($map, course-classrom, $sprite-width, $sprite-height, 5.8%);
        width: 77%; 
        padding-bottom: 42%;
        border: 1px solid #000;
        margin-top: 5px;
        margin-left: 12px;
    }
 
    .pdf {
        @include indesign-interactivity-sprite(pdf); 
        @include responsive-sprite($map, pdf, $sprite-width, $sprite-height, 5.8%);
        min-width: 32px;
        min-height: 32px;
        top: -3px;
    }

    .indesign-cc-cs6 {
        @include indesign-interactivity-sprite(indesign-cc-cs6); 
        @include responsive-sprite($map, indesign-cc-cs6, $sprite-width, $sprite-height, 5.8%);
        min-width: 115px;
        min-height: 93px; 
        float: right;
        margin-right: -15px;
        margin-top: -10px;
    }

    .course-custom-training-logo {
         
        @include indesign-interactivity-sprite(custom-training); 
        @include responsive-sprite($map, custom-training, $sprite-width, $sprite-height, 100%);

 
        @media screen and (min-width: 420px) and (max-width: 639px) { 
           @include responsive-sprite($map, custom-training, $sprite-width, $sprite-height, 65%);
        }

        border: 1px solid #686F74; 
    }

    .id-advanced {
        @include indesign-interactivity-sprite(id-advanced); 
        @include responsive-sprite($map, id-advanced, $sprite-width, $sprite-height, 5.8%);

        margin-left: 10px;
        min-width: 65px;
        min-height: 63px;
    }

    .id-ipad {
        @include indesign-interactivity-sprite(id-ipad); 
        @include responsive-sprite($map, id-ipad, $sprite-width, $sprite-height, 5.8%);

        margin-left: 15px;
        min-width: 67px;
        min-height: 64px;   
    }

    @include btn-shadow($indesign-color);
}