@import "_custom/common";
@import "_custom/components/btn-shadow";

// Create sprite using Compass
@import "compass/utilities/sprites";
 
// Required for correct operation, must be named same as the sprite
$indesign-long-docs-spacing: 40px; 

@import "training/adobe/indesign/indesign-long-docs/*.png";  

.indesign-long-docs-course {
    $map: $indesign-long-docs-sprites;

    .id-longdocuments {  
        @include indesign-long-docs-sprite(id-longdocuments); 
        @include responsive-sprite($map, id-longdocuments, 5.8%);
        margin-top: 28px !important;
        min-width: 83px;
        min-height: 63px;
    } 

    .course-classrom { 
        @include indesign-long-docs-sprite(course-classrom); 
        @include responsive-sprite($map, course-classrom, 5.8%);
        width: 77%; 
        padding-bottom: 42%;
        border: 1px solid #000;
        margin-top: 5px;
        margin-left: 12px;
    }
 
    .pdf {
        @include indesign-long-docs-sprite(pdf); 
        @include responsive-sprite($map, pdf, 5.8%);
        min-width: 32px;
        min-height: 32px;
        top: -3px;
    }

    .course-custom-training-logo {
         
        @include indesign-long-docs-sprite(custom-training); 
        @include responsive-sprite($map, custom-training, 100%);

 
        @media screen and (min-width: 420px) and (max-width: 639px) { 
           @include responsive-sprite($map, custom-training, 65%);
        }

        border: 1px solid #686F74; 
    }

    .id-advanced {
        @include indesign-long-docs-sprite(id-advanced); 
        @include responsive-sprite($map, id-advanced, 5.8%);

        margin-left: 9px;
        min-width: 65px;
        min-height: 63px; 
    }

    @include btn-shadow($indesign-color);
}