@import "../../../components/catalog";

// Create sprite using Compass
@import "compass/utilities/sprites";
@import "training/adobe/indesign/indesign-catalog/*.png";

$indesign-catalog-spacing: $sprite-spacing;

$map: sprite-map("training/adobe/indesign/indesign-catalog/*.png", $sprite-spacing: $indesign-catalog-spacing); /*empty comment*/ 
$sprite-width: 185px;
$sprite-height: 826px;

$id-essentials-framed-height: indesign-catalog-sprite-height(id-essentials-framed);

$indesign-color: #f442a9;

.indesign-catalog {
    @include catalog($id-essentials-framed-height, $map, $sprite-width, $sprite-height, $indesign-color);
}

.id-essentials-framed { 
    @include indesign-catalog-sprite(id-essentials-framed); 
    @include responsive-sprite($map, id-essentials-framed, $sprite-width, $sprite-height, 6%);
    min-width: 55px;
    min-height: 55px;
}

.custom-training-logo {
    @include indesign-catalog-sprite(custom-training); 
}

.id-essentials {
    @include indesign-catalog-sprite(id-essentials); 
    @include responsive-sprite($map, id-essentials, $sprite-width, $sprite-height, 5%);
    min-width: 47px;
    min-height: 45px;    
}

.id-lite {
    @include indesign-catalog-sprite(id-lite); 
    @include responsive-sprite($map, id-lite, $sprite-width, $sprite-height, 5%);
    min-width: 47px;
    min-height: 49px;    
}

.id-advanced {
    @include indesign-catalog-sprite(id-advanced); 
    @include responsive-sprite($map, id-advanced, $sprite-width, $sprite-height, 6%);
    min-width: 55px;
    min-height: 52px;    
}

.id-longdocuments {
    @include indesign-catalog-sprite(id-longdocuments); 
    @include responsive-sprite($map, id-longdocuments, $sprite-width, $sprite-height, 6%);
    min-width: 55px;
    min-height: 51px;    
}

/* Title is too long, minimise gap */
.indesign-long-docs-title {
    padding-left: 5px !important;
}

.id-interactivity {
    @include indesign-catalog-sprite(id-interactivity); 
    @include responsive-sprite($map, id-interactivity, $sprite-width, $sprite-height, 6%);
    min-width: 55px;
    min-height: 51px;    
}

.id-accessibility {
    @include indesign-catalog-sprite(id-accessibility); 
    @include responsive-sprite($map, id-accessibility, $sprite-width, $sprite-height, 6%);
    min-width: 55px;
    min-height: 35px;    
}

.id-epub {
    @include indesign-catalog-sprite(id-epub); 
    @include responsive-sprite($map, id-epub, $sprite-width, $sprite-height, 6%);
    min-width: 55px;
    min-height: 72px;    
    float: right;
}

.package-indesign-ess {
    @include indesign-catalog-sprite(id-essentials); 
    @include responsive-sprite($map, id-essentials, $sprite-width, $sprite-height, 5%);
    min-width: 47px;
    min-height: 45px;    
}

.package-illustrator-ess {
    @include indesign-catalog-sprite(il-ess); 
    @include responsive-sprite($map, il-ess, $sprite-width, $sprite-height, 5%);
    min-width: 47px;
    min-height: 45px;    
}

.package-photoshop-ess {
    @include indesign-catalog-sprite(ps-ess); 
    @include responsive-sprite($map, ps-ess, $sprite-width, $sprite-height, 5%);
    min-width: 47px;
    min-height: 45px;    
}