// Create sprite using Compass 
@import "compass/utilities/sprites"; 
 
// Required for correct operation, must be named same as the sprite
$calendar-spacing: 40px; 
 
@import "admin/calendar/*.png";  
 
// Sprites should be declared in the same order they are on the disk?
.cdt-calendar {
    $map: $calendar-sprites; 

    .book-and-pay-now { 
        @include calendar-sprite(book-and-pay-now); 
        @include responsive-sprite($map, book-and-pay-now , 100%);

        @media screen and (min-width: 420px) and (max-width: 640px) { 
            @include responsive-sprite($map, book-and-pay-now , 65%);
        }

        @media screen and (min-width: 641px) and (max-width: 895px) { 
            @include responsive-sprite($map, book-and-pay-now , 100%);
        }

        @media screen and (min-width: 896px) { 
            @include responsive-sprite($map, book-and-pay-now , 65%);
        }

        margin-bottom: 14px;
    }  

    .book-and-pay-later { 
        @include calendar-sprite(book-and-pay-later); 
        @include responsive-sprite($map, book-and-pay-later , 100%);

        @media screen and (min-width: 420px) and (max-width: 640px) { 
            @include responsive-sprite($map, book-and-pay-later , 65%);
        }

        @media screen and (min-width: 641px) and (max-width: 895px) { 
            @include responsive-sprite($map, book-and-pay-later , 100%);
        }

        @media screen and (min-width: 896px) { 
            @include responsive-sprite($map, book-and-pay-later , 65%);
        }

        margin-bottom: 16px;
    } 
 
    .calendar-custom-training { 
        @include calendar-sprite(calendar-custom-training); 
        @include responsive-sprite($map, calendar-custom-training , 100%);

        @media screen and (min-width: 420px) and (max-width: 640px) { 
            @include responsive-sprite($map, calendar-custom-training , 65%);
        }

        @media screen and (min-width: 641px) and (max-width: 895px) { 
            @include responsive-sprite($map, calendar-custom-training , 100%);
        }

        @media screen and (min-width: 896px) { 
            @include responsive-sprite($map, calendar-custom-training , 65%);
        }

        border: 1px solid #686F74;  
    } 
}
