@import "../components/training/side-pannel"; 

$calendar-color: #2088D1; 
  
.cdt-calendar {
    // To remove Chrome blue border on elements, use this:
    *:focus {
        outline:0;
    } 
 
    .custom-breadcrumbs {
        margin-top: $margin-bottom-default / 2;
    }

    h1 {
        @include large-thin-title;
        margin-bottom: 16px;

        @media #{$medium-up} {
            margin-top: -1em;
        }
    }
 
    .accordion .accordion-navigation > a, .accordion dd > a {
        background-color: #fff;
        padding: 0;
    } 

    .tabs {
        dd a {
            font-family: Raleway, Helvetica, sans-serif;
            border: 1px solid #DBDBDB;
            background-color: #fff; 
            margin-right: 10px;
            margin-top: 5px;
            width: 105px;
            cursor: pointer;
            text-align: center;
            padding: 0;

            @include adjust-font-size-to(18px, 1);
            line-height: 31px;
            @extend %t-light;

            @media #{$large-up} {
                width: 149px;
            }
        }

        dd.active a {
            color: #FFF;
            background-color: $calendar-color;
        }
    }

    .tabs-content {
        .content {
            padding: 0;
            margin-top: 16px;
        }

        h2 {
            border-bottom: 1px solid #A4A4A4;
            margin-top: 10px;
            margin-bottom: 16px;
            padding: 5px;


            @include adjust-font-size-to(20px, 1);
            line-height: 1.2em;
            @extend %t-regular;
        }

        h3 {  
            margin-top: 2px;
            margin-bottom: 16px;
            border-bottom: 1px dotted #dbdbdb;
            color: $calendar-color;
            padding-bottom: 4px;

            @extend %t-base;
            @extend %t-bold;
        }

        .accordion {
            @include plus-minus-icon;
        }
    } 

    .responsive { 
        border: none;
        border-spacing: 0px;
        display: block;

        thead {
            background-color: #fff;

            th {
                text-align: center;
                color: $calendar-color;
                padding-bottom: 2px;
                padding-top: 0; 

                @include adjust-font-size-to(14px, 1);
                @extend %t-bold;
            }

            .location {
                text-align: left;
                text-transform: uppercase;
                color: #000;

                @include adjust-font-size-to(18px, 1);
                @extend %t-strong;
            }
        }

        tbody tr td {
            border: 1px solid #dbdbdb;
            text-align: center;
            vertical-align: top;
        }

        td.row-name {
            text-align: left;
            width: 175px;
        }

        td:not(:first-child), th:not(:first-child) {
            white-space: nowrap;
            min-width: 80px;
        }

        td a, th a, td a:hover, th a:hover, td a:focus, th a:focus {
            color: #000;
            text-decoration: none;
            font-size: 0.875rem;
            line-height: 1.125rem;
            display: inline-block;
            margin-bottom: 8px;
        } 
    }

    .custom-training {
        .custom-training-logo {
            border: 1px solid #686F74; 
        } 

        .read-more-btn {
            margin-top: $margin-bottom-default / 4;
            margin-bottom: $margin-bottom-default / 4;
        }

        .prefer-custom-training-text {
            @media screen and (min-width: 420px) and (max-width: 640px) { 
                max-width: 65%;
            }

            @media screen and (min-width: 641px) and (max-width: 895px) { 
                max-width: 100%;
            }

            @media screen and (min-width: 896px) { 
                max-width: 65%;
            }
        }
    }

    .training-checklist {
        @include training-checklist($calendar-color);

        @media screen and (min-width: 420px) and (max-width: 640px) { 
            max-width: 65%;
        }

        @media screen and (min-width: 641px) and (max-width: 895px) { 
            max-width: 100%;
        }

        @media screen and (min-width: 896px) { 
            max-width: 65%;
        }
    }

    .second-column {
        @media screen and (min-width: 896px) { 
            margin-left: -100px;
        }
    }
}