@import "_custom/responsive-sprite";

// Create sprite using Compass
@import "compass/utilities/sprites";

$indesign-category-spacing: 40px;

@import "calendar/*.png"; 
 
$map: sprite-map("calendar/*.png", $spacing: 40px); /*empty comment*/ 
$sprite-width: 185px;
$sprite-height: 76px;

.cdt-calendar {
    .custom-training-logo {
        @include responsive-sprite($map, calendar-custom-training, $sprite-width, $sprite-height, 100%);

        @media screen and (min-width: 420px) and (max-width: 640px) { 
            @include responsive-sprite($map, calendar-custom-training, $sprite-width, $sprite-height, 65%);
        }

        @include calendar-sprite(calendar-custom-training); 
    } 
}
