@import "../components/testimonials-slider";
    
$cdt-custom-training-color: #2088D1; 
       
.cdt-custom-training {
    .custom-breadcrumbs {
        margin-top: $margin-bottom-default / 2;
    }

    .breadcrumb-active {
        color: $cdt-custom-training-color;
    }  

    .cdt-custom-training-breadcrumbs {
        @media #{$medium-up} {
            margin-top: -1.5em;
        }
    }

    h1 {
        @include large-thin-title;
        margin-bottom: 6px;

        @media #{$medium-up} {
            margin-top: -1em;
        }
    }
  
    .cdt-custom-training-header p { 
        @extend %t-light;
        @include adjust-font-size-to(20px, 1);

        line-height: 30px;
    } 
 
    h2 {
        @include list-header($cdt-custom-training-color);
    }

    .cdt-custom-training-side-logo {
        margin-top: 16px;

        @media #{$medium-up} {
            margin-top: 50px;
        }
    }

    .testimonials-slider {
        @extend %testimonials-slider;
    } 

    .private-desc, 
    .custom-desc {
        margin-bottom: $margin-bottom-default / 2;
        
    }

    .private-desc-section-body {
        @media #{$medium-up} {
            border-right: 1px solid #D8D8D8;
        }        
    }

    .private-desc, .custom-desc, 
    .specification ul li,
    .on-site-section,
    .on-site-section ul li,
    .costs-section-details {
        @include adjust-font-size-to(14px);
    }

    .costs-section-details {
        background-color: #676E74;
        color: #FFF;
        min-height: 303px;
        margin-bottom: $margin-bottom-default;
        padding-left: 20px;

        h3 {
            font-size: 16px;
            font-weight: 600;
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
            text-transform: uppercase;
            color: #FFF;
            margin-bottom: $margin-bottom-default;
            padding: 20px 20px 0;
        }
    }
}   