@import "../components/training/side-pannel"; 
@import "../components/training/testimonials"; 

$faq-color: #2088D1; 
  
.faq {
    .custom-breadcrumbs {
        margin-top: $margin-bottom-default / 2;
         
        @media #{$medium-up} {
            margin-top: -1.5em;
        }
    }

    h1 {
        @include large-thin-title;
        margin-bottom: 16px;

        @media #{$medium-up} {
            margin-top: -1em;
        }
    }
 
    .accordion .accordion-navigation > a, .accordion dd > a {
        background-color: #fff;
        padding: 0;
    } 

    .about-cdt,
    .about-courses,
    .course-benefits,
    .organise-course,
    .course-levels,
    .practical-things,
    .payments {
        @include large-title-with-border;
    }

    .about-cdt {
        @media #{$medium-up} {
            width: 331px;
        }
    }

    .about-courses {
        @media #{$medium-up} {
            width: 230px;
        }
    }

    .course-benefits {
        @media #{$medium-up} {
            width: 197px;
        }
    }

    .organise-course {
        @media #{$medium-up} {
            width: 303px;
        }
    }

    .course-levels {
        @media #{$medium-up} {
            width: 174px;
        }
    }

    .practical-things {
        @media #{$medium-up} {
            width: 191px;
        }
    }

    .payments {
        @media #{$medium-up} {
            width: 367px;
        }
    }

    h3 {  
        margin-top: 2px;
        margin-bottom: 16px;
        border-bottom: 1px dotted #dbdbdb;
        color: $calendar-color;
        padding-bottom: 4px;

        @extend %t-base;
        @extend %t-bold;
    }

    .accordion {
        @include plus-minus-icon;
        margin-bottom: $margin-bottom-default;

        .accordion-navigation > .content,
        dd > .content {
            padding: 0;
        }
    }

    .accordion-navigation p {
        font-size: .8em;
        line-height: 1.4em;
        padding: 0;
    }

    .testimonials {
        height: 23em;

        @include testimonials($faq-color);

        @media screen and (min-width: 640px) and (max-width: 680px) {
            height: 68em;        
        }

        @media screen and (min-width: 681px) and (max-width: 780px) {
            height: 53em;
        }
        
        @media screen and (min-width: 781px) and (max-width: 1024px) {
            height: 37em;
        }            
    }  
}