.feedback {
    padding-top: 10px;
    p {
        font-size: 16px;
        line-height: 1.5em;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .feedback-jump-menu-text {
        padding: 5px 5px;
        color: #FFF;
        background-color: #0092D8;
        border: 1px solid #E4E4E4;
        font-size: 14px;
        margin-left: 5px;
        margin-top: 5px;
    }
    [class*="column"] + [class*="column"]:last-child {
            float: left;
        }
    h3 {
        font-size: 26px;
        font-weight: 400;
        padding-bottom: 10px;
    }
    .sydney, .brisbane, .melbourne , .canberra  {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        background-color: #E4E4E4;
        border: 1px solid #E4E4E4;
        border-radius: 10px;
    }
}
.feedback-banner {
    background-color: #0092D8;
    min-height: 100px;
    h1 {
        padding-top: 30px;
        font-size: 30px;
        color: #FFFFFF;
        font-weight: 500;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    }
}