$locations-color: #2088D1; 
  
.locations { 
    .custom-breadcrumbs {
        margin-top: $margin-bottom-default / 2;
    }

    .breadcrumb-active {
        color: $locations-color;
    }  

    .locations-breadcrumbs {
        @media #{$medium-up} {
            margin-top: -1.5em;
        }
    }

    h1 {
        @include large-thin-title;
        margin-bottom: 6px;

        @media #{$medium-up} {
            margin-top: -1em;
        }
    }
    
    h2 {
        @include large-title-with-border;
        margin-bottom: 0;
        text-align: center;
    }


    h3 {
        @include list-header(#fff);
    }

    .address {
        @include list-header($locations-color);

        @media #{$medium-only} {
            height: 6em;
        }
    }

    .map {
        margin-bottom: $margin-bottom-default;
    }

    .city-intro {
        @media #{$small-only} {
            height: 11em;
        }

        @media #{$medium-only} {
            height: 22em;
        }

        @media #{$large-up} {
            height: 14em;
        }
        
        @include adjust-font-size-to(14px);
        margin-bottom: $margin-bottom-default;
    }

    .general-title,
    .refresh-title {
        @include list-header($locations-color);
    }

    .general-intro,
    .refresh-intro {
        color: $locations-color;
    }

    .refresh-intro {
        margin-bottom: $margin-bottom-default;
    }
} 