$room-hire-color: #2088D1; 
  
.room-hire {
    .custom-breadcrumbs {
        margin-top: $margin-bottom-default / 2;
    }

    .breadcrumb-active {
        color: $room-hire-color;
    }  

    .room-hire-breadcrumbs {
        @media #{$medium-up} {
            margin-top: -1.5em;
        }
    }

    h1 {
        @include large-thin-title;
        margin-bottom: 6px;

        @media #{$medium-up} {
            margin-top: -1em;
        }
    }
  
    .room-hire-intro { 
        @extend %t-light;
        @include adjust-font-size-to(20px, 1);

        line-height: 30px;
    } 

    .page-content-header {
        margin-bottom: 16px;
    }
  
    h2 {
        @include list-header($room-hire-color);
    }

    .equipment-section {
        .equip-desc {
           margin-bottom: $margin-bottom-default / 2;
        }

        .equipment-section-body {
            @media #{$medium-up} {
                border-right: 1px solid #D8D8D8;
            }        
        }

    }

    .equip-desc,
    .specification ul li,
    .provide-desc ul li {
        @include adjust-font-size-to(14px);
    }

    ul {
        list-style-type: none;
    }

    ul li:before {
        content: " - ";
    }

    .contact-info {
        color: $room-hire-color;
        text-align: center;

        @include large-title-with-border($room-hire-color);
        line-height: 1.5em;

        margin-top: $margin-bottom-default * 2;
        margin-bottom: $margin-bottom-default * 1.5;
    }

    .sydney-map iframe, 
    .melbourne-map iframe {
        min-height: 180px;
    }

    .sydney-hire-details,
    .melbourne-hire-details {
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
        padding-left: 20px;
        padding-right: 10px;
        color: #fff;
        min-height: 180px;

        h3 {
            @include list-header(#fff);
        }

        ul {
            margin-left: 5px !important;
        }

        ul li {
            @include adjust-font-size-to(14px);
            line-height: 1.5em;            
        }
    }

    .sydney-hire,  .melbourne-hire{
        margin-bottom: $margin-bottom-default * 2;
    }

    .sydney-hire-details {
        background-color: #676E74;
    }

    .melbourne-hire-details {
        background-color: #2088D1;
    }

    @media #{$small-only} {
        .contact-info, .sydney-hire-details, .melbourne-hire-details {
            width: 95%;
            margin-left: 15px;
        }
    }
}