$cdt-sitemap-color: #2088D1; 
  
.cdt-sitemap {
    @include banner($cdt-sitemap-color);

    .custom-breadcrumbs {
        margin-top: $margin-bottom-default / 2;
    }

    .sitemap-list {
        list-style-type: disc;
        margin-bottom: 16px;

        a {
            color: #334c57;
            @include adjust-font-size-to(14px);            
        }
    }

    h2, h2 a {
        @include paragraph-header($cdt-sitemap-color);
        @include adjust-font-size-to(18px);
    }

    .sitemap-grid {
        list-style-type: disc;
    }

    .sitemap-no-list {
        margin-bottom: 16px;
    }
}