.terms-conditions {
    padding-top: 10px;
    h2 {
        font-size: 22px;
        color: #2089D3;
        font-weight: 400;
    }
    h3,
    h4 {
        font-size: 16px;
        font-weight: 500;
        padding-top: 5px;
    }
    p {
        font-size: 14px;
        line-height: 1.5em;
        font-weight: 300;
        margin-bottom: 8px;
    }
}
.tc-banner {
    background-color: #E6E6E6;
    min-height: 120px;
    h1 {
        padding-top: 35px;
        font-size: 30px;
        color: #2089D3;
        font-weight: 500;
    }
}