@import "_custom/responsive-sprite";
 
// Create sprite using Compass 
@import "compass/utilities/sprites"; 
 
// Required for correct operation, must be named same as the sprite
$why-train-with-us-spacing: 40px; 
 
@import "admin/why-train-with-us/*.png";  
 
// Sprites should be declared in the same order they are on the disk?
.cdt-wtwu { 
    $map: sprite-map("admin/why-train-with-us/*.png", $spacing: $why-train-with-us-spacing); /*empty comment*/ 
    $sprite-width: 1332px; 
    $sprite-height: 1083px; 
 
    .wtwu-adobe-apple-authorised-logo { 
        @include why-train-with-us-sprite(wtwu-adobe-apple-authorised-logo); 
        @include responsive-sprite($map, wtwu-adobe-apple-authorised-logo, $sprite-width, $sprite-height, 100%);
    }  
 
    .wtwu-classroom { 
        @include why-train-with-us-sprite(wtwu-classroom); 
        @include responsive-sprite($map, wtwu-classroom, $sprite-width, $sprite-height, 100%);
    }  

    .wtwu-course-classroom { 
        @include why-train-with-us-sprite(wtwu-course-classroom); 
        @include responsive-sprite($map, wtwu-course-classroom, $sprite-width, $sprite-height, 100%);
    } 
 
    .wtwu-private-training { 
        @include why-train-with-us-sprite(wtwu-private-training); 
        @include responsive-sprite($map, wtwu-private-training, $sprite-width, $sprite-height, 100%);
    }  

    .wtwu-background { 
        @include why-train-with-us-sprite(wtwu-background); 
        @include responsive-sprite($map, wtwu-background, $sprite-width, $sprite-height, 100%);
        
        // Fix the height of the carousel, to prevent it growing endlessly on large screens
        @media (min-width: 1380px) {
            padding-bottom: 250px;
        }
    }  

    .gradient-top { 
        @include why-train-with-us-sprite(gradient-top); 
        @include responsive-sprite($map, gradient-top, $sprite-width, $sprite-height, 100%);
        max-height: 46px;
        margin-top: -2px;
    }  
}
