@import "../components/testimonials-slider";
    
$wtwu-color: #2088D1; 
       
.cdt-wtwu {
    .custom-breadcrumbs {
        margin-top: $margin-bottom-default / 2;
    }

    .breadcrumb-active {
        color: $wtwu-color;
    }  

    .wtwu-breadcrumbs {
        @media #{$medium-up} {
            margin-top: -1.5em;
        }
    }

    h1 {
        @include large-thin-title;
        margin-bottom: 6px;

        @media #{$medium-up} {
            margin-top: -1em;
        }
    }
  
    .wtwu-header p { 
        @extend %t-light;
        @include adjust-font-size-to(20px, 1);

        line-height: 30px;
    } 
 
    h2 {
        @include list-header($wtwu-color);
    }

    .wtwu-side-logo {
        margin-top: 16px;

        @media #{$medium-up} {
            margin-top: 50px;
        }
    }

    .testimonials-slider {
        @extend %testimonials-slider;
    }   

    .wtwu-benefits {
        @include adjust-font-size-to(14px, 1);
    }
}