@import "../components/breadcrumbs";
@import "../components/testimonials-slider";
    
$wtwu-color: #2088D1; 
       
.cdt-wtwu {
    .custom-breadcrumbs {
        margin-top: $margin-bottom-default / 2;
    }

    .breadcrumb-active {
        color: $wtwu-color;
    }  

    h1 {
        @extend %t-light;
        @include adjust-font-size-to(36px, 1);
 
        line-height: 1.38em;
        margin-bottom: $margin-bottom-default;
    }
  
    .wtwu-header p { 
        @extend %t-light;
        @include adjust-font-size-to(20px, 1);

        line-height: 30px;
    }
 
    h2 {
        margin-top: 10px;
        margin-bottom: 16px;
        line-height: 1.5em;
        color: $wtwu-color;
        text-transform: uppercase;

        @include adjust-font-size-to(18px, 1);
        @extend %t-bold;
    }

    .wtwu-side-logo {
        margin-top: 50px;
    }

    .testimonials-slider {
        @extend %testimonials-slider;
    }   
}