@import "../../../components/training/category";
 
.after-effects-category {
    @include category($after-effects-color);

    // Media queries are not supported on older IE, to use borders on medium 
    // screens and up - define width in a way all browsers understand
    .tight-header-1 {
        @media #{$medium-up} {
            width: 337px;
        }
    }

    .tight-header-2 {
        @media #{$medium-up} {
            width: 324px;
        }
    } 

    .course-item .course-book-now {
        background-color: lighten($after-effects-color, 10%); 
    }

    .testimonials {
        height: 19em;
    }

    .side-pannel {
        top: 0;
    }
} 
