@import "_custom/common";
@import "_custom/components/btn-shadow";

// Create sprite using Compass
@import "compass/utilities/sprites";
 
// Required for correct operation, must be named same as the sprite
$after-effects-advanced-spacing: 40px; 

@import "training/video-editing/after-effects/after-effects-advanced/*.png";  

.after-effects-advanced-course {
    $map: sprite-map("training/video-editing/after-effects/after-effects-advanced/*.png", $spacing: $after-effects-advanced-spacing); /*empty comment*/ 
    $sprite-width: 200px;
    $sprite-height: 786px;

    .ae-advanced-framed {  
        @include after-effects-advanced-sprite(ae-advanced-framed); 
        @include responsive-sprite($map, ae-advanced-framed, $sprite-width, $sprite-height, 5.8%);
        margin-top: 18px !important;
        min-width: 73px;
        min-height: 72px;
    } 

    .course-classrom { 
        @include after-effects-advanced-sprite(course-classrom); 
        @include responsive-sprite($map, course-classrom, $sprite-width, $sprite-height, 5.8%);
        width: 77%; 
        padding-bottom: 42%;
        border: 1px solid #000;
        margin-top: 5px; 
        margin-left: 12px;
    }
 
    .pdf {
        @include after-effects-advanced-sprite(pdf); 
        @include responsive-sprite($map, pdf, $sprite-width, $sprite-height, 5.8%);
        min-width: 32px;
        min-height: 32px;
        top: -3px;
    }

    .course-custom-training-logo {
         
        @include after-effects-advanced-sprite(custom-training); 
        @include responsive-sprite($map, custom-training, $sprite-width, $sprite-height, 100%);

 
        @media screen and (min-width: 420px) and (max-width: 639px) { 
           @include responsive-sprite($map, custom-training, $sprite-width, $sprite-height, 65%);
        }

        border: 1px solid #686F74; 
    }

    .ae-essentials {
        @include after-effects-advanced-sprite(ae-essentials); 
        @include responsive-sprite($map, ae-essentials, $sprite-width, $sprite-height, 5.8%);
        margin-left: 15px;
        min-width: 50px;
        min-height: 50px;    
    }

    .pr-essentials {
        @include after-effects-advanced-sprite(pr-essentials); 
        @include responsive-sprite($map, pr-essentials, $sprite-width, $sprite-height, 5.8%);
        margin-left: 15px;
        min-width: 50px;
        min-height: 50px;    
    }

    .pr-advanced {
        @include after-effects-advanced-sprite(pr-advanced); 
        @include responsive-sprite($map, pr-advanced, $sprite-width, $sprite-height, 5.8%);
        margin-left: -5px;
        margin-top: -15px;
        min-width: 68px;
        min-height: 66px;
    }

    .package-training-logo {
        margin: -5px 15px 15px;
        min-width: 36px;
        min-height: 36px;
    }   

    @include btn-shadow(darken($after-effects-color, 10%));
}