// Create sprite using Compass
@import "compass/utilities/sprites";
// Required for correct operation, must be named same as the sprite
$after-effects-category-spacing: 40px;
@import "training/video-editing/after-effects/after-effects-category/*.png";
.after-effects-category {
    $map: $after-effects-category-sprites;
    .ae-essentials-framed {
        @include after-effects-category-sprite(ae-essentials-framed);
        @include responsive-sprite($map, ae-essentials-framed, 5.8%);
        min-width: 56px;
        min-height: 57px;
    }
    .category-custom-training {
        @include after-effects-category-sprite(custom-training);
        @include responsive-sprite($map, custom-training, 100%);
        @media screen and (min-width: 420px) and (max-width: 639px) {
            @include responsive-sprite($map, custom-training, 65%);
        }
        border: 1px solid #686F74;
    }
    .ae-essentials {
        @include after-effects-category-sprite(ae-essentials);
        @include responsive-sprite($map, ae-essentials, 5%);
        margin-left: 15px;
        min-width: 40px;
        min-height: 45px;
    }
    .ae-essentials-package {
        @include after-effects-category-sprite(ae-essentials-package);
        @include responsive-sprite($map, ae-essentials-package, 5%);
        margin-left: 15px;
        margin: -5px 15px 0px;
        min-width: 36px;
        min-height: 36px;
    }
    .ae-advanced {
        @include after-effects-category-sprite(ae-advanced);
        @include responsive-sprite($map, ae-advanced, 5.8%);
        margin-top: -9px;
        min-width: 53px;
        min-height: 52px;
    }
    .ae-advanced-package {
        @include after-effects-category-sprite(ae-advanced-package);
        @include responsive-sprite($map, ae-advanced-package, 5.8%);
        margin-top: -9px;
        min-width: 50px;
        min-height: 50px;
        margin: 0 12px 0 4px;
    }
    .package-training-logo {
        margin: -5px 15px 15px;
        min-width: 36px;
        min-height: 36px;
    }
    .pr-essentials {
        @include after-effects-category-sprite(pr-essentials);
        @include responsive-sprite($map, pr-essentials, 5%);
        margin: -5px 15px 0px;
        min-width: 36px;
        min-height: 36px;
    }
    .pr-essentials-package {
        @include after-effects-category-sprite(pr-essentials-package);
        @include responsive-sprite($map, pr-essentials-package, 5%);
        margin: -5px 15px 0px;
        min-width: 36px;
        min-height: 36px;
    }
    .pr-advanced-package {
        @include after-effects-category-sprite(pr-advanced-package);
        @include responsive-sprite($map, pr-advanced-package, 5.8%);
        margin-top: -9px;
        min-width: 50px;
        min-height: 50px;
        margin: 0 12px 10px 3px;
    }
}