.breadcrumb {
    padding: 0 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: transparent;
    font-size: 12px;

    li {
        float: left;
    }
} 
.breadcrumb .active a {
    color: #333333;
}
