.breadcrumb {
    padding: 0 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: transparent;
    font-size: 12px;

    li {
        float: left;

        + li:before {
            content: ">\00a0"; // Unicode space added since inline-block means non-collapsing white-space, as in Bootstrap breadcrumb.less file
        }

        a, a:hover, a:focus {
            color: #000;
        }
    }        
} 

.breadcrumb-active(@color: #000) {
    a, a:hover, a:focus {
        color: @color !important;
    }           
}
