.courses-list-banner {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    width: 100%;
}
.testimonial {
    img {
        padding-right: 0 !important;        
        padding-left: 0 !important;
    }
}
.courses-list-description {
    h1 {
        color: #79bdfe;
        font-size: 1.3em;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
    h2 {
        color: #79bdfe;
        font-size: 1.1em;
        font-weight: normal;
        margin-top: 0;
        padding-top: 0;
    }
    
    p {
        color: #3c3b3b;
        font-size: 0.8em;
        line-height: 1.4em;
    }
}