.courses-list-banner {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    width: 100%;
} 

.main-container {
    padding-left: 0;
    padding-right: 0;
}

.description-section {
    padding-left: 0;
    padding-right: 0;

    @media screen {
        @media (min-width: @screen-md-min) {
            padding-right: 15px;
        }
    }
}

.side-panel-section {
    height: 220px;
    padding-right: 0;
    padding-left: 0;

    @media screen {
        @media (min-width: @screen-sm-min) {
            padding-left: 15px;
        }
    }
}


