.courses-list-container {
    padding-bottom: 15px;
}

.courses-list-banner {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    width: 100%;
}

.stretch-left {
    padding-left: 0;
}

.testimonial {
    background: url("../img/adobe/photoshop-courses-page/ps-testimonialbubble.png");
    background-repeat: no-repeat;

    height: 220px;

    p {
        color: #fff;
        margin: 10px 0 6px 25px;
        font-family: Georgia,"Times New Roman",Times,serif;
        font-weight: lighter;
        font-style: italic;
        font-size: .90em;
        line-height: 1.20em;
    }

    p.testimonial-byline {
            font-family: Arial,Helvetica,sans-serif;
            font-style: normal;
            font-size: .85em;
    }
}

.side-panel {
    position: absolute;
    right: 0;
    margin-bottom: 20px;
}

.side-panel-section {
    height: 220px;

    @media screen {
        @media (min-width: @screen-lg-min) {
            height: 250px;
        }
    }
}

.courses-img {
    float: left;
    margin-right: 10px;
    max-width: 60%;    
}
.courses-list-description {
    padding-left: 0;

    h1 {
        color: #79bdfe;
        font-size: 1.5em;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        font-weight: bold;
    }
    
    h2 {
        color: #79bdfe;
        font-size: 1.3em;
        font-weight: normal;
        margin-top: 0;
        padding-top: 0;
    }
    
    p {
        color: #3c3b3b;
        font-size: 0.9em;
        line-height: 1.4em;
    }
}

.landing-divider-section {
    height: 60px;
}

.landing-divider {
    background: url("../img/adobe/photoshop-courses-page/ps-divider.png");
    background-repeat: no-repeat;
    background-size: 100%;
    clear: both;
    height: 40px;

    @media screen {
        @media (min-width: @screen-sm-min) {
            height: 48px;
        }
        @media (min-width: @screen-md-min) {
            height: 60px;
        }
    }
}

.course-item {
    text-align: center;
    margin-top: 25px;

    h3 {
        font-weight: normal;
        margin-top: 0;
        font-size: 1.1em;
        color: #6a6a6a;

        .grey {
            color: #bbb;
            font-size: 1.3em;
        }
    } 

    a {
        text-decoration: none;
    }

    .course-item-description {
        text-align: left;
        padding: 0 10px 0 10px;
        font-size: .85em;
    }

    .course-item-price {
        .day-time {
            font-weight: bold;
            margin: 0;
            padding: 0;
        }   
        
        .coloured {
            color: #79bdfe;
        }    

        .big {
            font-size: 1.8em;
            line-height: 1em;
        }

        p {
            font-size: .80em;
        }

        a {
            background-color: #79bdfe;
            color: #FFF;
            font-size: .85em;
            margin: 0;
            padding: 2px 4px 2px 4px;
            font-weight: bold;
        }    

        a.course-info {
            background-color: #bcdefe;
        }
    }
}