.footer-bg {
    background-color: #343534;
}
/* Footer CSS */
.footer li, .footer li > a {
    color: #fff;
}
.footer li > a:hover {
    color: #2089D3;
}
.footer h3 {
    color: #FFF;
    font-size: 1.1em;
}
.footer-affiliates-img {
    background-color: transparent;
    border: none;
}