.social-media-bg {
    background-color: #2089D3;
}
/* Social Blue Bar */
.social-text h1{
    font-size: 1em;
    color: #FFF;
    margin-top: 10px;
    margin-bottom: 10px;
}
.social-icon {
    padding: 0.5em 0.5em 0 0;
}
