/* Homepage Accordion */
.home-accordion {
	.glyphicon-minus,
	.glyphicon-plus {
	    font-size:9px;
	    font-weight:100;
	    color:#555555;
	    padding-right: 10px;
	}
	.thumbnail {
	    background-color: transparent;
	    border: none;
	    margin-bottom: 5px;
	 }

	.panel-default {
	    border-color: #FFF;
	}

	img.course-icon {
	    margin: 0;
	    padding: 0;
	}

	.courses-heading-container.col-xs-9 {
	    padding: 0;
	}

	.panel,
	.panel-default>.panel-heading+.panel-collapse>.panel-body {
		border: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	.panel-body div.col-lg-3 {
	    padding-bottom: 2.5em;   
	}

	.panel-body .col-lg-3 p.col-xs-12 {
	    font-size: 0.95em;   
	}

	.panel-heading {
		background-color: transparent;
		border-top: none;
	}

	.active .panel-heading {
		border-bottom: 1px solid #B9B9B9; 
		color: #36c;
	}

	.inactive .panel-heading {
		border-bottom: 2px solid #B9B9B9;
		color: #2089d3;
	}

	.section-info {
		font-size: 13px;
		line-height: 1.4em;
		padding-left: 0;
	}

	.section-courses {
		padding-left: 0;
	}

	.course-title {
		padding-left: 0px;		

		a h3 {
		    color: #3c3b3b;
		    font-size: 1em;
			position: relative;
		}
	}

	.course-info {
		padding-left: 0;
		font-size: 12px;
	}

	@media (min-width: @screen-md-min) {
		.title-two-rows-md h3 {
			margin-top: 12px;
		}
	}

	@media (min-width: @screen-lg-min) {
		.title-one-row-lg h3 {
			margin-top: 20px;
		}
	}

	.course-description {
		font-size: 12px;
		margin-bottom: 40px;
		padding-left: 0;
	}

	@media screen {
      	@media (min-width: @screen-sm-min) {
			.courses-heading-container a h3 {
			}
      	}

      	@media (min-width: @screen-md-min) {
			.courses-heading-container a h3 {
			}
      	}

      	@media (min-width: @screen-lg-min) {
			.courses-heading-container a h3 {
			}
      	}
    }
}
