.indesign-catalog-banner {
    background: url("../img/adobe/indesign-courses-catalog/indesign-banner.jpg");
    position: relative;
    height: 8em;
    left: 0;
    right: 0;
    color: #fff;

    .catalog-banner-container,
    .catalog-banner-header,
    .catalog-banner-header-logo {
        padding-left: 0;
        padding-right: 0;
    }


    .catalog-banner-header-main {
        font-size: 20px;
        font-weight: 200;
        margin-top: 25px;

        @media screen {
            @media (min-width: @screen-md-min) {
                font-size: 24px;
            }
        }
    }

    .catalog-banner-header-sub {
        font-size: 12px;
        font-weight: 500;

        @media screen {
            @media (min-width: @screen-md-min) {
                font-size: 24px;
            }
        }
    }
}

.catalog-name {
    border: 1px solid #000;
    font-size: 18px;
    font-weight: 400;
    margin: 10px 10px;

    @media screen {
        @media (min-width: @screen-md-min) {
            font-size: 22px;
        }
    }
}

.catalog-description{
    padding-left: 0;
    font-size: 20px;
    font-weight: 300;
}

.indesign-sw-ver,
a.indesign-sw-ver {
    color: #f442a9;
    text-decoration: underline;
}

.prefer-custom-training {
    padding-right: 0;
    max-width: 300px;

    .custom-training-logo {
        background: url("../img/adobe/indesign-courses-catalog/private-training.jpg") no-repeat;
        background-size: cover;
        min-height: 99px;
        position: relative;
    }

    .prefer-custom-training-text {
        padding: 10px 0 10px 5px;
        background-color: #7C7777;
        color: #fff;
    }

    .custom-training-text-header {
        font-size: 20px;
        margin-bottom: 10px;
    }

    ul {
        -webkit-padding-start: 10px;
    }

    ul li:before{ content:"-"; position:relative; left:-5px;}
    ul li{ text-indent:-5px; }
}

.indesign-course-item {
    margin-bottom: 25px;
    margin-top: 10px;
    border-bottom: 1px solid #bbb; 

    .course-item-logo {
        float: left;
        width: 85px;

        @media screen {
            @media (min-width: @screen-sm-min) {
                width: initial;
            }

            @media (min-width: @screen-md-min) {
                float: none;
                padding-left: 0;
                padding-right: 0;
                text-align: center;
            }
        }
    }

    .wide-img {
        width: 92px;
        padding-left: 0;
        margin-top: -18px;

        @media screen {
            @media (min-width: @screen-sm-min) {
                width: 95px;
            }

            @media (min-width: @screen-md-min) {
                width: initial;
            }
        }
    }

    .course-item-title {
        margin-top: 8px;

        a {
            text-decoration: none;
        }

        h3 {
            font-weight: 600;
            margin-top: 0;
            font-size: 1.3em;
            color: #f442a9;

            .grey {
                color: #f442a9;
                font-size: 1.5em;
                font-weight: 200;
            }

            @media screen {
                @media (min-width: @screen-md-min) {
                    .grey {
                        font-size: 1.3em;
                    }
                }
            }
        } 

        @media screen {
            @media (min-width: @screen-md-min) {
                text-align: center;
                padding-right: 0;
                padding-left: 0;
            }
        }
    }

    .title-tree-rows-xs {
        width: 95px;
        margin-top: -5px;

        @media screen {
            @media (min-width: @screen-md-min) {
                width: initial;
                margin-top: 5px;
            }
        }
    }

    .push-title-up {
        width: 95px;
        margin-top: -2px;

        @media screen {
            @media (min-width: @screen-md-min) {
                width: initial;
                margin-top: 8px;
            }
        }
    }

    .title-row-lg {
        @media screen {
            @media (min-width: @screen-lg-min) {
                height: 155px;
            }
        }        
    }

    .course-item-description {
        text-align: justify;
        font-size: 1.1em;
        margin-top: 10px;
        margin-bottom: 20px;

        @media screen {
            @media (min-width: @screen-sm-min) {
                height: 100px;
            }

            @media (min-width: @screen-md-min) {
                text-align: left;
                font-size: 1em;
                height: 140px;
            }

            @media (min-width: @screen-lg-min) {
                height: 160px;
            }
        }
    }

    .course-item-description-md {
        @media screen {
            @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                height: 105px;
            }
        }        
    }

    .course-item-description-lg {
        @media screen {
            @media (min-width: @screen-lg-min) {
                height: 135px;
            }
        }
    }

    .push-description-up {
        @media screen {
            @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max){
                height: 92px;
            }

            @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                height: 118px;
            }
        }        
    }

    .course-item-additional-data {
        margin-bottom: 20px;
    }

    .course-item-info,
    .course-item-fee,
    .course-item-links,
    .course-book-now {
        font-size: 0.9em;
        padding-left: 0;
        padding-right: 0;           

        .day-time {
            font-weight: bold;
            margin: 0;
            padding: 0;
        }   
        
        p.colored {
            color: #f442a9;
        }

        .big {
            font-size: 1.5em;
            line-height: 1em;
        }

        a {
            background-color: #f47bc1;
            color: #FFF;
            font-size: 1em;
            margin: 0;
            padding: 2px 4px 2px 4px;
            font-weight: bold;
        }    

        .course-info {
            background-color: #f442a9;
            padding-left: 0;
            padding-right: 0;
        }

        .course-book-now {
            margin-top: 15px;
        }

        @media screen {
            @media (min-width: @screen-md-min) {
                .big {
                    font-size: 1.2em;
                    line-height: 1em;
                }

                a {
                    font-size: 0.9em;
                } 

                .course-book-now {
                    margin-top: 0px;
                }

            }

            @media (min-width: @screen-lg-min) {
                font-size: 0.9em;
            }
        }
    }

    .course-item-fee {
        @media screen {
            @media (min-width: @screen-xs-min) and (max-width: @screen-md-max){
                width: 163px;
            }
        }
    }

    @media screen {
        @media (min-width: @screen-sm-min) {
            height: 285px;
        }

        @media (min-width: @screen-md-min) {
            height: 400px;
        }

        @media (min-width: @screen-lg-min) {
            height: 415px;
        }
    }
}

