// Create sprite using Compass
@import "compass/utilities/sprites";
 
// Required for correct operation, must be named same as the sprite
$digital-publishing-category-spacing: 40px; 

@import "training/adobe/digital-publishing/digital-publishing-category/*.png"; 
.digital-publishing-category {
    $map: sprite-map("training/adobe/digital-publishing/digital-publishing-category/*.png", $spacing: $digital-publishing-category-spacing); /*empty comment*/ 
    $sprite-width: 185px;
    $sprite-height: 1137px;

    .id-ipad { 
        @include digital-publishing-category-sprite(id-ipad); 
        @include responsive-sprite($map, id-ipad, $sprite-width, $sprite-height, 5.8%);
        margin-left: 5px;
        margin-top: -5px;

        min-width: 56px;
        min-height: 49px;
    } 

    .category-custom-training {
        // Don't forget to change the name of the image for every page
        @include digital-publishing-category-sprite(custom-training); 
        @include responsive-sprite($map, custom-training, $sprite-width, $sprite-height, 100%);

        @media screen and (min-width: 420px) and (max-width: 639px) { 
            @include responsive-sprite($map, custom-training, $sprite-width, $sprite-height, 65%);
        }
        
        border: 1px solid #686F74; 
    }

    .id-dps-pkg {
        @include digital-publishing-category-sprite(id-dps-pkg); 
        @include responsive-sprite($map, id-dps-pkg, $sprite-width, $sprite-height, 5%);
        margin-left: 15px;

        min-width: 38px;
        min-height: 45px;    
    }

    .id-dps-pro {
        @include digital-publishing-category-sprite(id-dps-pro); 
        @include responsive-sprite($map, id-dps-pro, $sprite-width, $sprite-height, 5%);
        margin-left: 9px;
        margin-top: -5px;
        min-width: 52px;
        min-height: 47px;
    }

    .id-dps-single {
        @include digital-publishing-category-sprite(id-dps-single); 
        @include responsive-sprite($map, id-dps-single, $sprite-width, $sprite-height, 5%);
        margin-left: 9px;
        margin-top: -5px;
        min-width: 52px;
        min-height: 47px;
    }

    .id-interactivity {
        @include digital-publishing-category-sprite(id-interactivity); 
        @include responsive-sprite($map, id-interactivity, $sprite-width, $sprite-height, 5%);
        margin: -12px -8px 0 5px;

        min-width: 65px;
        min-height: 56px;    
    }

    .id-epub {
        @include digital-publishing-category-sprite(id-epub); 
        @include responsive-sprite($map, id-epub, $sprite-width, $sprite-height, 5%);margin-left: 15px;
        margin-top: -5px;
        min-width: 38px;
        min-height: 51px;
    }

    .training-packages-images {
        @media (min-width: 1025px) {
            margin: 6em 0 0 1em;
        }           
    }

    .package-indesign-ess {
        @include digital-publishing-category-sprite(id-essentials); 
        @include responsive-sprite($map, id-essentials, $sprite-width, $sprite-height, 5%);
        min-width: 47px;
        min-height: 45px;    
    }

    .package-illustrator-ess {
        @include digital-publishing-category-sprite(il-ess); 
        @include responsive-sprite($map, il-ess, $sprite-width, $sprite-height, 5%);
        min-width: 47px;
        min-height: 45px;    
    }

    .package-photoshop-ess {
        @include digital-publishing-category-sprite(ps-ess); 
        @include responsive-sprite($map, ps-ess, $sprite-width, $sprite-height, 5%);
        min-width: 47px;
        min-height: 45px;    
    }
} 
