// Create sprite using Compass
@import "compass/utilities/sprites";
  
// Required for correct operation, must be named same as the sprite
$digital-publishing-category-spacing: 40px; 

@import "training/adobe/digital-publishing/digital-publishing-category/*.png"; 
.digital-publishing-category { 
    $map: $digital-publishing-category-sprites;

    .id-ipad { 
        @include digital-publishing-category-sprite(id-ipad); 
        @include responsive-sprite($map, id-ipad, 5.8%);
        margin-left: 5px;
        margin-top: -5px;

        min-width: 56px;
        min-height: 49px;
    } 

    .category-custom-training {
         
        @include digital-publishing-category-sprite(custom-training); 
        @include responsive-sprite($map, custom-training, 100%);

        @media screen and (min-width: 420px) and (max-width: 639px) { 
            @include responsive-sprite($map, custom-training, 65%);
        }
        
        border: 1px solid #686F74; 
    }

    .id-dps-pkg {
        @include digital-publishing-category-sprite(id-dps-pkg); 
        @include responsive-sprite($map, id-dps-pkg, 5%);
        margin-left: 15px;

        min-width: 38px;
        min-height: 45px;    
    }

    .id-dps-pro {
        @include digital-publishing-category-sprite(id-dps-pro); 
        @include responsive-sprite($map, id-dps-pro, 5%);
        margin-left: 9px;
        margin-top: -5px;
        min-width: 52px;
        min-height: 47px;
    }

    .id-dps-single {
        @include digital-publishing-category-sprite(id-dps-single); 
        @include responsive-sprite($map, id-dps-single, 5%);
        margin-left: 9px;
        margin-top: -5px;
        min-width: 52px;
        min-height: 47px;
    }

    .id-interactivity {
        @include digital-publishing-category-sprite(id-interactivity); 
        @include responsive-sprite($map, id-interactivity, 5%);
        margin: -12px -8px 0 5px;

        min-width: 65px;
        min-height: 56px;    
    }

    .id-epub {
        @include digital-publishing-category-sprite(id-epub); 
        @include responsive-sprite($map, id-epub, 5%);
        margin-left: 15px;
        margin-top: -5px;
        min-width: 38px;
        min-height: 51px;
    }

    .dps-package {
        @include digital-publishing-category-sprite(dps-package); 
        @include responsive-sprite($map, dps-package, 5%);
        margin: -4px 15px 12px 15px;
        min-width: 38px;
        min-height: 38px;
    }

    .eg-essentials {
        @include digital-publishing-category-sprite(eg-essentials); 
        @include responsive-sprite($map, eg-essentials, 5%);
        margin: -4px 15px 12px 15px;
        min-width: 38px;
        min-height: 38px;
    }
     .testimonials {
        height: 60em;
    }
} 
