/* Hide all sprites */
.id-ipad, 
.category-custom-training, 
.id-dps-pkg, 
.id-dps-pro, 
.id-dps-single,
.id-interactivity,
.id-epub {
    display: none;
}

/* Push up the custom training to compensate for no image */
.digital-publishing-category {
    p {
        margin-bottom: 24px;
    }

    .category-description-section {
        padding-right: 16px;
        margin-bottom: 0;
    }
}