@import "_custom/common";
@import "_custom/components/btn-shadow";

// Create sprite using Compass
@import "compass/utilities/sprites";
 
// Required for correct operation, must be named same as the sprite
$dps-pro-app-spacing: 40px; 

@import "training/adobe/digital-publishing/dps-pro-app/*.png";  

.dps-pro-app-course {
    $map: $dps-pro-app-sprites;

    .id-dps-pro {  
        @include dps-pro-app-sprite(id-dps-pro); 
        @include responsive-sprite($map, id-dps-pro, 5.8%);
        min-width: 55px;
        min-height: 55px;
    } 

    .course-classrom { 
        @include dps-pro-app-sprite(course-classrom); 
        @include responsive-sprite($map, course-classrom, 5.8%);
        width: 77%; 
        padding-bottom: 42%;
        border: 1px solid #000;
        margin-top: 5px;
        margin-left: 12px;
    }
 
    .pdf {
        @include dps-pro-app-sprite(pdf); 
        @include responsive-sprite($map, pdf, 5.8%);
        min-width: 32px;
        min-height: 32px;
        top: -3px;
    }

    .course-custom-training-logo {
         
        @include dps-pro-app-sprite(custom-training); 
        @include responsive-sprite($map, custom-training, 100%);

 
        @media screen and (min-width: 420px) and (max-width: 639px) { 
           @include responsive-sprite($map, custom-training, 65%);
        }

        border: 1px solid #686F74; 
    }

    .id-dps-single {
        @include dps-pro-app-sprite(id-dps-single); 
        @include responsive-sprite($map, id-dps-single, 5.8%);
        margin-left: 15px;
        min-width: 65px;
        min-height: 63px; 
    }

    .id-ipad {
        @include dps-pro-app-sprite(id-ipad); 
        @include responsive-sprite($map, id-ipad, 5.8%);
        margin-left: 15px;
        min-width: 65px;
        min-height: 63px; 
    }

    @include btn-shadow($digital-publishing-color);
}