@import "_custom/common";
@import "_custom/components/btn-shadow";

// Create sprite using Compass
@import "compass/utilities/sprites";
 
// Required for correct operation, must be named same as the sprite
$indesign-to-ebook-spacing: 40px; 

@import "training/adobe/digital-publishing/indesign-to-ebook/*.png";  

.indesign-to-ebook-course {
    $map: $indesign-to-ebook-sprites;

    .id-epub {  
        @include indesign-to-ebook-sprite(id-epub); 
        @include responsive-sprite($map, id-epub, 5.8%);
        min-width: 55px;
        min-height: 55px;
    } 

    .course-classrom { 
        @include indesign-to-ebook-sprite(course-classrom); 
        @include responsive-sprite($map, course-classrom, 5.8%);
        width: 77%; 
        padding-bottom: 42%;
        border: 1px solid #000;
        margin-top: 5px;
        margin-left: 12px;
    }
 
    .pdf {
        @include indesign-to-ebook-sprite(pdf); 
        @include responsive-sprite($map, pdf, 5.8%);
        min-width: 32px;
        min-height: 32px;
        top: -3px;
    }

    .course-custom-training-logo {
         
        @include indesign-to-ebook-sprite(custom-training); 
        @include responsive-sprite($map, custom-training, 100%);

 
        @media screen and (min-width: 420px) and (max-width: 639px) { 
           @include responsive-sprite($map, custom-training, 65%);
        }

        border: 1px solid #686F74; 
    }

    .id-advanced {
        @include indesign-to-ebook-sprite(id-advanced); 
        @include responsive-sprite($map, id-advanced, 5.8%);
        margin-left: 7px;
        min-width: 65px;
        min-height: 63px; 
    }

    .id-interactivity {
        @include indesign-to-ebook-sprite(id-interactivity); 
        @include responsive-sprite($map, id-interactivity, 5.8%);
        margin-bottom: 4px !important;
        margin-top: -8px;
        margin-left: 5px;
        min-width: 83px;
        min-height: 76px; 
    }

    .id-ipad {
        @include indesign-to-ebook-sprite(id-ipad); 
        @include responsive-sprite($map, id-ipad, 5.8%);
        margin-left: 15px;
        min-width: 65px;
        min-height: 63px; 
    }

    @include btn-shadow($digital-publishing-color);
}