<html>
    <head>
        <style type="text/css">
            body { margin: 18px; }
            body, table { font: 12px/18px "Lucida Grande", Arial, Verdana, sans-serif; }
            table.border { font: 11px/18px "Lucida Grande", Arial, Verdana, sans-serif; }
            table.border { border-right: 1px solid #eee; border-bottom: 1px solid #eee; }
            table.border td { border-top: 1px solid #eee; border-left: 1px solid #eee; }
            table span { color: #888; }
        </style>
    </head>
    <body>
        <p class="p1"><strong>Thanks for Your Order!</strong></p>
        <table width="100%" cellspacing="0" cellpadding="6" class="invoice">
            <tbody>
                <tr>
                    <td><strong>Order Date</strong><br />
                    {tag_invoicedate}
                    </td>
                    <td align="right"><strong>Order Number</strong><br />
                    {tag_invoicenumber}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                    {tag_recipientname}<br />
                    {tag_addressdefault}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2">
                    <table width="100%" cellspacing="0" cellpadding="6" class="border">
                        <tbody>
                            <tr>
                                <td style="width: 30%;"><span>Product</span></td>
                                <td style="width: 30%;"><span>Description</span></td>
                                <td style="width: 10%;"><span>Unit Price</span></td>
                                <td style="width: 10%;"><span>GST</span></td>
                                <!--<td style="width: 10%;"><span>Quantity</span></td>-->
                                <td style="width: 10%;"><span>Total</span></td>
                            </tr>
                            <tr class="text">
                                <td style="width: 30%;">{tag_productname}</td>
                                <td style="width: 30%;">{tag_productdescription}</td>
                                <td style="width: 10%;">{tag_productextaxamount}</td>
                                <td style="width: 10%;">{tag_producttaxamount}</td>
                                <!--<td style="width: 10%;">{tag_productquantity}</td>-->
                                <td style="width: 10%;">{tag_producttotal}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%" cellspacing="0" cellpadding="6" border="0" class="textb">
                        <tbody>
                            <tr>
                                <td colspan="2"><br />
                                <hr />
                                </td>
                            </tr>
                            <tr>
                                <td align="right" style="width: 90%;"><strong>Grand Total:</strong></td>
                                <td>{tag_invoicetotal}</td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>Thank you for choosing City Desktop Training for your training. A confirmation booking email will be sent to you by separate email advising course details together with your tax invoice or tax receipt if you have paid.</p>
        <p>If paying by cheque please make your cheque payable to City Desktop Training.        Please provide details of the course and the person attending the course.
        Please post your cheque to
        City Desktop Training,
        PO Box Q336,
        QUEEN VICTORIA BUILDING,
        NSW, 1230.</p>
        <p>If paying by Bank Deposit:<br />
        Bank Name: Westpac Bank Branch: Castlereagh Street, Sydney NSW
        <br />
        Account Name: City Desktop Training Pty Ltd
        <br />
        BSB: 032006<br />
        Account Number: 327473<br />
        ---------------------------------------------------------------------------------------<br />
        Please note that a 3% surcharge applies to AMEX payments and 1.5% for Visa and MasterCard Payments.<br />
        ---------------------------------------------------------------------------------------</p>
    </body>
</html>
