.indesign-ess-course-tight-border {
    width: 210px;
    .tight-border(210px, 290px, 320px, 320px); 
}

.indesign-ess-outline-tight-border {
    width: 210px;
    .tight-border(210px, 290px, 200px, 200px); 
}

.ess-course-info {
    .course-info(@indesign-color);
}

.indesign-ess-packages-tight-border,
.indesign-ess-related-tight-border {
    width: 210px;
    .tight-border(210px, 290px, 330px, 330px);    
}

.indesign-ess-related {
    .move-logo-up(20px);
    .move-logo-left(20px);
    width: 85px;
}
