@indesign-color: #f442a9;

.indesign-catalog-banner {
    background: url("../img/adobe/indesign-courses-catalog/indesign-banner.jpg");
    .banner;
}

.indesign-sw-ver,
a.indesign-sw-ver {
    color: @indesign-color;
    text-decoration: underline;
}

.indesign-course-item {
    .catalog-course-item(@indesign-color);
    .course-item-hight-xs(350px);

    .course-item-description {
        .course-item-description-hight-xs(150px);
        .course-item-description-hight-sm(130px);
        .course-item-description-hight-lg(100px);
    }

    .indesign-advanced {
        .move-logo-up;
        .move-logo-left;
        .push-title-right;
    }

    .indesign-long-doc {
        .move-logo-up(-24px);
        .move-logo-left;
        .push-title-right;
    }

    .indesign-interactivity {
        .move-logo-up(-27px);
        .move-logo-left;
        .push-title-right(25px);
    }

    .indesign-accessability {
        .push-title-right(25px);
    }

    /* Manage the item height*/
    .item-description-essentials {
        .move-description(16px);
    }

    .item-description-long {
        .move-description(-7px);
    }

    .item-description-inter {
        .move-description(-4px);
    }
}

.indesign-side-pannel {
    .catalog-side-pannel(@indesign-color);
}

.indesign-paragraph-header {
    .paragraph-header(@indesign-color);
}

.indesign-part-time {
    .part-time(@indesign-color);
}

.indesign-packages {
    .courses-package;
}
