@indesign-color: #f442a9;

.indesign-catalog-banner {
    background: url("../img/adobe/indesign-courses-catalog/indesign-banner.jpg");
    .banner;
}

.indesign-sw-ver,
a.indesign-sw-ver {
    color: @indesign-color;
    text-decoration: underline;
}

.indesign-course-item {
    .catalog-course-item(@indesign-color);
}

.indesign-side-pannel {
    .catalog-side-pannel(@indesign-color);
}

.indesign-paragraph-header {
    .paragraph-header(@indesign-color);
}

.indesign-packages {
    .courses-package;
}
