.footer-bg {
    background-color: #343534;
        .footer-logo {
            padding: 15px 0 40px 0;
        }
    .wrapbuckets {
        color: #FFF;
        a {
            color: #fff;
            text-decoration: none;
        }
        h3 {
            color: #fff;
            font-weight: 700;
            font-size: 0.95em;
            margin: 15px 0 2px;
        }
        .bucket ul {
            font-size: 0.85em;

        }
    }
}

