.blue-bar {
	background-color: #2089d3;
	@media #{$medium-up} {
		height: 32px;
	}
	.fb-icon {
		margin: 0;
		padding: 2px 0;
	}
	.custom-txt {
		margin: 0;
		padding: 0;
		p {
			color: #fff;
			font-weight: 300;
			font-size: 15px;
			padding: 4px 0;
		}
	} 
}

.accordion-home {
	@include plus-minus-icon;

	.accordion-navigation {
		@media #{$medium-up} {
			.acc-container {
			height: 140px;
			}
			.acc-container-lg {
				height: 190px;
			}
			.acc-container-lg-1 {
				height: 295px;
			}
		}

		@media only screen and (min-width: 641px) and (max-width: 768px) {
			.acc-container {
			height: 140px;
			}
			.acc-container-lg {
				height: 215px;
			}
			.acc-container-lg-1 {
				height: 345px;
			}
		}

		a.panel-header {
			background: transparent;
			border-bottom: 2px solid #c4c4c4;
			padding: 0.5em 0.5em 0.5em 0.7em; 

			h2 {
				color: #2089d3;
				font-size: 1.1em;
				font-weight: 400;
				font-family: Raleway;
				text-transform: uppercase;
			}

			.plus-minus-icon {
				font-size: 24px;
				color: gray;
				font-family: Raleway;
				margin-top: 2px !important;
			}
		}
        p.icn-pdn {
            @media #{$small-only} {
                padding: 45px 0 10px 0px;
			}	
        }
		h3 {
				font-size: 0.90em;
				font-family: Raleway;
				font-weight: 400;
				padding-left: 10px;
			@media #{$large-up} {
				line-height: 2.8em;
				}
			@media #{$medium-only} {
				line-height: 3em;
			}
			@media #{$small-only} {
				line-height: 2.4em;
                padding-left: 15px;
			}	

			}
		h3.two-line {
			line-height: 1.5em;
		}
	}
	.accordion-navigation.active a{
			background-color: transparent;
		}
	p {
		font-size: 0.85em;
		padding-right: 10px;
	}
}

.why-train-bg {
	background-color: #D7E9F7;
	border-bottom: 1px #c4c4c4 solid;

	.train-with-us {
		h3 {
			font-size: 42px;
			font-weight: 200;
			font-family: Raleway;
			line-height: 1em;
			padding-bottom: 5px;
		} 
		
		a:hover {
			background-color: #FFCE77;
		}

		.learn-more {
			@extend %read-more-btn;
		}
	}
}

.no-padding {
	padding: 0;
}