$trainig-banner-height: $base-line-height * 5;

@mixin banner($color){

    .banner-row {
        $logo-height: 55px;
        $vertical-margin: vertical-margin-calc($trainig-banner-height, $logo-height);

        background-color: $color;
        height: $trainig-banner-height;
        margin-bottom: $margin-bottom-default / 2;

        .banner-row {
            height: $trainig-banner-height;
            margin-bottom: $margin-bottom-default / 3;
        }

        .category-logo{
            margin: $vertical-margin 0 $vertical-margin 15px;
        }

        .banner-text {
            max-width: 75%;
            top: $vertical-margin;

            @media #{$medium-up} {
                max-width: 90%;
            }

            @include banner-title;
        }     
    }
} 