$trainig-banner-height: $base-line-height * 5;

@mixin banner($logo-height, $color){
    $logo-height: min(50px, $logo-height);
    $vertical-margin: vertical-margin-calc($trainig-banner-height, $logo-height);

    background-color: $color;
    height: $trainig-banner-height;

    .banner-row {
        height: $trainig-banner-height;
        margin-bottom: 1em;
    }

    .catalog-logo{
        margin: $vertical-margin 0 $vertical-margin 15px;
    }

    .banner-text {
        max-width: 75%;
        top: $vertical-margin * 0.9; 

        @media #{$medium-up} {
            max-width: 90%;
        }

        h1, span {
            font-family: Raleway, Helvetica, sans-serif;
            color: #fff;
        }

        h1 {
            @extend %t-regular;
            @include adjust-font-size-to($medium-font-size);
            line-height: 1.2em;
            
            @media #{$medium-up} {
                @include adjust-font-size-to($large-font-size);
                line-height: 1.2em;
            }

            @media #{$large-up} {
                @include adjust-font-size-to($xlarge-font-size);
                line-height: 1.2em;
            }
        }

        span {
            @extend %t-base;
            @extend %t-regular;
        }
    }
}