@import "banner";
@import "side-pannel";
@import "custom-training";
@import "course-item";
@import "paragraph-header";
@import "testimonials";
@import "../breadcrumbs";

@mixin category($logo-height, $map, $map-width, $map-height, $color: #000){
    @include banner($logo-height, $color);

    .custom-breadcrumbs {
        @include custom-breadcrumbs($color);
    }

    .custom-training-logo {
        @media #{$small-only} { 
            @include custom-training-styling($map, $map-width, $map-height, 65%);
        }

        @include custom-training-styling($map, $map-width, $map-height, 100%);
    } 

    .category-description-section p {
        @extend %t-regular;
    }

    .tight-header {
        display: block;
        border: 1px solid #000;
        padding: 3px 5px;
        margin-bottom: $margin-bottom-default / 2;

        @include adjust-font-size-to($large-font-size, 1);
        @extend %t-light;
    } 

    .tight-header-1 {
        @extend .tight-header;

        width: 415px;
        margin-top: 0;
    }

    .tight-header-2 {
        @extend .tight-header;
        width: 270px;
    }

    .tight-header-3 {
        @extend .tight-header;
        width: 435px;
    }

    .sw-ver {
        color: $color;
        text-decoration: underline;
        @extend %t-emphasize;
    }

    .courses-list {
        @media #{$large-up} { 
            margin-top: -$margin-bottom-default;
        }

        margin-bottom: $margin-bottom-default / 2;
    }

    .course-item {
        @include course-item($color);
    }

    .category-video {
        margin-bottom: $margin-bottom-default;  
    }

    .custom-training {
        @extend %custom-training;
    }

    .seminars-ad {
        @include seminars-ad($color);
    }

    .training-checklist{
        @include training-checklist($color);
    }

    .testimonials {
        height: 41em;

        @include testimonials($color);
    }

    .and {
        @extend %t-large;
        @extend %t-light;
        text-align: center;
        width: 38px;        
    }

    .read-more-btn {
        @extend %read-more-btn;
    }

    .category-promo-section {
        @media #{$large-up} {
            margin-top: -37em;
        }
    }

    .promo-read-more {
        padding-left: 0;
        margin-top: $margin-bottom-default / 2;
    }

    .paragraph-header {
        @include paragraph-header($color); 
    }

    .part-time-options {
        color: $color;
        @extend %t-small;
        @extend %t-strong;   
    }

    .category-description-section,
    .promo-read-more {
        margin-bottom: $margin-bottom-default;
    }

    [class*="block-grid-"] > li {
        padding-bottom: 0;
    }
}
