@import "banner";
@import "side-pannel";
@import "custom-training";
@import "course-item";
@import "paragraph-header";
@import "testimonials";
@import "../breadcrumbs";
@import "../border-radius";

@mixin category($logo-height, $map, $map-width, $map-height, $color: #000){
    @include banner($logo-height, $color);

    strong {
        @extend %t-bold;
    }

    .custom-breadcrumbs {
        @include custom-breadcrumbs($color);
    }
 
    .custom-training-logo {
        @extend %custom-training-styling;
        @include responsive-sprite($map, custom-training, $map-width, $map-height, 100%);

        @media screen and (min-width: 420px) and (max-width: 639px) { 
            @include responsive-sprite($map, custom-training, $map-width, $map-height, 65%);
        }
    } 

    .category-description-section p {
        @extend %t-regular;
    } 

    .category-description-section {
    
        @media #{$medium-only} {
            width: 55%;
        }
        
        @media #{$medium-up} {
            margin-bottom: $margin-bottom-default;
        }
    }

    .tight-header {
        display: block;
        border: 1px solid #000;
        padding: 8px 10px;
        margin-bottom: 9px;

        @include adjust-font-size-to($large-font-size, 1);
        @extend %t-ultralight;
    } 

    .tight-header-1 {
        @extend .tight-header;

        width: 100%;
        margin-top: 0;
        margin-bottom: 16px;

        @media screen and (min-width: 480px) { 
            width: 423px;
        }
    }

    .tight-header-2 {
        @extend .tight-header;
        margin-bottom: 8px;

        @media screen and (min-width: 480px) { 
            width: 277px;
        }
    }

    .tight-header-3 {
        @extend .tight-header;
        width: 100%;
        margin-bottom: 10px;

        @media screen and (min-width: 480px) { 
            width: 443px;
        }
    }

    .sw-ver {
        color: $color;
        text-decoration: underline;
        @extend %t-emphasize;
    }

    .courses-list {
        @media #{$large-up} {
            margin-top: -1em;
        }

        margin-bottom: $margin-bottom-default / 2;
    }

    .course-item {
        @include course-item($color);
    }

    .category-video {
        margin-bottom: $margin-bottom-default * 0.6;  
    }

    .custom-training {
        @extend %custom-training;

        @media #{$small-only} {
            margin-bottom: $margin-bottom-default * 1.5 !important;
        }

        @media #{$medium-only} {
            width: 45%;
            margin-bottom: $margin-bottom-default * 1.5 !important;
        }
    }

    .seminars-ad {
        @include seminars-ad($color);
    }

    .training-checklist{
        @include training-checklist($color);
    }

    .testimonials {
        height: 37em;

        @include testimonials($color);
    }

    .and {
        @extend %t-large;
        @extend %t-light;
        text-align: center;
        width: 38px;        
    }

    .read-more-btn {
        @extend %read-more-btn;
        padding: 3px 8px;
    }

    .category-promo-section {
        @media #{$large-up} {
            margin-top: -32em;
        }
    }

    .promo-read-more {
        padding-left: 0;
        margin-top: $margin-bottom-default / 4;
        margin-bottom: 30px;
    }

    .paragraph-header {
        @include paragraph-header($color); 
    }

    .part-time-options {
        color: $color;
        @extend %t-small;
        @extend %t-strong;   
    }

    .promo-packages {
        margin-bottom: $margin-bottom-default
    }

    [class*="block-grid-"] > li {
        padding-bottom: 0;
    }
}
