@import "banner";
@import "side-pannel";
@import "custom-training";
@import "course-item";

@mixin category($logo-height, $map, $map-width, $map-height, $color: #000){
    @include banner($logo-height, $color);

    .custom-training-logo {
        @media #{$small-only} { 
            @include custom-training-styling($map, $map-width, $map-height, 65%);
        }

        @include custom-training-styling($map, $map-width, $map-height, 100%);
    } 

    .category-description-section p {
        @extend %t-regular;
    }

    .tight-header {
        border: 1px solid #000;
        display: block;
        @include adjust-leading-to(1, $base-font-size);
        padding: 0 5px;
        margin-bottom: $margin-bottom-default / 2;
    }

    .tight-header-1 {
        @extend .tight-header;
        width: 414px;
        margin-bottom: $margin-bottom-default / 2;
    }

    .tight-header-2 {
        @extend .tight-header;
        width: 270px;
        margin-bottom: $margin-bottom-default;
    }

    .tight-header-3 {
        @extend .tight-header;
        width: 439px;
        margin-bottom: $margin-bottom-default / 2;
    }

    .sw-ver {
        color: $color;
        text-decoration: underline;
        @extend %t-emphasize;
    }

    .course-item {
        @include course-item($color);
    }

    .side-pannel {
        margin-top: -$margin-bottom-default;
    }

    .category-video {
        margin-bottom: $margin-bottom-default;  
    }

    .custom-training {
        @extend %custom-training;
    }

    .seminars-ad {
        @include seminars-ad($color);
    }

    .training-checklist{
        @include training-checklist($color);
    }

    .recent-testimonials {
        @include recent-testimonials($color);
    }

    .and {
        @extend %t-large;
        @extend %t-light;
        text-align: center;
    }

    .read-more-btn {
        @extend %read-more-btn;
    }

    .category-promo-section {
        @media #{$large-up} {
            margin-top: -37em;
        }
    }

    .promo-read-more {
        padding-left: 0;
        margin: 10px 0 15px 0;
    }

    .paragraph-header {
        color: $color;
        @extend %t-medium;
        @extend %t-emphasize;   
        @include adjust-leading-to(1, $base-font-size); 
    }

    .part-time-options {
        color: $color;
        @extend %t-small;
        @extend %t-strong;   
    }

    .category-description-section,
    .courses-list,
    .promo-read-more {
        margin-bottom: $margin-bottom-default;
    }
}
