@import "banner";
@import "testimonials";
@import "custom-training";

/* Color specific items */
@mixin course($color: #000){
    @include banner($color);
 
    .breadcrumb-active {
        color: $color;
    } 

    strong {
        @extend %t-bold;
    }

    .sw-ver {
        color: $color;
    } 
 
    /* General */
    [class*="block-grid-"] > li {
        padding-bottom: 0;
        min-width: 18em;
    }

    /* Secion borders */
    .book-now-section {
        border-top: 1px solid $color;
    }

    /* Headers */
    .course-header-2 {
        color: $color;
    }

    .paragraph-header {
        @include paragraph-header($color); 
    }

    /* Course overview */
    .overview-list {
        .item-course-specific,
        .course-specific {
            color: $color;
        }
    }
 
    .course-dates-promo {
        .color-specific,
        .course-length {
            color: $color;
        }
    }

    .download-text {
        color: $color;
    }

    /* Side bar - seminars ad */
    .seminars-ad {
        @include seminars-ad($color); 
    }


    /* Side bar - testimonials */
    .testimonials {
        @include testimonials($color);
    }
}
