
@mixin course-item($color: #000) {

    .course-item-title h3 {
         color: $color;
    }

    .course-item-fee {
        color: $color;
    }

    .course-item-info {
        background-color: $color;
    }

    .course-book-now {
        background-color: lighten($color, 25%); 
    }
}
