@import "banner";
@import "testimonials";
@import "custom-training";
@import "../read-more-btn";
@import "../breadcrumbs";
@import "../border-radius"; 

$border-color: #2C2C2C;

@mixin course($logo-height, $map, $map-width, $map-height, $color: #000){
    @include banner($logo-height, $color);
 
    .custom-breadcrumbs {
        @include custom-breadcrumbs($color);
    }

    strong {
        @extend %t-bold;
    }

    .sw-ver {
        color: $color;
        text-decoration: underline;
        @extend %t-emphasize;
    } 
 
    /* General */
    [class*="block-grid-"] > li {
        padding-bottom: 0;
        min-width: 18em;
    }

    /* Secion borders */
    .upper-row {
        border-bottom: 1px solid $border-color;
        margin-bottom: $margin-bottom-default;
    }
 
    .course-info-upper {
        margin-bottom: $margin-bottom-default / 3;

        @media #{$medium-up} {
            border-right: 1px dashed $border-color;
            width: 64%;
        }
    }

    .paragraph-header-def-color {
        border-bottom: 1px dashed $border-color;
    }

    .course-outline {
        padding-left: 0;
        margin-bottom: $margin-bottom-default;

        @media #{$medium-up} {
            border-right: 3px solid lighten( $border-color, 50% );
        }
    }

    .course-dates h3 {
        border-bottom: 1px dashed $border-color;
        margin-bottom: $margin-bottom-default / 4;
    }

    .dates-block {
        border-bottom: 1px solid $color;
    }

    /* Headers */
    .course-header {
        display: block;
        padding: 6px 10px;
        margin-bottom: $margin-bottom-default / 2;
        border: 1px solid #000;
        width: 95%;

        @include adjust-font-size-to($large-font-size, 1);
        @extend %t-light;
    } 

    .course-header-1 {
        @extend .course-header;
        @extend %t-ultralight;
        @include adjust-font-size-to($xlarge-font-size, 1);
        line-height: 1.5em;

        padding: 3px 0;
        border: none;
        margin-bottom: 0;
    } 

    .course-header-2 {
        @extend .course-header;
        line-height: 1em;
        padding: 3px 0;
        border: none;
        color: $color;
        padding-left: 0;
        margin-bottom: 0;
    }

    .paragraph-header {
        @include paragraph-header($color); 
    }

    .paragraph-header-def-color {
        @include paragraph-header(#000);
        @extend %t-regular;

        margin-top: $margin-bottom-default / 2;
        margin-bottom: $margin-bottom-default / 2;
    }

    /* Course overview */
    .note {
        font-size: 12px;
    }

    .overview-list {
        ul {
            list-style-type: none;
            margin-bottom: $margin-bottom-default / 4;
            -webkit-margin-after: 0;
        }

        ul li:before { 
            content:"-"; 
            position:relative; 
            left: -10px;
        }

        ul li {
            @include adjust-font-size-to(14px, 1);
            margin-left: -10px;
        }

        .to-upper {
            text-transform: uppercase;
        }

        .item-course-specific,
        .course-specific {
            color: $color;
            @extend %t-bold;
        }

        .course-specific {
            margin-left: 10px;
            width: 20em;

            @extend %t-small;
        }

        .overview-list-data {
            margin-bottom: $margin-bottom-default / 4;

            span {
                @extend %t-small;
            }
        }
    }

    /* Course outline - sylabus */
    .course-outline-section {
        @media #{$medium-only} {
            width: 57%;
        }
        @media #{$large-up} {
            width: 63%;
        }
    }

    .course-outline-block {
        h3 {
            @include adjust-font-size-to($base-font-size, 1);
            @extend %t-emphasize;
        }

        ul {
            list-style-type: none;
            margin-bottom: 5px;
            -webkit-margin-after: $margin-bottom-default;
        }

        ul li {
            @extend %t-small;
            margin-left: -5px;
        }
    }

    .course-column {
        min-width: 15em;
        padding-right: 15px;
    }

    .broken-column {
        -webkit-margin-after: 0 !important;
    }

    /* Read more buttons */
    .read-more-btn {
        @extend %read-more-btn;
        padding: 3px 8px;
    }

    /* Training packages and related courses */
    .and {
        @extend %t-large;
        @extend %t-light;
        text-align: center;
        width: 38px;
    }

    .package-logos-read-more {
        margin: $margin-bottom-default / 2 0 $margin-bottom-default 0;
    }

    .related-course {
        max-width: 5em;
    }

    .pricing-table, .title, .description {
        border: none;
    }

    .pricing-table {
        margin-top: $margin-bottom-default;

        .title {
            background-color: #fff;
            margin-bottom: 8px;
        }

        .description {
            padding: 0;
        }
    }

    .advanced-table {
        margin-top: 19px;
        margin-left: -17px;

        .description {
            padding-left: 15px;
        }
    }

    /* Side bar - pricing and dates*/
    .upper-side {
        @media #{$medium-up} {
            width: 36%;
        }
    }

    .course-dates-promo {
        background-color: #E5E5E5;
        margin-bottom: $margin-bottom-default;
        max-width: 30em;
        padding-left: 10px;
        padding-right: 10px;

        @include set-border-radius(4px);

        @media #{$small-only} {
            width: 80%;
        }
    }

    .course-dates-city-block {
        margin-bottom: $margin-bottom-default / 2;
    }

    .course-price {
        @extend %t-regular;
    }

    .old-price, .new-price {
        @extend %t-xlarge;
    }

    .color-specific, 
    .course-length {
        color: $color;
        line-height: 1em;
    }

    .course-length {
        font-size: 14px;
        @extend %t-emphasize;
    }

    .course-price-info {
        margin-bottom: $margin-bottom-default;
    }

    .course-dates {
        li {
            min-width: 7em;
        }

        h3 {
            @extend %t-base;
            @extend %t-emphasize;
        }

        ul {
            list-style-type: none;
        }

        .date {
            @extend %t-small;
            margin-left: -16px;
        }

        .date a {
            color: $color;
            font-style: italic;
        }
    }

    /* Side bar - download and book */
    .download-and-book { 
        li {
            margin-top: $margin-bottom-default;
            min-width: 9em;
        }

        $color-str: $color + unquote("");

        $lighter-color: lighten($color, 15%);
        $lighter-color-str: $lighter-color + unquote("");

        $box-shadow-color: lighten($color, 50%);
        $border-color: darken($color, 15%);

        .book-now {
            -moz-box-shadow:inset 0px 1px 0px 0px $box-shadow-color;
            -webkit-box-shadow:inset 0px 1px 0px 0px $box-shadow-color;
            box-shadow:inset 0px 1px 0px 0px $box-shadow-color;
            background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, $lighter-color), color-stop(1, $color) );
            background:-moz-linear-gradient( center top, $lighter-color 5%, $color 100% );
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=$lighter-color-str, endColorstr=$color-str);
            background-color:$lighter-color;
            text-indent:0;
            border:1px solid $border-color;
            display:inline-block;
            text-decoration:none;
            text-align:center;
            text-shadow:1px 1px 0px #707070;
            padding: 0 10px;
            color: #FFF;
            text-align: center; 

            @extend %t-strong;

            @include set-border-radius(4px);
        }
        .book-now:hover {
            background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, $color), color-stop(1, $lighter-color) );
            background:-moz-linear-gradient( center top, $color 5%, $lighter-color 100% );
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=$color-str, endColorstr=$lighter-color-str);
            background-color:$color;
        }.book-now:active {
            position:relative;
            top:1px;
        }
    }

    .download-text {
        font-size: 14px;
        @extend %t-bold;
        line-height: 1em;
        
        margin-left: -10px;
        color: $color;

        span {
            @extend %t-regular;
        }
    }

    /* Side bar - seminars ad */
    .seminars-ad {
        @include seminars-ad($color);

        margin-bottom: $margin-bottom-default / 4;
        margin-top: $margin-bottom-default;
    }

    /* Side bar - custom training */
    .lower-aside-section {
        @media #{$medium-only} {
            width: 43%;
        } 

        @media #{$large-up} {
            width: 37%;
        } 
    }

    .course-custom-training-logo {
        @extend %custom-training-styling;
        @include responsive-sprite($map, class-custom-training, $map-width, $map-height, 100%);

 
        @media screen and (min-width: 420px) and (max-width: 639px) { 
           @include responsive-sprite($map, class-custom-training, $map-width, $map-height, 65%);
        }
    } 

    .custom-training {
        @extend %custom-training;

        .prefer-custom-training-text {
            margin-bottom: 16px;
        }
    }

    /* Side bar - testimonials */
    .testimonials {
        height: 33em;
        max-width: 30em;

        @include testimonials($color);

        @media #{$medium-only} {
           height: 87em;
        }
    }
}
