@mixin course-item($color: #000) {
    margin-bottom: $margin-bottom-default * 2;

    .course-item-logo {
        margin-bottom: $margin-bottom-default / 2;
    }

    .course-item-title {
        padding-left: 0px;
        padding-right: 0px;
        text-transform: uppercase;
        float: left !important;
        padding-left: 10px;

        @media #{$large-up} {
            float: right;
        }

        h3 {
            @extend %t-emphasize;
            @include adjust-font-size-to(18px);

            line-height: 1.2em;
            color: $color;

            span {
                @extend %t-ultralight;
            }
        }
    }

    .course-item-description {
        @media #{$large-up} {
             height: 13em;
        }
    }

    .course-item-info,
    .course-book-now {
        text-align: center;

        a, a:hover, a:focus {
            color: #fff;
        }

        @extend %t-emphasize;
        @extend %t-base;

        @media #{$large-up} {
             @include adjust-font-size-to($small-font-size);
        }
    }

    .course-item-fee {
        color: $color;
        @extend %t-small;
        @extend %t-emphasize;
    }

    .big {
        @extend %t-medium;
    }

    .course-item-info {
        background-color: $color;
    }

    .course-book-now {
        background-color: lighten($color, 25%); 
        text-transform: uppercase;
    }
}

/* Negative value will push img up */
@mixin move-logo-vertically($move-up) {
    margin-top: $move-up;
}

/* Negative value will push img left */
@mixin move-logo-horizontally($move-left) {
    margin-left: $move-left;
}