/* Hide problematic elements */
.hide-old-ie {
    display: none;
}

.banner-sub-header {
    display: block !important;
}

.custom-breadcrumbs {
    border: none !important; 
    background-color:  #fff !important;
    float: left !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.custom-breadcrumbs > * a {
    margin: 6px 10px;
} 

.category-page .courses-list {
    margin-top: 0;
}

h1 {
    margin-top: 0 !important; 
}

.custom-training, .gradient-top {
    display: none !important;
}


/*.category-page .tight-header-1, .tight-header-2 {
    display: inline-block !important;
    width: auto !important;
}
*/

.custom-breadcrumbs {
    float: right !important;
    background-color: #f5f5f !important;
}


.phone-number {
    padding-right: 90px !important;
}

.header-logos .book-now {
    margin-right: -45px !important;
}

.acc-container .large-2 {
    width: 40px !important;
    height: 40px !important;
    padding: 0 !important;
}

.city-location {
    width: 230px !important;
    margin-right: 15px !important;
}

.book-now-specials {
    margin-left: 16px !important;
}

.package-price {
    width: 140px !important;
}

.package-overview h3 {
    margin-top: 15px;
}

 .header-banner.row, .slider-1.row, .slider-2.row, .slider-3.row, .slider-4.row, .slider-5.row, .slider-6.row, .slider-7.row, .megamenu_container.row, .blue-bar.row, .why-train-bg.row, .main.accordion-home {
    max-width: 1000px !important;
}


body > main > div.row.accordion home {
    max-width: 1000px !important;
}
body > div.footer-bg > div.row.footer-logo {
    max-width: 1000px !important;
}
body > div.footer-bg > div.row.wrapbuckets {
    max-width: 1000px !important;
}

.slider-1, .slider-2, .slider-3, .slider-4, .slider-5, .slider-6, .slider-7 {
    height: 380px;
    width: auto;
    background-repeat: repeat-x;
}
 
.accordion-home { 
    .accordion .accordion-navigation>.content, .accordion dd>.content {
        display: block !important;
    }

    #panel5 {
        height: 300px !important;
    }

    #panel6 {
        height: 420px !important;
    }
}

