/* Hide problematic elements */
.hide-old-ie {
    display: none;
}

.banner-sub-header {
    display: block !important;
}

.custom-breadcrumbs {
    border: none !important; 
    background-color:  #fff !important;
    float: left !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.custom-breadcrumbs > * a {
    margin: 6px 10px;
} 

.category-page .courses-list {
    margin-top: 0;
}

h1 {
    margin-top: 0 !important; 
}

.custom-training, .gradient-top {
    display: none !important;
}