/* Hide problematic elements */
.hide-old-ie {
    display: none;
}

.custom-breadcrumbs {
    border: none !important; 
    background-color:  #fff !important;
    float: left !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.custom-breadcrumbs > * a {
    margin: 6px 10px;
} 
