/* Solution by: http://www.netgenlabs.com/Blog/Responsive-Data-Tables-with-ngResponsiveTables-jQuery-plugin */
@mixin responsive-table($color: #000) {
    .responsive {   
        display: block;
        
        .td.row-name {
            text-align: left;
        }
        
        @media screen and (max-width: 799px) { 
            thead,
            tbody,
            th,
            td,
            tr { display: block; }
            thead tr { position: absolute; top: -9999px; left: -9999px; }
            tr { border: 1px solid #ccc; margin-bottom: 10px; }
            td { border: none; border-bottom: 1px solid #eee; position: relative; padding-left: 50%;}
            td:before { position: absolute; top: 6px; left: 6px; width: 40%; padding-right: 10px; text-align: left; word-wrap: break-word;}
            tr:first-child { position: absolute; top: -9999px; left: -9999px; }
            td:before { 
                content: attr(data-content); 
                height: 50px; 
                color: $color;
                font-weight: 600;
            }       
            td.small-padding { padding-top: 5px; padding-bottom: 5px; }
            td.medium-padding { padding-top: 15px; padding-bottom: 15px; }
            td.large-padding { padding-top: 25px; padding-bottom: 25px; }
            .row-name {font-weight: 600; text-align: center;}
        }
    }
}