@mixin testimonials($color: #000) {
    background-color: #E4E4E4;
    overflow-x: hidden;
    overflow-y: scroll;
    border: solid 1px #646464;
    margin-bottom: $margin-bottom-default;

    @include set-border-radius(4px);

    .testimonials-title {
        @extend %t-emphasize;
        @extend %t-medium;
        color: $color;
        margin: 12px 12px 20px 12px;
    }

    .category-testimonial {
        margin: 5px 12px 25px 12px;
        @extend %t-small;

        span {
            font-family: 'Source Sans Pro', sans-serif;
            color: $color;
            font-style: italic;
            display: inline;
            @extend %t-medium;
        }
    }

    .category-testimonial-client-name {
        margin-top: $base-line-height / 2;
        @extend %t-emphasize;
    }

    .category-testimonial-course-name {
        color: $color;
        @extend %t-emphasize;
        margin-bottom: $base-line-height * 1.5;
    }
}