@import "_custom/common";
@import "_custom/components/btn-shadow";

// Create sprite using Compass
@import "compass/utilities/sprites";
 
// Required for correct operation, must be named same as the sprite
$premiere-pro-essentials-spacing: 40px; 

@import "training/video-editing/premiere-pro/premiere-pro-essentials/*.png";  

.premiere-pro-essentials-course {
    $map: $premiere-pro-essentials-sprites;

    .pr-essentials-framed {  
        @include premiere-pro-essentials-sprite(pr-essentials-framed); 
        @include responsive-sprite($map, pr-essentials-framed , 5.8%);
        min-width: 55px;
        min-height: 55px;
    } 

    .course-classrom { 
        @include premiere-pro-essentials-sprite(course-classrom); 
        @include responsive-sprite($map, course-classrom , 5.8%);
        width: 77%; 
        padding-bottom: 42%;
        border: 1px solid #000;
        margin-top: 5px;
        margin-left: 12px;
    }
 
    .pdf {
        @include premiere-pro-essentials-sprite(pdf); 
        @include responsive-sprite($map, pdf , 5.8%);
        min-width: 32px;
        min-height: 32px;
        top: -3px;
    }

    .course-custom-training-logo {
         
        @include premiere-pro-essentials-sprite(custom-training); 
        @include responsive-sprite($map, custom-training , 100%);

 
        @media screen and (min-width: 420px) and (max-width: 639px) { 
           @include responsive-sprite($map, custom-training , 65%);
        }

        border: 1px solid #686F74; 
    }

    .pr-advanced {
        @include premiere-pro-essentials-sprite(pr-advanced); 
        @include responsive-sprite($map, pr-advanced , 5.8%);
        margin-left: -5px;
        margin-top: -17px;
        min-width: 66px;
        min-height: 66px;
    }

    .ae-essentials {
        @include premiere-pro-essentials-sprite(ae-essentials); 
        @include responsive-sprite($map, ae-essentials , 5.8%);
        margin-left: 15px;
        min-width: 50px;
        min-height: 50px;    
    }

    .pr-essentials {
        @include premiere-pro-essentials-sprite(pr-essentials); 
        @include responsive-sprite($map, pr-essentials , 5.8%);
        margin-left: 15px;
        min-width: 50px;
        min-height: 50px;    
    }

    .ps-essentials {
        @include premiere-pro-essentials-sprite(ps-essentials); 
        @include responsive-sprite($map, ps-essentials , 5.8%);
        margin-left: 15px;
        min-width: 50px;
        min-height: 50px;    
    }

    .package-training-logo {
        margin: -5px 15px 15px;
        min-width: 36px;
        min-height: 36px;
    }   
    .testimonials {
        height: 104em;
    }
    @include btn-shadow(darken($premiere-pro-color, 10%));
}