@import "../../../components/training/category";
 
.premiere-pro-category {
    @include category($premiere-pro-color);

    // Media queries are not supported on older IE, to use borders on medium 
    // screens and up - define width in a way all browsers understand
    .tight-header-1 {
        @media #{$medium-up} {
            width: 359px;
        }
    }

    .tight-header-2 {
        @media #{$medium-up} {
            width: 331px;
        }
    } 

    @media screen and (min-width: 681px) and (max-width: 780px) {
        .side-pannel {
            top: -5em;
        }
    }

    .training-checklist {
        table {
            thead, tr.even, tr.alt, tr:nth-of-type(even) {
                background: lighten($premiere-pro-color, 30%);
            }
        }
    } 

    .course-item .course-item-description {
        @media #{$large-up} {
            height: 17em;
        }
    }
} 
