@import "_custom/common";
@import "_custom/components/btn-shadow";

// Create sprite using Compass
@import "compass/utilities/sprites";
 
// Required for correct operation, must be named same as the sprite
$premiere-pro-advanced-spacing: 40px; 

@import "training/video-editing/premiere-pro/premiere-pro-advanced/*.png";  

.premiere-pro-advanced-course {
    $map: $premiere-pro-advanced-sprites;

    .pr-advanced-framed {  
        @include premiere-pro-advanced-sprite(pr-advanced-framed); 
        @include responsive-sprite($map, pr-advanced-framed , 5.8%);
        margin-top: 18px !important;
        min-width: 73px;
        min-height: 72px;
    } 

    .course-classrom { 
        @include premiere-pro-advanced-sprite(course-classrom); 
        @include responsive-sprite($map, course-classrom , 5.8%);
        width: 77%; 
        padding-bottom: 42%;
        border: 1px solid #000;
        margin-top: 5px;
        margin-left: 12px;
    }
 
    .pdf {
        @include premiere-pro-advanced-sprite(pdf); 
        @include responsive-sprite($map, pdf , 5.8%);
        min-width: 32px;
        min-height: 32px;
        top: -3px;
    }

    .course-custom-training-logo {
         
        @include premiere-pro-advanced-sprite(custom-training); 
        @include responsive-sprite($map, custom-training , 100%);

 
        @media screen and (min-width: 420px) and (max-width: 639px) { 
           @include responsive-sprite($map, custom-training , 65%);
        }

        border: 1px solid #686F74; 
    }

    .ae-essentials {
        @include premiere-pro-advanced-sprite(ae-essentials); 
        @include responsive-sprite($map, ae-essentials , 5.8%);
        margin-left: 15px;
        min-width: 50px;
        min-height: 50px;    
    }

    .ae-advanced {
        @include premiere-pro-advanced-sprite(ae-advanced); 
        @include responsive-sprite($map, ae-advanced , 5.8%);
        margin-top: -13px;
        margin-left: -5px;
        min-width: 66px;
        min-height: 64px;
    }

    .pr-essentials {
        @include premiere-pro-advanced-sprite(pr-essentials); 
        @include responsive-sprite($map, pr-essentials , 5.8%);
        margin-left: 15px;
        min-width: 50px;
        min-height: 50px;    
    }

    .package-training-logo {
        margin: -5px 15px 15px;
        min-width: 36px;
        min-height: 36px;
    }   
    .testimonials {
        height: 75em;
    }
    @include btn-shadow(darken($premiere-pro-color, 10%));
}