.course-outline {
    .columns{
        margin-right: -15px ;
        margin-left: -15px ;
        display:-moz-inline-stack;
        display:inline-block;
        zoom:1;
        *display:inline;
    }

    /* Move leftmost objects a bit */
    .banner-text  {
        margin-left: 15px !important;
    }

    .course-info-upper,
    .course-outline-section,
    .page-content-header {
        margin-left: 15px !important;
    }

    .upper-side {
        width: 30% !important; 
        margin-left: 25px !important;
    }

    .course-outline {
        margin-left: 15px !important; 
        margin-right: -30px !important; 
    }

    .lower-aside-section {
        width: 30% !important;
        margin-left: 30px !important; 
    }

    .prefer-custom-training-text {
        margin-left: 2px !important; 
        width: 95% !important;
    }

    .package-logos-read-more {
        margin-left: 4px !important;
    }

    .related-course {
        margin: 0 3px !important;
    }

    .book-now-btn {
        padding: 3px 5px !important; 
    } 
}