.catalog-side-pannel(@color: #000) {
    .seminars-ad {
        padding: 10px 0 10px 5px;
        background-color: @color;
        color: #fff;
        border-radius: 4px;
        .space-after;

        .seminars-ad-title {
            font-size: @cdt-font-size-large;
            font-weight: @cdt-font-weight-thick;
        }

        .seminars-ad-content {
            margin-top: 10px;
            font-size: @cdt-font-size-base;
        }
    }

    .training-checklist {
        border: 1px solid @color;
        background-color: #CECECE;
        font-size: @cdt-font-size-base;
        border-radius: 4px;
        .space-after;

        .training-checklist-header {
            color: @color;
        }

        th, td {
            padding: 5px 0 5px 10px;
        }

        th {
            font-size: @cdt-font-size-large;
        }

        .note {
            font-size: @cdt-font-size-small;
        }

        .foot-note {
            margin-left: 10px;
            display: block;
        }

        i {
            color: @color;
            font-weight: @cdt-font-weight-extra-thin;
        }
    }

    .recent-testimonials {
        background-color: #E4E4E4;
        height: 43em;
        overflow-x: hidden;
        overflow-y: scroll;
        border: solid 1px #646464;
        border-radius: 4px;

        .recent-testimonials-title {
            font-size: @cdt-font-size-large;
            font-weight: @cdt-font-weight-heavy;
            color: @color;
            margin: 15px 0 0 5px;
        }

        .catalog-testimonial {
            margin: 15px 5px 0 5px;
            font-size: @cdt-font-size-base;

            span {
                font-family: 'Source Sans Pro', sans-serif;
                color: @color;
                font-size: 28px;
                font-style: italic;
                display: inline;
                line-height: 0.5em;
            }
        }

        .catalog-testimonial-client-name {
            margin-top: @line-height-computed / 2;
            font-weight: bold;
        }

        .catalog-testimonial-course-name {
            color: @color;
            font-weight: 500;
            margin-bottom: @line-height-computed * 1.5;
        }

        @media (min-width: @screen-md-min) {
            height: 51em;
        }

        @media (min-width: @screen-xga-min) {
            height: 39em;
        }

        @media (min-width: @screen-lg-min) {
            height: 21em;
        }
    }
}

