.catalog-course-item(@color: #000) {
    margin-bottom: 25px;
    margin-top: 10px;
    border-bottom: 1px solid #bbb; 
    .stretch-left;
    min-width: 235px;

    .course-item-logo {
        float: left;
        max-width: 80px;
    }

    .course-item-title {

        a {
            text-decoration: none;
        }

        h3 {
            font-weight: 700;
            font-size: @font-size-large;
            margin-top: @line-height-computed / 2;
            color: @color;
            text-align: left;

            .category {
                color: @color;
                font-weight: 400;
            }
        } 

        @media (min-width: @screen-md-min) {
            text-align: center;
        }
    }

    .course-item-description {
        text-align: justify;
        font-size: @font-size-base;
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 20px;

        @media (min-width: @screen-sm-min) {
            text-align: left;
        }
    }

    .course-item-additional-data {
        margin-bottom: 20px;
        font-size: @font-size-small;
        .stretch-sides;

        .course-item-fee {
            .stretch-sides;
            font-weight: 500;

            p.colored {
                color: @color;
            }

            .big {
                font-size: @font-size-large;
                font-weight: 500;
            }
        }

 
        .course-item-info {
            color: #FFF;
            font-weight: bold;
            .stretch-left; 
            background-color: @color; 
            padding: 4px 6px;
            width: 90px;
            float: left;

            a {
                color: #FFF;              
            } 
        }

        .course-book-now {
            margin-left: 93px;
            background-color: lighten(@color, 25%);   
            color: #FFF;
            font-weight: bold;           
            .stretch-left; 
            padding: 4px 6px;
            width: 90px; 

            a {
                color: #FFF;                    
            }    

            @media (min-width: @screen-sm-min) {
                margin-top: 0;
            }
        }       
    }
 }


/* Set course description height - same for all items on the catalog*/
.course-item-description-hight(@height-xs: 105px, @height-sm: 105px, @height-md: 105px, @height-lg: 135px) {
    @media (max-width: @screen-xs-max) {
        height: 105px;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        height: 105px;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        height: 105px;
    }

    @media (min-width: @screen-lg-min) {
        height: 135px;
    }
}

/* Set course item height - same for all items on the catalog*/
.course-item-hight(@height-xs: 105px, @height-sm: 105px, @height-md: 105px, @height-lg: 135px) {
    @media (max-width: @screen-xs-max) {
        height: 105px;
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        height: 105px;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        height: 105px;
    }

    @media (min-width: @screen-lg-min) {
        height: 135px;
    }
}

