.catalog-side-pannel(@color: #000) {
    .indesign-seminars-ad {
        padding: 10px 0 10px 5px;
        background-color: @color;
        color: #fff;
        font-size: @font-size-small;
        border-radius: 4px;
        .space-after;

        .indesign-seminars-ad-title {
            font-size: @font-size-base;
        }

        .indesign-seminars-ad-content {
            margin-top: 10px;
        }
    }

    .training-checklist {
        border: 1px solid @color;
        background-color: #CECECE;
        font-size: @font-size-base;
        border-radius: 4px;
        .space-after;

        .training-checklist-header {
            color: @color;
        }

        th, td {
            padding: 5px 0 5px 10px;
        }

        th {
            font-size: @font-size-large;
        }

        .note {
            font-size: @font-size-small;
        }

        .foot-note {
            margin-left: 10px;
            display: block;
        }

        i {
            color: @color;
            font-weight: 100;
        }
    }

    .recent-testimonials {
        background-color: #E4E4E4;
        height: 500px;
/*        overflow-x: hidden;*/
        overflow-y: scroll;
        border: solid 1px #646464;
        border-radius: 4px;

        .recent-testimonials-title {
            font-size: @font-size-large;
            font-weight: 700;
            color: @color;
            margin: 15px 0 0 5px;
        }

        .indesign-testimonial {
            margin: 15px 5px 0 5px;
            font-size: @font-size-base;

            span {
                font-family: 'Source Sans Pro', sans-serif;
                color: @color;
                font-size: 28px;
                font-style: italic;
                display: inline;
                line-height: 0.5em;
            }
        }

        .indesign-testimonial-client-name {
            margin-top: @line-height-computed / 2;
            font-weight: bold;
        }

        .indesign-testimonial-course-name {
            color: @color;
            font-weight: 500;
            margin-bottom: @line-height-computed * 1.5;
        }
    }
}

