/* Define custom parameters */

/* Font size */
@cdt-font-size-small: @font-size-small;
@cdt-font-size-base: @font-size-base;
@cdt-font-size-large: @font-size-large;

/* Font weight */
@font-weight-extra-thin: 100;  
@font-weight-base: 400;  
@font-weight-thick: @font-weight-base + 100;
@font-weight-heavy: @font-weight-base + 300; 
@font-weight-bold: @font-weight-base * 2; 

.main-container {
    font-weight: @font-weight-base;
}

.stretch-left {
    padding-left: 0;
}

.stretch-right {
    padding-right: 0;
}

.stretch-sides {
    .stretch-left;
    .stretch-right;
}

.uppercase {
    text-transform: uppercase;
}

.space-after {
    margin-bottom: 10px;
}

.show-xxs-only {
    @media (min-width: @screen-xs-min) {
        .responsive-invisibility();
    }
}

.hide-xxs-only {
    .responsive-invisibility();

    @media (min-width: @screen-xs-min) {
        .responsive-visibility();
    }
}

.col-xxs-12 {
    @media (min-width: 10px) and (max-width: 479px) {
        width: 100%%;
    }
}

.full-width {
    display: inline-block;
    width: 100%;
}

