.catalog-page-header {
    font-size: @font-size-large;

    @media (min-width: @screen-md-min) {
        font-size: 22px;
    }
}

.catalog-description{
    font-size: @font-size-base;
    line-height: 1.4em;

    @media (min-width: @screen-xs-min) {
        font-size: @font-size-large;
    }

    span {
        display: block;
        max-width: 650px;
        line-height: 1.7em;
    }
}

.part-time(@color: #000) {
    .part-time-options {
        color: @color;
        font-size: @font-size-small;
        font-weight: 600;
        margin-top: @line-height-computed / 4;
    }
}

.paragraph-header(@color: #000) {
    font-size: 20px;
    color: @color;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0 5px 0;

}

.courses-package {
    margin-bottom: 15px;

    div.and {
        font-size: 36px;
        margin: 8px 10px;
        color: #929292;
    }

    .package,
    .and {
        float: left;
    }
}

.tight-border {
    font-weight: 500;

    @media (min-width: @screen-xs-min) {
        border: 1px solid #000;
        padding: 5px 15px;
    }

    @media (max-width: @screen-xs-max) {
        max-width: 50%;
    }
}

