/* Define custom parameters */

/* Font size */
@cdt-font-size-small: @font-size-small;
@cdt-font-size-base: @font-size-base;
@cdt-font-size-large: @font-size-large;

/* Font weight */
@cdt-font-weight-extra-thin: 100;  
@cdt-font-weight-base: 400;  
@cdt-font-weight-thick: @cdt-font-weight-base + 100;
@cdt-font-weight-heavy: @cdt-font-weight-base + 300; 
@cdt-font-weight-bold: @cdt-font-weight-base * 2; 

/* Additional sceen sizes*/
@screen-dvga-min: 640px;
@screen-dvga-max: (@screen-xs-max);
@screen-xga-min:  1024px;
@screen-xga-max:  (@screen-md-max);

.main-container {
    font-weight: @cdt-font-weight-base;
}

.stretch-left {
    padding-left: 0;
}

.stretch-right {
    padding-right: 0;
}

.stretch-sides {
    .stretch-left;
    .stretch-right;
}

.uppercase {
    text-transform: uppercase;
}

.space-after {
    margin-bottom: 20px;
}

.show-xxs-only {
    @media (min-width: @screen-xs-min) {
        .responsive-invisibility();
    }
}

.hide-xxs-only {
    .responsive-invisibility();

    @media (min-width: @screen-xs-min) {
        .responsive-visibility();
    }
}

.col-xxs-12 {
    @media (min-width: 10px) and (max-width: 479px) {
        width: 100%;
        min-width: 175px !important;
    }
}

.full-width {
    display: inline-block;
    width: 100%;
}

