.stretch-left {
    padding-left: 0;
}

.stretch-right {
    padding-right: 0;
}

.stretch-sides {
    .stretch-left;
    .stretch-right;
}

.uppercase {
    text-transform: uppercase;
}

.push-down {
    margin-bottom: 10px;
}

.show-xxs-only {
    @media (min-width: @screen-xs-min) {
        .responsive-invisibility();
    }
}

.hide-xxs-only {
    .responsive-invisibility();

    @media (min-width: @screen-xs-min) {
        .responsive-visibility();
    }
}

.col-xxs-12 {
    @media (min-width: 100px) and (max-width: 479px) {
        width: 100%%;
    }
}