.prefer-custom-training {
    .stretch-right;
    max-width: 375px;

    .custom-training-logo {
        min-width: 100%;
        height: auto;
    }

    .prefer-custom-training-text {
        padding: 10px 0 10px 5px;
        background-color: #7C7777;
        color: #fff;
    }

    .custom-training-text-header {
        font-size: 20px;
        margin-bottom: 10px;
    }

    ul {
        -webkit-padding-start: 10px;
    }

    ul li:before{ content:"-"; position:relative; left:-5px;}
    ul li{ text-indent:-5px; }
}
