.read-more-btn {
    background-color: #F8C41F;
    border: 1px solid #755B08;
    margin: 0 10px 10px 0;
    width: 33%;
    min-width: 70px;
    padding: 2px 5px;
    font-size: @font-size-small; 
    font-weight: 600;

    @media (min-width: @screen-lg-min) {
        font-size: @font-size-base;
    }
}
