.read-more-btn(@top: -10px) {
    background-color: #F8C41F;
    border: 1px solid #AA840B;
    margin: 5px 10px 0 0;
    width: 28%;
    max-width: 100px;
    min-width: 70px;
    padding: 2px 5px;
    font-size: @cdt-font-size-small; 
    font-weight: 600;
    position: relative;
    top: @top;

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        margin-bottom: 6px;
    }

    @media (min-width: @screen-lg-min) {
        font-size: @cdt-font-size-base;
    }
}
