.banner(@color: #000) {
    position: relative;
    height: 7em;
    left: 0;
    right: 0;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(165, 165, 165, 0.82);
    background-color: @color;

    .indesign-catalog-sprite-id-essentials {
        padding: 2px;
    }

    .catalog-img {
        margin: 29px 5px 0 10px;
        display: block;
        border: 1.5px solid #000;        
        width: 40px;

        @media (min-width: @screen-xs-min) {
            width: 48px;
        }

        @media (min-width: @screen-dvga-min) {
            margin-top: 26px;
        }

        @media (min-width: @screen-sm-min) {
        }

        @media (min-width: @screen-md-min) {
            width: 55px;
        }

        @media (min-width: @screen-lg-min) {
            width: 60px;
        }
    }

    .catalog-banner-header-main {
        font-weight: 600;
        margin-top: @line-height-computed;
        margin-left: 1px;
        line-height: 1em;
        
        h1 {
            font-size: @cdt-font-size-large;
            margin-top: 28px;

            @media (min-width: @screen-xs-min) {
                font-size: 20px;  
                margin-top: 24px;             
            }

            @media (min-width: @screen-sm-min) {
                margin-top: 22px;             
            }

            @media (min-width: @screen-md-min) {
                font-size: 24px;
            }
        }
    } 

    .catalog-banner-header-sub {
        font-size: @cdt-font-size-base;
        /*text-shadow: 3px 3px 2px rgba(150, 150, 150, 0.82);*/
        font-weight: 400;

        @media (max-width: @screen-xs-min) {
            display: none;
        }
    }
}
