/* line 1, ../scss/_custom/ie-support/ie-grid-support.scss */
.small-1, .row .small-1 {
  width: 8.33333%;
}

/* line 2, ../scss/_custom/ie-support/ie-grid-support.scss */
.small-2, .row .small-2 {
  width: 16.66667%;
}

/* line 3, ../scss/_custom/ie-support/ie-grid-support.scss */
.small-3, .row .small-3 {
  width: 25%;
}

/* line 4, ../scss/_custom/ie-support/ie-grid-support.scss */
.small-4, .row .small-4 {
  width: 33.33333%;
}

/* line 5, ../scss/_custom/ie-support/ie-grid-support.scss */
.small-5, .row .small-5 {
  width: 41.66667%;
}

/* line 6, ../scss/_custom/ie-support/ie-grid-support.scss */
.small-6, .row .small-6 {
  width: 50%;
}

/* line 7, ../scss/_custom/ie-support/ie-grid-support.scss */
.small-7, .row .small-7 {
  width: 58.33333%;
}

/* line 8, ../scss/_custom/ie-support/ie-grid-support.scss */
.small-8, .row .small-8 {
  width: 66.66667%;
}

/* line 9, ../scss/_custom/ie-support/ie-grid-support.scss */
.small-9, .row .small-9 {
  width: 75%;
}

/* line 10, ../scss/_custom/ie-support/ie-grid-support.scss */
.small-10, .row .small-10 {
  width: 83.33333%;
}

/* line 11, ../scss/_custom/ie-support/ie-grid-support.scss */
.small-11, .row .small-11 {
  width: 91.66667%;
}

/* line 12, ../scss/_custom/ie-support/ie-grid-support.scss */
.small-12, .row .small-12 {
  width: 100%;
}

/* line 14, ../scss/_custom/ie-support/ie-grid-support.scss */
.medium-1, .row .medium-1 {
  width: 8.33333%;
}

/* line 15, ../scss/_custom/ie-support/ie-grid-support.scss */
.medium-2, .row .medium-2 {
  width: 16.66667%;
}

/* line 16, ../scss/_custom/ie-support/ie-grid-support.scss */
.medium-3, .row .medium-3 {
  width: 25%;
}

/* line 17, ../scss/_custom/ie-support/ie-grid-support.scss */
.medium-4, .row .medium-4 {
  width: 33.33333%;
}

/* line 18, ../scss/_custom/ie-support/ie-grid-support.scss */
.medium-5, .row .medium-5 {
  width: 41.66667%;
}

/* line 19, ../scss/_custom/ie-support/ie-grid-support.scss */
.medium-6, .row .medium-6 {
  width: 50%;
}

/* line 20, ../scss/_custom/ie-support/ie-grid-support.scss */
.medium-7, .row .medium-7 {
  width: 58.33333%;
}

/* line 21, ../scss/_custom/ie-support/ie-grid-support.scss */
.medium-8, .row .medium-8 {
  width: 66.66667%;
}

/* line 22, ../scss/_custom/ie-support/ie-grid-support.scss */
.medium-9, .row .medium-9 {
  width: 75%;
}

/* line 23, ../scss/_custom/ie-support/ie-grid-support.scss */
.medium-10, .row .medium-10 {
  width: 83.33333%;
}

/* line 24, ../scss/_custom/ie-support/ie-grid-support.scss */
.medium-11, .row .medium-11 {
  width: 91.66667%;
}

/* line 25, ../scss/_custom/ie-support/ie-grid-support.scss */
.medium-12, .row .medium-12 {
  width: 100%;
}

/* line 27, ../scss/_custom/ie-support/ie-grid-support.scss */
.large-1, .row .large-1 {
  width: 8.33333%;
}

/* line 28, ../scss/_custom/ie-support/ie-grid-support.scss */
.large-2, .row .large-2 {
  width: 16.66667%;
}

/* line 29, ../scss/_custom/ie-support/ie-grid-support.scss */
.large-3, .row .large-3 {
  width: 25%;
}

/* line 30, ../scss/_custom/ie-support/ie-grid-support.scss */
.large-4, .row .large-4 {
  width: 33.33333%;
}

/* line 31, ../scss/_custom/ie-support/ie-grid-support.scss */
.large-5, .row .large-5 {
  width: 41.66667%;
}

/* line 32, ../scss/_custom/ie-support/ie-grid-support.scss */
.large-6, .row .large-6 {
  width: 50%;
}

/* line 33, ../scss/_custom/ie-support/ie-grid-support.scss */
.large-7, .row .large-7 {
  width: 58.33333%;
}

/* line 34, ../scss/_custom/ie-support/ie-grid-support.scss */
.large-8, .row .large-8 {
  width: 66.66667%;
}

/* line 35, ../scss/_custom/ie-support/ie-grid-support.scss */
.large-9, .row .large-9 {
  width: 75%;
}

/* line 36, ../scss/_custom/ie-support/ie-grid-support.scss */
.large-10, .row .large-10 {
  width: 83.33333%;
}

/* line 37, ../scss/_custom/ie-support/ie-grid-support.scss */
.large-11, .row .large-11 {
  width: 91.66667%;
}

/* line 38, ../scss/_custom/ie-support/ie-grid-support.scss */
.large-12, .row .large-12 {
  width: 100%;
}

/* line 40, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .small-offset-1 {
  margin-left: 8.33333%;
}

/* line 41, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .small-offset-2 {
  margin-left: 16.66667%;
}

/* line 42, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .small-offset-3 {
  margin-left: 25%;
}

/* line 43, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .small-offset-4 {
  margin-left: 33.33333%;
}

/* line 44, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .small-offset-5 {
  margin-left: 41.66667%;
}

/* line 45, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .small-offset-6 {
  margin-left: 50%;
}

/* line 46, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .small-offset-7 {
  margin-left: 58.33333%;
}

/* line 47, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .small-offset-8 {
  margin-left: 66.66667%;
}

/* line 48, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .small-offset-9 {
  margin-left: 75%;
}

/* line 49, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .small-offset-10 {
  margin-left: 83.33333%;
}

/* line 50, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .small-offset-11 {
  margin-left: 91.66667%;
}

/* line 51, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .small-offset-12 {
  margin-left: 100%;
}

/* line 53, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .medium-offset-1 {
  margin-left: 8.33333%;
}

/* line 54, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .medium-offset-2 {
  margin-left: 16.66667%;
}

/* line 55, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .medium-offset-3 {
  margin-left: 25%;
}

/* line 56, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .medium-offset-4 {
  margin-left: 33.33333%;
}

/* line 57, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .medium-offset-5 {
  margin-left: 41.66667%;
}

/* line 58, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .medium-offset-6 {
  margin-left: 50%;
}

/* line 59, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .medium-offset-7 {
  margin-left: 58.33333%;
}

/* line 60, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .medium-offset-8 {
  margin-left: 66.66667%;
}

/* line 61, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .medium-offset-9 {
  margin-left: 75%;
}

/* line 62, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .medium-offset-10 {
  margin-left: 83.33333%;
}

/* line 63, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .medium-offset-11 {
  margin-left: 91.66667%;
}

/* line 64, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .medium-offset-12 {
  margin-left: 100%;
}

/* line 66, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .large-offset-1 {
  margin-left: 8.33333%;
}

/* line 67, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .large-offset-2 {
  margin-left: 16.66667%;
}

/* line 68, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .large-offset-3 {
  margin-left: 25%;
}

/* line 69, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .large-offset-4 {
  margin-left: 33.33333%;
}

/* line 70, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .large-offset-5 {
  margin-left: 41.66667%;
}

/* line 71, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .large-offset-6 {
  margin-left: 50%;
}

/* line 72, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .large-offset-7 {
  margin-left: 58.33333%;
}

/* line 73, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .large-offset-8 {
  margin-left: 66.66667%;
}

/* line 74, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .large-offset-9 {
  margin-left: 75%;
}

/* line 75, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .large-offset-10 {
  margin-left: 83.33333%;
}

/* line 76, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .large-offset-11 {
  margin-left: 91.66667%;
}

/* line 77, ../scss/_custom/ie-support/ie-grid-support.scss */
.row .large-offset-12 {
  margin-left: 100%;
}

/* line 79, ../scss/_custom/ie-support/ie-grid-support.scss */
.push-1 {
  position: relative;
  right: auto;
  left: 8.33333%;
}

/* line 80, ../scss/_custom/ie-support/ie-grid-support.scss */
.push-2 {
  position: relative;
  right: auto;
  left: 16.66667%;
}

/* line 81, ../scss/_custom/ie-support/ie-grid-support.scss */
.push-3 {
  position: relative;
  right: auto;
  left: 25%;
}

/* line 82, ../scss/_custom/ie-support/ie-grid-support.scss */
.push-4 {
  position: relative;
  right: auto;
  left: 33.33333%;
}

/* line 83, ../scss/_custom/ie-support/ie-grid-support.scss */
.push-5 {
  position: relative;
  right: auto;
  left: 41.66667%;
}

/* line 84, ../scss/_custom/ie-support/ie-grid-support.scss */
.push-6 {
  position: relative;
  right: auto;
  left: 50%;
}

/* line 85, ../scss/_custom/ie-support/ie-grid-support.scss */
.push-7 {
  position: relative;
  right: auto;
  left: 58.33333%;
}

/* line 86, ../scss/_custom/ie-support/ie-grid-support.scss */
.push-8 {
  position: relative;
  right: auto;
  left: 66.66667%;
}

/* line 87, ../scss/_custom/ie-support/ie-grid-support.scss */
.push-9 {
  position: relative;
  right: auto;
  left: 75%;
}

/* line 88, ../scss/_custom/ie-support/ie-grid-support.scss */
.push-10 {
  position: relative;
  right: auto;
  left: 83.33333%;
}

/* line 89, ../scss/_custom/ie-support/ie-grid-support.scss */
.push-11 {
  position: relative;
  right: auto;
  left: 91.66667%;
}

/* line 90, ../scss/_custom/ie-support/ie-grid-support.scss */
.push-12 {
  position: relative;
  right: auto;
  left: 100%;
}

/* line 92, ../scss/_custom/ie-support/ie-grid-support.scss */
.pull-1 {
  position: relative;
  left: auto;
  right: 8.33333%;
}

/* line 93, ../scss/_custom/ie-support/ie-grid-support.scss */
.pull-2 {
  position: relative;
  left: auto;
  right: 16.66667%;
}

/* line 94, ../scss/_custom/ie-support/ie-grid-support.scss */
.pull-3 {
  position: relative;
  left: auto;
  right: 25%;
}

/* line 95, ../scss/_custom/ie-support/ie-grid-support.scss */
.pull-4 {
  position: relative;
  left: auto;
  right: 33.33333%;
}

/* line 96, ../scss/_custom/ie-support/ie-grid-support.scss */
.pull-5 {
  position: relative;
  left: auto;
  right: 41.66667%;
}

/* line 97, ../scss/_custom/ie-support/ie-grid-support.scss */
.pull-6 {
  position: relative;
  left: auto;
  right: 50%;
}

/* line 98, ../scss/_custom/ie-support/ie-grid-support.scss */
.pull-7 {
  position: relative;
  left: auto;
  right: 58.33333%;
}

/* line 99, ../scss/_custom/ie-support/ie-grid-support.scss */
.pull-8 {
  position: relative;
  left: auto;
  right: 66.66667%;
}

/* line 100, ../scss/_custom/ie-support/ie-grid-support.scss */
.pull-9 {
  position: relative;
  left: auto;
  right: 75%;
}

/* line 101, ../scss/_custom/ie-support/ie-grid-support.scss */
.pull-10 {
  position: relative;
  left: auto;
  right: 83.33333%;
}

/* line 102, ../scss/_custom/ie-support/ie-grid-support.scss */
.pull-11 {
  position: relative;
  left: auto;
  right: 91.66667%;
}

/* line 103, ../scss/_custom/ie-support/ie-grid-support.scss */
.pull-12 {
  position: relative;
  left: auto;
  right: 100%;
}

/* line 105, ../scss/_custom/ie-support/ie-grid-support.scss */
.column.small-centered,
.columns.small-centered,
.column.medium-centered,
.columns.medium-centered,
.column.large-centered,
.columns.large-centered {
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}

/* line 112, ../scss/_custom/ie-support/ie-grid-support.scss */
.column.small-uncentered,
.columns.small-uncentered,
.column.medium-uncentered,
.columns.medium-uncentered,
.column.large-uncentered,
.columns.large-uncentered {
  margin-left: 0;
  margin-right: 0;
  float: left !important;
}

/* line 119, ../scss/_custom/ie-support/ie-grid-support.scss */
.row {
  width: 1000px;
}

/* line 8, ../scss/ie.scss */
.lt-ie9 .show-for-medium-down,
.lt-ie9 .show-for-medium,
.lt-ie9 .show-for-small,
.lt-ie9 .show-on-android {
  display: none !important;
}
/* line 15, ../scss/ie.scss */
.lt-ie9 .show-for-large-up,
.lt-ie9 .hide-for-medium-down,
.lt-ie9 .hide-on-android {
  display: block !important;
}

/* Hide problematic elements */
/* line 2, ../scss/_custom/components/training/_old-ie-styles.scss */
.hide-old-ie {
  display: none;
}

/* line 6, ../scss/_custom/components/training/_old-ie-styles.scss */
.custom-breadcrumbs > * a {
  margin: 6px 10px;
}

/* Hide all sprites */
/* line 2, ../scss/_custom/training/adobe/indesign/_indesign-category-old-ie-styles.scss */
.id-essentials-framed, .custom-training-logo, .id-essentials, .id-lite, .id-advanced, .id-longdocuments,
.id-interactivity, .id-accessibility, .id-epub, .package-indesign-ess, .package-illustrator-ess, .package-photoshop-ess {
  display: none;
}

/* Push up the custom training to compensate for no image */
/* line 9, ../scss/_custom/training/adobe/indesign/_indesign-category-old-ie-styles.scss */
.indesign-category p {
  margin-bottom: 24px;
}
/* line 13, ../scss/_custom/training/adobe/indesign/_indesign-category-old-ie-styles.scss */
.indesign-category .custom-training .prefer-custom-training-text {
  top: -130px;
}
/* line 17, ../scss/_custom/training/adobe/indesign/_indesign-category-old-ie-styles.scss */
.indesign-category .category-description-section {
  padding-right: 16px;
  margin-bottom: 0;
}
/* line 22, ../scss/_custom/training/adobe/indesign/_indesign-category-old-ie-styles.scss */
.indesign-category .courses-row {
  margin-top: -80px;
}
/* line 26, ../scss/_custom/training/adobe/indesign/_indesign-category-old-ie-styles.scss */
.indesign-category .side-pannel {
  margin-top: -120px;
}

/* Hide all sprites */
/* line 2, ../scss/_custom/training/adobe/indesign/_indesign-essentials-old-ie-styles.scss */
.course-classrom, .pdf, .indesign-cc-cs6, .course-custom-training-logo, .id-advanced,
.id-essentials, .ps-ess, .il-ess, .and {
  display: none;
}

/* line 7, ../scss/_custom/training/adobe/indesign/_indesign-essentials-old-ie-styles.scss */
.indesign-course {
  /* Push up the custom training to compensate for no image */
  /* Push lists left */
}
/* line 8, ../scss/_custom/training/adobe/indesign/_indesign-essentials-old-ie-styles.scss */
.indesign-course p {
  margin-bottom: 24px;
}
/* line 13, ../scss/_custom/training/adobe/indesign/_indesign-essentials-old-ie-styles.scss */
.indesign-course .lower-aside-section {
  top: -110px;
  padding-left: 15px;
}
/* line 19, ../scss/_custom/training/adobe/indesign/_indesign-essentials-old-ie-styles.scss */
.indesign-course .overview-list-data li,
.indesign-course .course-dates-city-block .date,
.indesign-course .course-outline-block .course-outline-list,
.indesign-course .download-text {
  margin-left: 10px !important;
}
/* line 26, ../scss/_custom/training/adobe/indesign/_indesign-essentials-old-ie-styles.scss */
.indesign-course .upper-side {
  padding-left: 15px;
}
/* line 30, ../scss/_custom/training/adobe/indesign/_indesign-essentials-old-ie-styles.scss */
.indesign-course .course-info-upper,
.indesign-course .overview-list,
.indesign-course .promo-grid li {
  padding-right: 15px;
}
/* line 36, ../scss/_custom/training/adobe/indesign/_indesign-essentials-old-ie-styles.scss */
.indesign-course .course-header {
  width: 290px;
}
/* line 40, ../scss/_custom/training/adobe/indesign/_indesign-essentials-old-ie-styles.scss */
.indesign-course .book-now-btn {
  display: inline-block;
  text-align: center;
  padding: 3px 10px;
  color: #FFF;
  text-align: center;
  font-weight: 700;
  background-color: #C42A7C;
}
/* line 50, ../scss/_custom/training/adobe/indesign/_indesign-essentials-old-ie-styles.scss */
.indesign-course .book-now-btn:hover {
  background-color: #D24590;
}
/* line 54, ../scss/_custom/training/adobe/indesign/_indesign-essentials-old-ie-styles.scss */
.indesign-course .paragraph-header-def-color {
  height: 32px;
}
/* line 58, ../scss/_custom/training/adobe/indesign/_indesign-essentials-old-ie-styles.scss */
.indesign-course .related-course {
  padding: 0 10px;
}
