/* line 1, ../scss/_custom/training/_course-outline-ie7-styles.scss */
.course-outline {
  /* Move leftmost objects a bit */ }
  /* line 2, ../scss/_custom/training/_course-outline-ie7-styles.scss */
  .course-outline .columns {
    margin-right: -15px;
    margin-left: -15px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline; }
  /* line 12, ../scss/_custom/training/_course-outline-ie7-styles.scss */
  .course-outline .banner-text {
    margin-left: 15px !important; }
  /* line 16, ../scss/_custom/training/_course-outline-ie7-styles.scss */
  .course-outline .course-info-upper,
  .course-outline .course-outline-section,
  .course-outline .page-content-header {
    margin-left: 15px !important; }
  /* line 22, ../scss/_custom/training/_course-outline-ie7-styles.scss */
  .course-outline .upper-side {
    width: 30% !important;
    margin-left: 25px !important; }
  /* line 27, ../scss/_custom/training/_course-outline-ie7-styles.scss */
  .course-outline .course-outline {
    margin-left: 15px !important;
    margin-right: -30px !important; }
  /* line 32, ../scss/_custom/training/_course-outline-ie7-styles.scss */
  .course-outline .lower-aside-section {
    width: 30% !important;
    margin-left: 30px !important; }
  /* line 37, ../scss/_custom/training/_course-outline-ie7-styles.scss */
  .course-outline .prefer-custom-training-text {
    margin-left: 2px !important;
    width: 95% !important; }
  /* line 42, ../scss/_custom/training/_course-outline-ie7-styles.scss */
  .course-outline .package-logos-read-more {
    margin-left: 4px !important; }
  /* line 46, ../scss/_custom/training/_course-outline-ie7-styles.scss */
  .course-outline .related-course {
    margin: 0 3px !important; }
  /* line 50, ../scss/_custom/training/_course-outline-ie7-styles.scss */
  .course-outline .book-now-btn {
    padding: 3px 5px !important; }

/* line 5, ../scss/ie7.scss */
.cdt-book #panel1, .cdt-book #panel2, .cdt-book #panel3, .cdt-book #panel4, .cdt-book #panel5, .cdt-book #panel6 {
  display: block !important; }

/* line 11, ../scss/ie7.scss */
.cdt-calendar #calendar-tab-1, .cdt-calendar #calendar-tab-2, .cdt-calendar #calendar-tab-3, .cdt-calendar #calendar-tab-4 {
  display: block !important; }
