/* Mixin for creating a responsive sprite 
* 
* $map - sprite map, created using sprite-map function
* $img - name of the png file in the map
* $map-width, $map-height - sprite map physical dimentions, these parameters should be
*                           calculated rather than passed in - currently not working, code is commented below
* $img-size-percent - required sprite size
*
*/
/* line 128, training/adobe/indesign/indesign-category/*.png */
.indesign-category-sprite, .indesign-category .id-essentials-framed, .indesign-category .custom-training-logo, .indesign-category .id-essentials, .indesign-category .id-lite, .indesign-category .id-advanced, .indesign-category .id-longdocuments, .indesign-category .id-interactivity, .indesign-category .id-accessibility, .indesign-category .id-epub, .indesign-category .package-indesign-ess, .indesign-category .package-illustrator-ess, .indesign-category .package-photoshop-ess {
  background-image: url('/images/training/adobe/indesign/indesign-category-sf8bc9463ca.png');
  background-repeat: no-repeat;
}

/*empty comment*/
/* line 18, ../scss/_custom/training/adobe/indesign/_indesign-category-add-styles.scss */
.indesign-category {
  /* Title is too long, minimise gap */
}
/* line 19, ../scss/_custom/training/adobe/indesign/_indesign-category-add-styles.scss */
.indesign-category .id-essentials-framed {
  background-position: 0 -466px;
  /*  
      // Calculate sprite map dimentions - currently not working due to path issues  
      $sprite-file: sprite-path($map);
      $sprite-width: image-width($sprite-file);
      $sprite-height: image-height($sprite-file);
  */
  width: 5.8%;
  display: block;
  height: 0;
  padding-bottom: 5.62424%;
  background-size: 280.30303%;
  background-position: 0 40.10327%;
  min-width: 55px;
  min-height: 55px;
  display: none;
}
/* line 27, ../scss/_custom/training/adobe/indesign/_indesign-category-add-styles.scss */
.indesign-category .custom-training-logo {
  background-position: 0 0;
  border: 1px solid #686F74;
  display: none;
}
/* line 33, ../scss/_custom/training/adobe/indesign/_indesign-category-add-styles.scss */
.indesign-category .id-essentials {
  background-position: 0 -570px;
  /*  
      // Calculate sprite map dimentions - currently not working due to path issues  
      $sprite-file: sprite-path($map);
      $sprite-width: image-width($sprite-file);
      $sprite-height: image-height($sprite-file);
  */
  width: 5%;
  display: block;
  height: 0;
  padding-bottom: 4.76563%;
  background-size: 289.0625%;
  background-position: 0 48.92704%;
  margin-left: 15px;
  min-width: 38px;
  min-height: 45px;
}
/* line 42, ../scss/_custom/training/adobe/indesign/_indesign-category-add-styles.scss */
.indesign-category .id-lite {
  background-position: 0 -812px;
  /*  
      // Calculate sprite map dimentions - currently not working due to path issues  
      $sprite-file: sprite-path($map);
      $sprite-width: image-width($sprite-file);
      $sprite-height: image-height($sprite-file);
  */
  width: 5%;
  display: block;
  height: 0;
  padding-bottom: 5.07576%;
  background-size: 280.30303%;
  background-position: 0 70.0604%;
  margin-left: 15px;
  min-width: 38px;
  min-height: 44px;
}
/* line 51, ../scss/_custom/training/adobe/indesign/_indesign-category-add-styles.scss */
.indesign-category .id-advanced {
  background-position: 0 -216px;
  /*  
      // Calculate sprite map dimentions - currently not working due to path issues  
      $sprite-file: sprite-path($map);
      $sprite-width: image-width($sprite-file);
      $sprite-height: image-height($sprite-file);
  */
  width: 5.8%;
  display: block;
  height: 0;
  padding-bottom: 5.6%;
  background-size: 212.64368%;
  background-position: 0 18.91419%;
  margin: -7px 0 0 2px;
  min-width: 49px;
  min-height: 48px;
}
/* line 60, ../scss/_custom/training/adobe/indesign/_indesign-category-add-styles.scss */
.indesign-category .id-longdocuments {
  background-position: 0 -919px;
  /*  
      // Calculate sprite map dimentions - currently not working due to path issues  
      $sprite-file: sprite-path($map);
      $sprite-width: image-width($sprite-file);
      $sprite-height: image-height($sprite-file);
  */
  width: 6%;
  display: block;
  height: 0;
  padding-bottom: 5.55963%;
  background-size: 169.72477%;
  background-position: 0 81.68889%;
  margin: 0 -8px 0 5px;
  min-width: 66px;
  min-height: 47px;
}
/* line 70, ../scss/_custom/training/adobe/indesign/_indesign-category-add-styles.scss */
.indesign-category .indesign-long-docs-title {
  padding-left: 5px !important;
}
/* line 74, ../scss/_custom/training/adobe/indesign/_indesign-category-add-styles.scss */
.indesign-category .id-interactivity {
  background-position: 0 -671px;
  /*  
      // Calculate sprite map dimentions - currently not working due to path issues  
      $sprite-file: sprite-path($map);
      $sprite-width: image-width($sprite-file);
      $sprite-height: image-height($sprite-file);
  */
  width: 6%;
  display: block;
  height: 0;
  padding-bottom: 5.55963%;
  background-size: 169.72477%;
  background-position: 0 59.64444%;
  margin: -12px -8px 0 5px;
  min-width: 65px;
  min-height: 56px;
}
/* line 83, ../scss/_custom/training/adobe/indesign/_indesign-category-add-styles.scss */
.indesign-category .id-accessibility {
  background-position: 0 -116px;
  /*  
      // Calculate sprite map dimentions - currently not working due to path issues  
      $sprite-file: sprite-path($map);
      $sprite-width: image-width($sprite-file);
      $sprite-height: image-height($sprite-file);
  */
  width: 6%;
  display: block;
  height: 0;
  padding-bottom: 3.63636%;
  background-size: 186.86869%;
  background-position: 0 9.94854%;
  margin: 3px -4px 0 15px;
  min-width: 59px;
  min-height: 48px;
}
/* line 92, ../scss/_custom/training/adobe/indesign/_indesign-category-add-styles.scss */
.indesign-category .id-epub {
  background-position: 0 -340px;
  /*  
      // Calculate sprite map dimentions - currently not working due to path issues  
      $sprite-file: sprite-path($map);
      $sprite-width: image-width($sprite-file);
      $sprite-height: image-height($sprite-file);
  */
  width: 6%;
  display: block;
  height: 0;
  padding-bottom: 7.81818%;
  background-size: 280.30303%;
  background-position: 0 29.82456%;
  min-width: 55px;
  min-height: 72px;
  float: right;
  margin-left: 10px;
}
/* line 101, ../scss/_custom/training/adobe/indesign/_indesign-category-add-styles.scss */
.indesign-category .package-indesign-ess {
  background-position: 0 -570px;
  /*  
      // Calculate sprite map dimentions - currently not working due to path issues  
      $sprite-file: sprite-path($map);
      $sprite-width: image-width($sprite-file);
      $sprite-height: image-height($sprite-file);
  */
  width: 5%;
  display: block;
  height: 0;
  padding-bottom: 4.76563%;
  background-size: 289.0625%;
  background-position: 0 48.92704%;
  min-width: 47px;
  min-height: 45px;
}
/* line 108, ../scss/_custom/training/adobe/indesign/_indesign-category-add-styles.scss */
.indesign-category .package-illustrator-ess {
  background-position: 0 -1060px;
  /*  
      // Calculate sprite map dimentions - currently not working due to path issues  
      $sprite-file: sprite-path($map);
      $sprite-width: image-width($sprite-file);
      $sprite-height: image-height($sprite-file);
  */
  width: 5%;
  display: block;
  height: 0;
  padding-bottom: 4.84615%;
  background-size: 284.61538%;
  background-position: 0 91.14359%;
  min-width: 47px;
  min-height: 45px;
}
/* line 115, ../scss/_custom/training/adobe/indesign/_indesign-category-add-styles.scss */
.indesign-category .package-photoshop-ess {
  background-position: 0 -1163px;
  /*  
      // Calculate sprite map dimentions - currently not working due to path issues  
      $sprite-file: sprite-path($map);
      $sprite-width: image-width($sprite-file);
      $sprite-height: image-height($sprite-file);
  */
  width: 5%;
  display: block;
  height: 0;
  padding-bottom: 4.84615%;
  background-size: 284.61538%;
  background-position: 0 100%;
  min-width: 47px;
  min-height: 45px;
}

/* Mixin for creating a responsive sprite 
* 
* $map - sprite map, created using sprite-map function
* $img - name of the png file in the map
* $map-width, $map-height - sprite map physical dimentions, these parameters should be
*                           calculated rather than passed in - currently not working, code is commented below
* $img-size-percent - required sprite size
*
*/
/* line 112, training/adobe/indesign/indesign-ess/*.png */
.indesign-ess-sprite, .indesign-course .id-essentials-framed, .indesign-course .course-classrom, .indesign-course .pdf, .indesign-course .indesign-cc-cs6, .indesign-course .course-custom-training-logo, .indesign-course .id-advanced, .indesign-course .id-essentials, .indesign-course .ps-ess, .indesign-course .il-ess {
  background-image: url('/images/training/adobe/indesign/indesign-ess-sbcd3b13a9f.png');
  background-repeat: no-repeat;
}

/*empty comment*/
/* line 19, ../scss/_custom/training/adobe/indesign/_indesign-essentials-add-styles.scss */
.indesign-course .id-essentials-framed {
  background-position: 0 -459px;
  /*  
      // Calculate sprite map dimentions - currently not working due to path issues  
      $sprite-file: sprite-path($map);
      $sprite-width: image-width($sprite-file);
      $sprite-height: image-height($sprite-file);
  */
  width: 5.8%;
  display: block;
  height: 0;
  padding-bottom: 5.62424%;
  background-size: 486.36364%;
  background-position: 0 45.94595%;
  min-width: 55px;
  min-height: 55px;
}
/* line 26, ../scss/_custom/training/adobe/indesign/_indesign-essentials-add-styles.scss */
.indesign-course .course-classrom {
  background-position: 0 -116px;
  /*  
      // Calculate sprite map dimentions - currently not working due to path issues  
      $sprite-file: sprite-path($map);
      $sprite-width: image-width($sprite-file);
      $sprite-height: image-height($sprite-file);
  */
  width: 5.8%;
  display: block;
  height: 0;
  padding-bottom: 3.23427%;
  background-size: 100%;
  background-position: 0 13.12217%;
  width: 77%;
  padding-bottom: 42%;
  border: 1px solid #000;
  margin-top: 5px;
  margin-left: 12px;
}
/* line 36, ../scss/_custom/training/adobe/indesign/_indesign-essentials-add-styles.scss */
.indesign-course .pdf {
  background-position: 0 -896px;
  /*  
      // Calculate sprite map dimentions - currently not working due to path issues  
      $sprite-file: sprite-path($map);
      $sprite-width: image-width($sprite-file);
      $sprite-height: image-height($sprite-file);
  */
  width: 5.8%;
  display: block;
  height: 0;
  padding-bottom: 5.8%;
  background-size: 501.5625%;
  background-position: 0 89.68969%;
  min-width: 32px;
  min-height: 32px;
  top: -3px;
}
/* line 44, ../scss/_custom/training/adobe/indesign/_indesign-essentials-add-styles.scss */
.indesign-course .indesign-cc-cs6 {
  background-position: 0 -767px;
  /*  
      // Calculate sprite map dimentions - currently not working due to path issues  
      $sprite-file: sprite-path($map);
      $sprite-width: image-width($sprite-file);
      $sprite-height: image-height($sprite-file);
  */
  width: 5.8%;
  display: block;
  height: 0;
  padding-bottom: 4.33782%;
  background-size: 269.7479%;
  background-position: 0 78.74743%;
  min-width: 115px;
  min-height: 93px;
  float: right;
  margin-right: -15px;
  margin-top: -10px;
}
/* line 54, ../scss/_custom/training/adobe/indesign/_indesign-essentials-add-styles.scss */
.indesign-course .course-custom-training-logo {
  background-position: 0 0;
  border: 1px solid #686F74;
}
/* line 59, ../scss/_custom/training/adobe/indesign/_indesign-essentials-add-styles.scss */
.indesign-course .id-advanced {
  background-position: 0 -335px;
  /*  
      // Calculate sprite map dimentions - currently not working due to path issues  
      $sprite-file: sprite-path($map);
      $sprite-width: image-width($sprite-file);
      $sprite-height: image-height($sprite-file);
  */
  width: 5.8%;
  display: block;
  height: 0;
  padding-bottom: 5.6%;
  background-size: 368.96552%;
  background-position: 0 34.21859%;
  margin-top: -9px;
  min-width: 65px;
  min-height: 63px;
}
/* line 68, ../scss/_custom/training/adobe/indesign/_indesign-essentials-add-styles.scss */
.indesign-course .id-essentials {
  background-position: 0 -563px;
  /*  
      // Calculate sprite map dimentions - currently not working due to path issues  
      $sprite-file: sprite-path($map);
      $sprite-width: image-width($sprite-file);
      $sprite-height: image-height($sprite-file);
  */
  width: 5.8%;
  display: block;
  height: 0;
  padding-bottom: 5.52813%;
  background-size: 501.5625%;
  background-position: 0 56.18762%;
  min-width: 50px;
  min-height: 50px;
}
/* line 76, ../scss/_custom/training/adobe/indesign/_indesign-essentials-add-styles.scss */
.indesign-course .ps-ess {
  background-position: 0 -1000px;
  /*  
      // Calculate sprite map dimentions - currently not working due to path issues  
      $sprite-file: sprite-path($map);
      $sprite-width: image-width($sprite-file);
      $sprite-height: image-height($sprite-file);
  */
  width: 5.8%;
  display: block;
  height: 0;
  padding-bottom: 5.62154%;
  background-size: 493.84615%;
  background-position: 0 100%;
  min-width: 50px;
  min-height: 50px;
}
/* line 83, ../scss/_custom/training/adobe/indesign/_indesign-essentials-add-styles.scss */
.indesign-course .il-ess {
  background-position: 0 -664px;
  /*  
      // Calculate sprite map dimentions - currently not working due to path issues  
      $sprite-file: sprite-path($map);
      $sprite-width: image-width($sprite-file);
      $sprite-height: image-height($sprite-file);
  */
  width: 5.8%;
  display: block;
  height: 0;
  padding-bottom: 5.62154%;
  background-size: 493.84615%;
  background-position: 0 66.4%;
  min-width: 50px;
  min-height: 50px;
}
