.cf:before, .cf:after {
	content: "";
	display: block
}
.cf:after {
	clear: both
}
.cf {
	zoom: 1
}
.participant + .participant {
	margin-top: 5px;
}
.participant input {
	float: left;
	width: 105px;
}
.participant input + input {
	float: right;
}
.quantity-field {
	width: 50px;
}
.pointer {
	cursor: pointer;
}


.large-view .participant input {
float: left;
width: 140px;
margin-right: 5px;
}