/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
- - - - - - - Course Category & Course Outline - - - - - - - - -  
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#header {
    display: none;
}
#content {
    display: none;
}
#comments {
    display: none;
}
#sidebar {
    display: none;
}
.footer-logo, .banner-row, .custom-training, .header-banner, .category-promo-section, .category-video {
    display: none;
}
.mega-menu {
    display: none;
}
.site-description {
    display: none;
}
.site-title {
    display: none;
}
.course-item-logo {
    display: none;
}
.tight-header-1 {
    font-size: 14px;
    display: block;
}
.custom-breadcrumbs {
    float: left;
}
.course-item {
    width: 129pt;
    float: left;
}
a[href]:after {
    content: none !important;
}
.courses-list > section > div > ul > li {
    height: 340px;
}
body > div.footer-bg > div.row.wrapbuckets > div:nth-child(1), body > div.footer-bg > div.row.wrapbuckets > div:nth-child(3) > ul > li:nth-child(6) > a {
    display: none;
}
.bucket {
    width: 30%;
    float: left;
}
body, p, .course-item .course-item-description {
    font-size: 12px !important;
}
h1 {
    font-size: 15px !important;
}
h2 {
    font-size: 14px !important;
}
h3 {
    font-size: 14px !important;
}
.course-item-logo {
    display: none !important;
}
.course-dates-promo, .download-pdf, .promo-grid {
    display: none;
}
.course-outline-block {
    float: left;
}
.course-outline > section > .nopadding {
    float: right;
    width: 50%;
}
.course-outline .testimonials {
    width: 400px;
}
.lower-aside-section .testimonials {
    display: block;
    max-width: 800px;
    width: 600px;
    height: 432px;
}
.related-courses {
    display: none;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
- - - - - - - - - - - - - - - - Calendar Dates - - - - - - - - -  
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.calendar-banner {
    display: none;
}
.cdt-calendar .tabs-content .content {
    display: block !important;
    float: none !important;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
- - - - - - - - - - - - - - - - Training Benefts - - - - - - - - -  
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.cdt-wtwu .wtwu-side-logo {
    display: none;
}
.cdt-wtwu .accordion .accordion-navigation > .content.active, .accordion dd > .content {
    display: block !important;
}
/*Training Room Hire*/

.room-hire .banner-image, .room-hire .win-mac-logo, .room-hire .room-hire-breakout {
    display: none;
}
/*Custom Training*/

.cdt-custom-training .private-training {
    display: none;
}
.cdt-custom-training .costs-section-details {
    min-height: 100px;
}
/*Location*/

.locations .city-location {
    width: 25%;
}
.locations .sydney, .locations .melbourne, .locations .brisbane, .locations .canberra {
    display: none;
}
.locations .city-intro {
    height: 15em;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
- - - - - - - - - - - - - - - - Homepage - - - - - - - - - - - 
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.homepage .orbit-container, .homepage .blue-bar {
    display: none;
}
.why-train-intro-text .why-train-block-left ul li, .why-train-intro-text .why-train-block-right ul li {
    font-size: 13px;
}
.why-train-intro-text .why-train-block-left .learn-more {
    display: none;
}
#panel1 > div > div.medium-8.large-9.columns > div {
    width: 20%;
}
#panel2 > div > div.medium-8.large-9.columns > div {
    width: 20%;
}
#panel3 > div > div.medium-8.large-9.columns > div {
    width: 20%;
}
#panel4 > div > div.medium-8.large-9.columns > div {
    width: 20%;
}
#panel5 > div > div.medium-8.large-9.columns > div {
    width: 30%;
}
#panel6 > div > div.medium-8.large-9.columns > div {
    width: 20%;
}
#panel7 > div > div.medium-8.large-9.columns > div {
    width: 30%;
}