
    @media only screen and (max-width: 40em) { 
         .contact-banner { 
            padding-left: 20px;
        }   
    }
    @media only screen and (min-width: 40.063em) and (max-width: 64em) {
         .contact-banner { 
            padding-top: 40px;
        }   
    }
    @media only screen and (min-width: 64.063em) {
        .contact-banner { 
            padding-top: 90px;
        }   
    }
.contact-us .mid-strong {
    font-weight: 500;
}
.contact-us, .contact-us p {
    font-size: 15px;
}



.ovw-module li {
    font-size: 19px;
    font-weight: 300;
}
.ovw-module p {
    font-size: 19px;
    font-weight: 300;
}

.pre-pod {
    border: 1px solid #000;
    border-radius: 10px;
    max-width: 200px;
    margin-left: 10px;
    padding-top: 8px;
}
.pod-arrow {
    padding-top: 30px;
  font-size: 32px;
  padding-left: 23px;
}
.pod-arrow-dwn {
    margin-left: 70px;
  font-size: 32px;
  padding-left: 23px;
}
.post-pod {
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #DAC5DC;
    max-width: 250px;
    margin-left: 10px;
    padding-top: 8px;
    margin-bottom: 10px;
}
.video-edit-bnr {
  background-color: #1F0026;
  height: 120px;
    padding-top: 30px;
    color: #fff;
}
.video-edit-bnr h1 {
    color: #fff;
}
.video-edit-bnr img {
    max-width: 80px;
  padding-top: 8px;
  padding-right: 12px;
}
.gts-nxt {
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #DAC5DC;
    padding-top: 10px;
        max-width: 250px;
}
.vid-edit-gradient {
    background-image: url(/images-dist/tips/gradient-top.jpg);
    background-position: center center;
    background-size: auto auto;
    height: 46px;
    background-repeat: repeat-x;
}

.vid-edit .intro p {
            font-size: 20px;
            font-weight: 300;
            line-height: 1.5em;
            margin-top: 10px;
}
.vid-edit .intro h2 {
            font-size: 36px;
            font-weight: 200;
            line-height: 1.38em;
}
.vid-edit .vid-edit-content h2 {
            border: 1px solid black;
            font-size: 26px;
            font-weight: 300;
            padding: 0px 5px 0px 5px;
            display: inline-block;
            margin-bottom: 10px;
            margin-top: 10px;
}

.vid-edit .vid-edit-content h3 {
            color: #2288d5;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.6em;
            text-transform: uppercase;
}


.vid-edit .vid-edit-content p {
        font-size: 14px;
            font-weight: 400;
            line-height: 1.5em;
}

.vid-edit .vid-edit-content .learn-dps-btn {
            padding-top: 5px;
            padding-right: 14px;
            padding-bottom: 5px;
            padding-left: 14px;
            font-size: 18px;
            background-color: #2288d5;
        }

.vid-edit .vid-edit-content .tip-icon {
            padding-right: 0;
            margin-right: 0;
            width: 56px;
        }

.vid-edit .vid-edit-content .tip-text {
            padding-left: 6px;
            padding-top: 5px;
        }

.vid-edit .vid-edit-content img {
            padding-bottom: 10px;
        }
.vid-edit a {
    text-decoration: underline;
    
}

@media only screen and (max-width: 40em) { 
    .video-edit-bnr h1 {
        font-size: 20px;
    }
    .vid-edit-content > .columns.medium-3.video-comp > img {
        max-width: 250px;
        margin: 20px 20px:
    }
    .gts-nxt {
        max-width: 250px;
        margin: 0 0 20px 20px;
    }
}