body, p {
    font-size: 14px;
}

.book-pay-later, .book-pay-later h3 {
    color: white;
}

.book-pay-later {
  padding: 10px 0;
  max-width: 420px;
  background-image: url(/images/training/adobe/indesign/indesign-ess/book-now-box.png);
  margin-bottom: 8px;
  background-size: cover;
  padding-bottom: 30px;
}

.book-pay-later.small-12.columns > p {
    margin-bottom: 0 !important;
    font-weight: 200;
    font-size: 16px;
}

.book-pay-later h3 {
    font-size: 26px;
    text-transform: uppercase;
}

.book-pay-later.small-12.columns > p.section-2 {
    margin-bottom: 0 !important;
    font-weight: 200;
    font-size: 20px;
}
.download-text{
    font-size: 15px !important;
    line-height: 1.2em !important;
}
body > main > div > div.row.upper-row > div.small-12.medium-4.columns.end.upper-side > section > div.small-12.columns.download-pdf > a > div.small-2.large-2.columns.pdf {
    min-width: 50px !important;
    min-height: 50px !important;
    margin-top: 5px; !important;
}


.book-pay-later-1.small-12.columns > p {
    margin-bottom: 0 !important;
    font-weight: 200;
    font-size: 18px;
    color: white;
}
.book-pay-later-1 {
  padding: 10px 0;
  max-width: 420px;
  background-image: url(/images/training/adobe/indesign/indesign-ess/book-now-box-1.png);
  margin-bottom: 8px;
  background-size: cover;
  padding-bottom: 25px;
}

body > main > div > div.row.upper-row > div.small-12.medium-4.columns.end.upper-side > section > div.small-12.columns.download-pdf {
      background-color: #E5E5E5;
  padding: 10px 8px;
    margin-bottom: 40px;
}


.book-pay-later-2.small-12.columns > p {
    margin-bottom: 0 !important;
    font-weight: 200;
    font-size: 18px;
    color: white;
}
.book-pay-later-2 {
  padding: 10px 0;
  max-width: 420px;
  background-image: url(/images/training/adobe/indesign/indesign-ess/book-now-box-2.png);
  margin-bottom: 8px;
  background-size: cover;
  padding-bottom: 25px;
}