@import "_custom/common";
@import "_custom/components/btn-shadow";

// Create sprite using Compass
@import "compass/utilities/sprites";
 
// Required for correct operation, must be named same as the sprite
business-tools-category-spacing: 40px; 

@import "training/online-marketing/business-tools-category/*.png";  

.business-tools-category {
    $map: $business-tools-category-sprites;

    .socialmedia-essentials {  
        @include business-tools-category-sprite(socialmedia-essentials); 
        @include responsive-sprite($map, socialmedia-essentials , 5.8%);
        min-width: 55px;
        min-height: 55px;
    } 

    .course-custom-training-logo {
         
        @include business-tools-category-sprite(custom-training); 
        @include responsive-sprite($map, custom-training , 100%);

 
        @media screen and (min-width: 420px) and (max-width: 639px) { 
           @include responsive-sprite($map, custom-training , 65%);
        }

        border: 1px solid #686F74; 
    }

    .ga-essentials {
        @include business-tools-category-sprite(ga-essentials); 
        @include responsive-sprite($map, ga-essentials, 5.8%);

        min-width: 50px;
        min-height: 50px; 
    }

    .linkedin-essentials {
        @include business-tools-category-sprite(linkedin-essentials); 
        @include responsive-sprite($map, linkedin-essentials, 5.8%);

        min-width: 50px;
        min-height: 50px;    
    }

    .seo-ess {
        @include business-tools-category-sprite(seo-ess); 
        @include responsive-sprite($map, seo-ess, 5.8%);

        min-width: 50px;
        min-height: 50px;    
    }

    @include btn-shadow($marketing-color);
}