@import "../../components/training/category";
 
.business-tools-category {
    @include category($marketing-color);

    // Media queries are not supported on older IE, to use borders on medium 
    // screens and up - define width in a way all browsers understand
    .tight-header-1 {
        @media #{$medium-up} {
            width: 480px;
        }
    }

    .tight-header-2 {
        @media #{$medium-up} {
            width: 376px;
        }
    }  

    .testimonials {
        height: 12em;
    }

    .side-pannel {
        @media #{$medium-up} {
            margin-top: 2em;
        }

        @media #{$large-up} {
            margin-top: 0;
        }
    }

    .course-item .course-item-description {
        @media #{$medium-up} {
            height: auto;
            margin-bottom: $margin-bottom-default / 2;
        }

        @media #{$large-up} {
            height: 18em;
            margin-bottom: $margin-bottom-default / 2;
        }
    }
} 
