// Importing fonts from google

// Custom breakpoints (currently similar to Foundation)
$cdt-custom-xs-screen-width: 30em; // 480px
$cdt-sm-screen-width: 40em;  // 640px
$cdt-custom-md-screen-width: 48em;  // 768px
$cdt-md-screen-width: 64em;  // 1024px
$cdt-lg-screen-width: 90em;  // 1440px
$cdt-xlg-screen-width: 120em; // 1920px
 
$margin-bottom-default: 24px;

body {
    font-family: Raleway, Helvetica, sans-serif;
}

// CDT colors 
$indesign-color: #C42A7C;
$digital-publishing-color: $indesign-color;
$photoshop-color: #79bdfe;
$illustrator-color: #fa9a02;
$acrobat-color: #d82631;
$flash-color: #fa1a20;
$desktop-package-color: #B680D4;
$html-css-color: #053c6a;
$dreamweaver-color: #81D629;
$web-color: #81d629;
$edge-color: #9d8bff;
$muse-color: #96be4a;
$wordpress-color: #1e8a9a;
$javascript-jquery-color: #656C70; //#454A4D;
$captivate-color: #3ac69d;
$marketing-color: #f06f2a;
$after-effects-color: #b979fb;
$premiere-pro-color: #d253fc;
$final-cut-pro-color: #32527f;
$online-courses-color: #2088D1;
$edge-animate-color: #9d8bff;
$audition-color: #14B29E; // #00dbbf;
$cc-new-features-color: #87060C; 

// Useful Common Functions

// Number rounding to closest required value
@function cdt-allign-to-number($val, $align-to) {
    @return ($align-to * floor(($val + $align-to - 1) / $align-to));
}

// Calulate top/bottom margin to position element in the middle of another element (container)
@function vertical-margin-calc($container-height, $elem-height) {
    @return (($container-height - $elem-height) / 2);
}

.show-link {
    text-decoration: underline;
}

// Usefull rules
.nopadding {
    padding-left: 0;
    padding-right: 0;
}

// Fill containing element
%cdt-full-height {
    height: 100%;
    width: 100%;
}
