// Importing fonts from google
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

// Custom breakpoints (currently similar to Foundation)
$medium-screen-width: 40.063em;
$large-screen-width: 64.063em;

body {
    font-family: Raleway, Helvetica, sans-serif;
}


// Set full height
%full-height {
    height: 100%;
    width: 100%;
}