@import "../../../bower_components/foundation/scss/foundation/components/breadcrumbs";

/* The following settings updated in _settings.scss file:
    $crumb-font-transform: none;
    $crumb-bg: #fff;
    $crumb-slash: ">";
    $crumb-border-size: 0;
    $crumb-border-style: none;
    $crumb-border-color: #fff;
    $crumb-padding: rem-calc(0 14 6 0);
*/

.custom-breadcrumbs {
    float: right;
    margin-right: 15px;

    @extend %t-small;
    @extend %t-emphasize;

    @include crumb-container;
    @include radius($crumb-radius);

    & > * {
        @include crumbs;
        font-transform: none; 
    }

    & > *:before {
        top: 0;
    }
}

