@import "border-radius"; 

@mixin btn-shadow($color: #000) {
    $color-str: $color + unquote("");

    $lighter-color: lighten($color, 15%);
    $lighter-color-str: $lighter-color + unquote("");

    $box-shadow-color: lighten($color, 50%);
    $border-color: darken($color, 15%);

    .book-now-btn {
            -moz-box-shadow:inset 0px 1px 0px 0px $box-shadow-color;
            -webkit-box-shadow:inset 0px 1px 0px 0px $box-shadow-color;
            box-shadow:inset 0px 1px 0px 0px $box-shadow-color;
            background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, $lighter-color), color-stop(1, $color) );
            background:-moz-linear-gradient( center top, $lighter-color 5%, $color 100% );
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=$lighter-color-str, endColorstr=$color-str);
            background-color:$lighter-color;
            text-indent:0;
            border:1px solid $border-color;
            display:inline-block;
            text-decoration:none;
            text-align:center;
            text-shadow:1px 1px 0px #707070;
            padding: 0 10px;
            color: #FFF;
            text-align: center; 
            font-weight: 500; 

            @include set-border-radius(4px);
    }

    .book-now-btn:hover {
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, $color), color-stop(1, $lighter-color) );
        background:-moz-linear-gradient( center top, $color 5%, $lighter-color 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=$color-str, endColorstr=$lighter-color-str);
        background-color:$color;
    }

    .book-now-btn:active {
        position:relative;
        top:1px;
    }
}