@mixin plus-minus-icon {

    //The accordion is closed
    .plus-minus-icon:before {
        font-family: "foundation-icons";
        content: "\f199";
    }

    //The accordion is open
    .active .plus-minus-icon:before {
        font-family: "foundation-icons";
        content: "\f176"; 
    }

    .plus-minus-icon {
        float: left;
        margin-right: 10px;
        margin-top: 2px;
        font-weight: 100;
        font-size: 0.75em;
        color: #959595;
        line-height: 1.7em;
        padding-left: 5px;
    }
}
