@mixin plus-minus-icon {

    //The accordion is closed
    .plus-minus-icon:before {
        content: "\2b";
    }

    //The accordion is open
    .active .plus-minus-icon:before {
        content: "\2d"; 
    } 
}

.plus-minus-icon {
    float: left;
    margin-right: 10px;
    margin-top: -7px;
    font-weight: 300;
    color: #959595;
    padding-left: 5px;
    font-size: 18px;
    line-height: 32px;
}
