@mixin responsive-table($color: #000) {
/*    .responsive{
        display: block;

        thead,
        tbody,
        th,
        td,
        tr { display: block; }
        thead tr { position: absolute; top: -9999px; left: -9999px; }
        tr { border: 1px solid #ccc; margin-bottom: 10px; }
        td { border: none; border-bottom: 1px solid #eee; position: relative; padding-left: 50%;}
        td:before { position: absolute; top: 6px; left: 6px; width: 40%; padding-right: 10px; text-align: left; word-wrap: break-word;}
        tr:first-child { position: absolute; top: -9999px; left: -9999px; }
        td:before { 
            content: attr(data-content); 
            height: 50px; 
            color: $color;
            font-weight: 600;
        }
        td.small-padding { padding-top: 5px; padding-bottom: 5px; }
        td.medium-padding { padding-top: 15px; padding-bottom: 15px; }
        td.large-padding { padding-top: 25px; padding-bottom: 25px; }
        td.row-name {font-weight: 600; text-align: center;}
    }
*/
    margin-bottom: 0;
    
    .pinned { 
        position: absolute; left: 0; top: 0; background: #fff; width: 35%; overflow: hidden; overflow-x: scroll; 
        border-right: 1px solid #ccc; border-left: 1px solid #ccc; 

        table { border-spacing: 0px; border-right: none; border-left: none; width: 100%; }
        table th, table td { white-space: nowrap; height: 112px; border: 1px solid #dbdbdb; border-spacing: 0px;}
        td:last-child { border-bottom: 0; }
    }

    div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: 1px solid #ccc; }
    div.table-wrapper div.scrollable { margin-left: 35%; }
    div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }  
    
    .responsive {
        border: none;
        border-spacing: 0px;

        td, th { position: relative; white-space: nowrap; overflow: hidden; height: 112px; border: 1px solid #dbdbdb;}
        th:first-child, td:first-child, td:first-child, .pinned td { display: none; }
    } 
}