@import "_custom/common";
@import "_custom/components/btn-shadow";

// Create sprite using Compass
@import "compass/utilities/sprites";
 
// Required for correct operation, must be named same as the sprite
$illustrator-lite-spacing: 40px; 

@import "training/adobe/illustrator/illustrator-lite/*.png";  

.illustrator-lite-course {
    $map: $illustrator-lite-sprites;

    .il-lite {  
        @include illustrator-lite-sprite(il-lite); 
        @include responsive-sprite($map, il-lite, 5.8%);
        min-width: 55px;
        min-height: 63px;
        margin-top: 26px !important;
    } 

    .course-classrom { 
        @include illustrator-lite-sprite(course-classrom); 
        @include responsive-sprite($map, course-classrom, 5.8%);
        width: 77%; 
        padding-bottom: 42%;
        border: 1px solid #000;
        margin-top: 5px;
        margin-left: 12px;
    }
 
    .pdf {
        @include illustrator-lite-sprite(pdf); 
        @include responsive-sprite($map, pdf, 5.8%);
        min-width: 32px;
        min-height: 32px;
        top: -3px;
    }

    .course-custom-training-logo {
         
        @include illustrator-lite-sprite(custom-training); 
        @include responsive-sprite($map, custom-training, 100%);

 
        @media screen and (min-width: 420px) and (max-width: 639px) { 
           @include responsive-sprite($map, custom-training, 65%);
        }

        border: 1px solid #686F74; 
    }

    .il-essentials {
        @include illustrator-lite-sprite(il-essentials); 
        @include responsive-sprite($map, il-essentials, 5.8%);
        margin-left: 20px;
        min-width: 50px;
        min-height: 50px;    
    }

    .ps-lite {
        @include illustrator-lite-sprite(ps-lite); 
        @include responsive-sprite($map, ps-lite, 5.8%);
        margin-left: 20px;
        min-width: 50px;
        min-height: 51px;    
    }

    .id-lite {
        @include illustrator-lite-sprite(id-lite); 
        @include responsive-sprite($map, id-lite, 5.8%);
        margin-left: 20px;
        min-width: 50px;
        min-height: 51px;    
    }

    .illustrator-cc-cs6 {
        @include illustrator-lite-sprite(illustrator-cc-cs6); 
        @include responsive-sprite($map, illustrator-cc-cs6, 5.8%);
        min-width: 115px;
        min-height: 100px; 
        float: right;
        margin-right: -15px;
        margin-top: -17px;
    }
     .testimonials {
        height: 56em;
    }
    @include btn-shadow($illustrator-color);
}