@import "../../../components/training/category";
 
.illustrator-category {
    @include category($illustrator-color);

    // Media queries are not supported on older IE, to use borders on medium 
    // screens and up - define width in a way all browsers understand
    .tight-header-1 {
        @media #{$medium-up} {
            width: 437px;
        }
    }

    .tight-header-2 {
        @media #{$medium-up} {
            width: 287px;
        }
    } 

    .course-item .course-book-now {
        background-color: lighten($illustrator-color, 10%); 
    }

    .testimonials {
        height: 10em;

        @media #{$medium-only} {
            height: 20em;
        }
    }
} 
