// Create sprite using Compass
@import "compass/utilities/sprites";
 
// Required for correct operation, must be named same as the sprite
$illustrator-category-spacing: 40px; 

@import "training/adobe/illustrator/illustrator-category/*.png"; 
.illustrator-category {
    $map: $illustrator-category-sprites;

    .il-essentials-framed { 
        @include illustrator-category-sprite(il-essentials-framed); 
        @include responsive-sprite($map, il-essentials-framed, 5.8%);
        min-width: 56px;
        min-height: 59px;
    } 

    .category-custom-training {
         
        @include illustrator-category-sprite(custom-training); 
        @include responsive-sprite($map, custom-training, 100%);

        @media screen and (min-width: 420px) and (max-width: 639px) { 
            @include responsive-sprite($map, custom-training, 65%);
        }
        
        border: 1px solid #686F74; 
    }

    .il-essentials {
        @include illustrator-category-sprite(il-essentials); 
        @include responsive-sprite($map, il-essentials, 5%);
        margin-left: 15px;

        min-width: 40px;
        min-height: 45px;    
    }

    .il-lite {
        @include illustrator-category-sprite(il-lite); 
        @include responsive-sprite($map, il-lite, 5%);
        margin-left: 15px;

        min-width: 40px;
        min-height: 44px;    
    }

    .il-advanced {
        @include illustrator-category-sprite(il-advanced); 
        @include responsive-sprite($map, il-advanced, 5.8%);
        margin: -7px 0 0 2px;

        min-width: 52px;
        min-height: 48px;    
    } 

    .training-packages-images {
        @media (min-width: 1025px) {
            margin: 6em 0 0 1em;
        }           
    }
    
    .package-indesign-ess {
        @include illustrator-category-sprite(id-essentials); 
        @include responsive-sprite($map, id-essentials, 5%);
        min-width: 47px;
        min-height: 45px; 
    }

    .package-illustrator-ess {
        @include illustrator-category-sprite(il-essentials); 
        @include responsive-sprite($map, il-essentials, 5%);
        min-width: 47px;
        min-height: 45px;    
    }

    .package-photoshop-ess {
        @include illustrator-category-sprite(ps-essentials); 
        @include responsive-sprite($map, ps-essentials, 5%);
        min-width: 47px;
        min-height: 45px;    
    }
} 
