@import "_custom/common";
@import "_custom/components/btn-shadow";

// Create sprite using Compass
@import "compass/utilities/sprites";
 
// Required for correct operation, must be named same as the sprite
$photoshop-web-spacing: 40px; 

@import "training/adobe/photoshop/photoshop-web/*.png";  

.photoshop-web-course {
    $map: $photoshop-web-sprites;

    .ps-web-framed {  
        @include photoshop-web-sprite(ps-web-framed); 
        @include responsive-sprite($map, ps-web-framed, 5.8%);
        min-width: 55px;
        min-height: 55px;
    } 

    .course-classrom { 
        @include photoshop-web-sprite(course-classrom); 
        @include responsive-sprite($map, course-classrom, 5.8%);
        width: 77%; 
        padding-bottom: 42%;
        border: 1px solid #000;
        margin-top: 5px;
        margin-left: 12px;
    }
 
    .pdf {
        @include photoshop-web-sprite(pdf); 
        @include responsive-sprite($map, pdf, 5.8%);
        min-width: 32px;
        min-height: 32px;
        top: -3px;
    }

    .course-custom-training-logo {
         
        @include photoshop-web-sprite(custom-training); 
        @include responsive-sprite($map, custom-training, 100%);

 
        @media screen and (min-width: 420px) and (max-width: 639px) { 
           @include responsive-sprite($map, custom-training, 65%);
        }

        border: 1px solid #686F74; 
    }

    .ps-lite {
        @include photoshop-web-sprite(ps-lite); 
        @include responsive-sprite($map, ps-lite, 5.8%);

        margin-left: 21px;
        min-width: 52px;
        min-height: 51px;
    }

    .ps-essentials {
        @include photoshop-web-sprite(ps-essentials); 
        @include responsive-sprite($map, ps-essentials, 5.8%);
    
        margin-left: 21px;
        min-width: 50px;
        min-height: 50px;    
    }
     .testimonials {
        height: 56em;
    }
    @include btn-shadow(darken($photoshop-color, 15%));
}