/* Push up the custom training to compensate for no image */
.photoshop-category {
    /* Hide all sprites */
    .ps-essentials-framed, 
    .ps-category-custom-training, 
    .ps-essentials, 
    .ps-lite, 
    .ps-advanced, 
    .ps-web,
    .ps-retouching, 
    .ps-lr, 
    .package-indesign-ess, 
    .package-illustrator-ess, 
    .package-photoshop-ess {
        display: none;
    }

    p {
        margin-bottom: 24px;
    }

    .category-description-section {
        padding-right: 16px;
        margin-bottom: 0;
    }
}