@import "_custom/common";
@import "_custom/components/btn-shadow";

// Create sprite using Compass
@import "compass/utilities/sprites";
 
// Required for correct operation, must be named same as the sprite
$photoshop-lr-spacing: 40px; 

@import "training/adobe/photoshop/photoshop-lr/*.png";  

.photoshop-lr-course {
    $map: $photoshop-lr-sprites;

    .ps-lr-framed {  
        @include photoshop-lr-sprite(ps-lr-framed); 
        @include responsive-sprite($map, ps-lr-framed, 5.8%);
        min-width: 55px;
        min-height: 57px;
    } 

    .course-classrom { 
        @include photoshop-lr-sprite(course-classrom); 
        @include responsive-sprite($map, course-classrom, 5.8%);
        width: 77%; 
        padding-bottom: 42%;
        border: 1px solid #000;
        margin-top: 5px;
        margin-left: 12px;
    }
 
    .pdf {
        @include photoshop-lr-sprite(pdf); 
        @include responsive-sprite($map, pdf, 5.8%);
        min-width: 32px;
        min-height: 32px;
        top: -3px;
    }

    .course-custom-training-logo {
         
        @include photoshop-lr-sprite(custom-training); 
        @include responsive-sprite($map, custom-training , 100%);

 
        @media screen and (min-width: 420px) and (max-width: 639px) { 
           @include responsive-sprite($map, custom-training , 65%);
        }

        border: 1px solid #686F74;  
    }
     .testimonials {
        height: 102em;
    }
    @include btn-shadow(darken($photoshop-color, 15%));
}