@import "_custom/common";
@import "_custom/components/btn-shadow";

// Create sprite using Compass
@import "compass/utilities/sprites";
 
// Required for correct operation, must be named same as the sprite
$photoshop-essentials-spacing: 40px; 

@import "training/adobe/photoshop/photoshop-essentials/*.png";  

.photoshop-essentials-course {
    $map: $photoshop-essentials-sprites;

    .ps-essentials-framed {  
        @include photoshop-essentials-sprite(ps-essentials-framed); 
        @include responsive-sprite($map, ps-essentials-framed, 5.8%);
        min-width: 55px;
        min-height: 55px;
    } 

    .course-classrom { 
        @include photoshop-essentials-sprite(course-classrom); 
        @include responsive-sprite($map, course-classrom, 5.8%);
        width: 77%; 
        padding-bottom: 42%;
        border: 1px solid #000;
        margin-top: 5px;
        margin-left: 12px;
    }
 
    .pdf {
        @include photoshop-essentials-sprite(pdf); 
        @include responsive-sprite($map, pdf, 5.8%);
        min-width: 32px;
        min-height: 32px;
        top: -3px;
    }

    .course-custom-training-logo {
         
        @include photoshop-essentials-sprite(custom-training); 
        @include responsive-sprite($map, custom-training, 100%);

 
        @media screen and (min-width: 420px) and (max-width: 639px) { 
           @include responsive-sprite($map, custom-training, 65%);
        }

        border: 1px solid #686F74; 
    }

    .ps-advanced {
        @include photoshop-essentials-sprite(ps-advanced); 
        @include responsive-sprite($map, ps-advanced, 5.8%);

        margin-top: -13px;
        min-width: 60px;
        min-height: 58px;
    }

    @mixin package-training-logo {
        min-width: 45px;
        min-height: 47px;
    }   

    .ps-essentials {
        @include photoshop-essentials-sprite(ps-essentials); 
        @include responsive-sprite($map, ps-essentials, 5.8%);

        @include package-training-logo; 
    }

    .id-essentials {
        @include photoshop-essentials-sprite(id-essentials); 
        @include responsive-sprite($map, id-essentials, 5.8%);

        @include package-training-logo;    
    }

    .il-ess {
        @include photoshop-essentials-sprite(il-ess); 
        @include responsive-sprite($map, il-ess, 5.8%);

        @include package-training-logo; 
    }

    .id-essentials-related,
    .il-ess-related {
        margin-left: 15px;
    }
     .testimonials {
        height: 70em;
    }

    @include btn-shadow(darken($photoshop-color, 15%));
}