.adobe-getting-started {
     h2 {
         font-size: 36px;
         font-weight: 200; 
         line-height: 1.5em;
     }
    .gt-intro {
        p {
            font-size: 20px;
            font-weight: 300;
            line-height: 1.5em;
        }
    }
    h3 {
        border: 1px solid rgb(0, 0, 0);
        display: inline-block;
        font-size: 26px;
        font-weight: 300;
        padding: 5px 10px;
    }
    h4 {
        color: #2288d5;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        padding-top: 10px;
    }
    p {
        font-size: 15px;
        font-weight: 400;
        padding-bottom: 5px;
    }
    ul li {
        font-size: 15px;
        line-height: 1.5em;
    }
    .cc-video {
        iframe {
            min-height: 300px;
            min-width: 450px;
            padding-bottom: 20px;
        }
        @media only screen and (max-width: 40em) {
            iframe {
                min-height: 250px;
                min-width: 350px;
            }
        }
    }
}
.gts-banner {
    background-image: url(/images-dist/tips/adobe-software-banner.jpg);
    background-position: center center;
    background-size: cover;
    height: 120px;
    .bn-cc-icon {
        margin-right: 0;
        padding-right: 0;
        padding-top: 30px;
        width: 90px;
        height: 90px;
    }
    h1 {
        font-size: 36px;
        font-weight: 200;
        line-height: 1.38em;
        padding-top: 20px;
    }
    p {
        font-size: 22px;
        font-weight: 500;
        line-height: 1.38em;
    }
    
@media only screen and (max-width: 40em) {
    h1 {
        font-size: 22px;
        font-weight: 600;
        padding-top: 24px;
    }
        
    }
}
.gts-gradient {
background-image: url(/images-dist/tips/gradient-top.jpg);
    background-position: center center;
    background-size: auto auto;
    height: 46px;
    background-repeat: repeat-x;
}