/* Push up the custom training to compensate for no image */
.html-css-category {
    /* Hide all sprites */
    .html-css, 
    .html-ess, 
    .html5css, 
    .htmlnews, 
    .custom-training {
        display: none;
    }

    p {
        margin-bottom: 24px;
    }

    .category-description-section {
        padding-right: 16px;
        margin-bottom: 0;
    }
}