@import "../../components/catalog";

// Create sprite using Compass
@import "compass/utilities/sprites";
@import "training/adobe/indesign/indesign-catalog/*.png";

$map: sprite-map("training/adobe/indesign/indesign-catalog/*.png", $spacing: 20px); /*empty comment*/
$icon: custom-training;

    $icon-file: sprite-file($map, $icon);
    $icon-width: image-width($icon-file);
    $icon-height: image-height($icon-file);
     
    $sprite-width: 185px;
    $sprite-height: 826px;
     
    $space-top: floor(nth(sprite-position($map, $icon), 2));
    @if $space-top == 0 {
        $space-top: 0px
    }
     







$indesign-catalog-spacing: 20px;

$id-essentials-framed-height: indesign-catalog-sprite-height(id-essentials-framed);
$id-essentials-framed-width: indesign-catalog-sprite-width(id-essentials-framed);

$id-accessibility-height: indesign-catalog-sprite-height(id-accessibility);
$id-accessibility-width: indesign-catalog-sprite-width(id-accessibility);

$id-advanced-height: indesign-catalog-sprite-height(id-advanced);
$id-advanced-width: indesign-catalog-sprite-width(id-advanced);

$id-epub-height: indesign-catalog-sprite-height(id-epub);
$id-epub-width: indesign-catalog-sprite-width(id-epub);

$iid-essentials-height: indesign-catalog-sprite-height(id-essentials);
$id-essentials-width: indesign-catalog-sprite-width(id-essentials);

$id-interactivity-height: indesign-catalog-sprite-height(id-interactivity);
$id-interactivity-width: indesign-catalog-sprite-width(id-interactivity);

$id-lite-height: indesign-catalog-sprite-height(id-lite);
$id-lite-width: indesign-catalog-sprite-width(id-lite);

$id-longdocuments-height: indesign-catalog-sprite-height(id-longdocuments);
$id-longdocuments-width: indesign-catalog-sprite-width(id-longdocuments);

$il-ess-height: indesign-catalog-sprite-height(il-ess);
$il-ess-width: indesign-catalog-sprite-width(il-ess);

$ps-ess-height: indesign-catalog-sprite-height(ps-ess);
$ps-ess-width: indesign-catalog-sprite-width(ps-ess);

$indesign-color: #f442a9;

.indesign-catalog {
    @include catalog($id-essentials-framed-height, $indesign-color);
}

.id-essentials-framed { 
    @include indesign-catalog-sprite(id-essentials-framed); 

    height: $id-essentials-framed-height; 
    width: $id-essentials-framed-width;
}

.custom-training-logo {
//    @include responsive-sprite($map, custom-training);
    width:percentage($sprite-width / $icon-width);
    display: block;
    height: 0;
    padding-bottom: percentage($icon-height / $icon-width);
    background-size: 100%;
    background-position:0 percentage(-1 * $space-top / ( $sprite-height - $icon-height ));
    @include indesign-catalog-sprite(custom-training); 
}
