@import "../../components/catalog";

// Create sprite using Compass
@import "compass/utilities/sprites";
@import "../images/training/adobe/indesign/indesign-catalog/*.png";

$indesign-catalog-spacing: 20px;

$id-essentials-framed-height: indesign-catalog-sprite-height(id-essentials-framed);
$id-essentials-framed-width: indesign-catalog-sprite-width(id-essentials-framed);

$custom-training-height: indesign-catalog-sprite-height(custom-training);
$custom-training-width: indesign-catalog-sprite-width(custom-training);

$id-accessibility-height: indesign-catalog-sprite-height(id-accessibility);
$id-accessibility-width: indesign-catalog-sprite-width(id-accessibility);

$id-advanced-height: indesign-catalog-sprite-height(id-advanced);
$id-advanced-width: indesign-catalog-sprite-width(id-advanced);

$id-epub-height: indesign-catalog-sprite-height(id-epub);
$id-epub-width: indesign-catalog-sprite-width(id-epub);

$iid-essentials-height: indesign-catalog-sprite-height(id-essentials);
$id-essentials-width: indesign-catalog-sprite-width(id-essentials);

$id-interactivity-height: indesign-catalog-sprite-height(id-interactivity);
$id-interactivity-width: indesign-catalog-sprite-width(id-interactivity);

$id-lite-height: indesign-catalog-sprite-height(id-lite);
$id-lite-width: indesign-catalog-sprite-width(id-lite);

$id-longdocuments-height: indesign-catalog-sprite-height(id-longdocuments);
$id-longdocuments-width: indesign-catalog-sprite-width(id-longdocuments);

$il-ess-height: indesign-catalog-sprite-height(il-ess);
$il-ess-width: indesign-catalog-sprite-width(il-ess);

$ps-ess-height: indesign-catalog-sprite-height(ps-ess);
$ps-ess-width: indesign-catalog-sprite-width(ps-ess);

$indesign-color: #f442a9;

.indesign-catalog-banner {
    @include catalog($id-essentials-framed-height, $indesign-color);
}

.id-essentials-framed { 
    @include indesign-catalog-sprite(id-essentials-framed); 

    height: $id-essentials-framed-height; 
    width: $id-essentials-framed-width;
}
